<!DOCTYPE html>
<html lang="ko">

<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body class="layout-boxed">

  <%- include ("../partials/loader.ejs") %>

  <%- include ("../partials/client-nav.ejs") %>
  <%- include ("../partials/chatMark.ejs") %>

  <!--  BEGIN MAIN CONTAINER  -->
  <div class="main-container" id="container">

    <div class="overlay"></div>
    <div class="search-overlay"></div>

    <%- include ("../partials/client-sidebar.ejs") %>

    <!--  BEGIN CONTENT AREA  -->
    <div id="content" class="main-content">
      <div class="layout-px-spacing">

        <div class="middle-content p-0">

          <!-- BREADCRUMB -->
          <div class="row px-3 mt-3">
            <div class="breadcrumb">
              <div class="col-3">
                <h6 class="main-menu">
                  <%= __('Service') %>
                </h6>
                <div class="menu">
                    <%= __('Documents') %>
                  </div>
              </div>
            </div>
          </div>

          <div class="row px-3 ">
            <div class="ms-1 p-3">
              <div class="col-3">
                <h4><strong>
                    <%= __('Management') %>
                  </strong></h4>
              </div>
            </div>
          </div>

          <!-- CONTENT AREA -->
          <div class="row px-3 justify-content-center">
            <div class="col-xxl-12 col-xl-12 col-md-12 col-sm-12 ms-1 ps-3">

              <div class="widget w-100 p-5">

                <div>
                  <!-- 제목 -->
                  <div class="form-control my-3 p-3">
                    <div class="d-flex justify-content-between h6 m-0">
                      <!-- 프로젝트 명-->
                      <div class="col-4"><%= project.project_name %></div>
                      <!-- 문서 제목-->
                      <div class="col-4 text-center"><%= project.document.title %></div>
                      <!-- 생성일 -->
                      <div class="col-4 text-end"><%= formatDate(project.update_date) %></div>
                    </div>
                  </div>
                  <!-- 메시지 -->
                  <div class="m-4">
                    <%= project.document.message %>
                  </div>
                </div>

                <!-- 파일 -->
                <div class="text-black">
                  <i class="fa-regular fa-file-lines"></i>
                  <span><%= __('File') %></span>
                </div>
                <hr>
                <% if(project.document.file_paths) { %>
                <%
                  let file = path.parse(project.document.file_paths);
                  let filename = "";
                
                  file.name.split('-')[2].split('_').forEach((code,index)=>{
                    filename += String.fromCodePoint(parseInt(code,36));
                  })
                %>
                <div class="d-flex justify-content-between h6 px-3">
                  <div class="align-self-center text-gray">
                    <i class="fa-solid fa-download"></i>
                    <span><%= filename + file.ext %></span>
                  </div>
                  <div>
                    <a download="<%= filename + file.ext %>" class="w-auto btn btn-outline-primary px-3" href="<%= project.document.file_paths %>">
                      <%= __('Download') %>
                    </a>
                  </div>
                </div>
                <% } %>

                <hr>

                <!-- 네비게이션 -->
                <div class="text-center d-flex justify-content-center">
                  <div class="m-3 hover">
                    <a href="<%= codezip.url.users.documents %>">
                      <h6>
                        <%= __('btn.목록') %>
                      </h6>
                    </a>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  END CONTENT AREA  -->

  <%- include ("../partials/footer.ejs") %>

  </div>
  <!-- END MAIN CONTAINER -->

  <%- include ("../partials/commonScrpits.ejs") %>

  <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
  <script>
    window.addEventListener('load', e => {
      document.getElementsByClassName("menu")[6].classList.add("custom-active");
    })
  </script>

  <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
</body>

</html>