  <div class="l-navbar" id="navbar">
    <nav class="nav">
      <div>
        <div class="nav__brand">
          <i class="nav__toggle fa-solid fa-bars" id="nav-toggle"></i>
          <a href="<%= codezip.url.admin.users.main %>" class="nav__logo"><%= __('web.title') %></a>

          <!-- <div class="navbar-btn p-2 text-center">
            <button type="button">
              >>
            </button>
          </div> -->
        </div>



        <div class="nav__list">

          <div class="p-2 ms-1">
            <i class="fa-solid fa-user-group nav__toggle p-0"></i>
            <span class="nav_name"><%= __('admin.menu.회원관리') %></span>

            <ul class="menu">
              <li><a href="<%= codezip.url.admin.users.main %>" class="sublink"><%= __('admin.menu.회원관리.개인정보') %></a></li>
            </ul>
          </div>


          <div class="p-2 ms-1">
            <i class="fa-solid fa-list-check nav__toggle p-0"></i>
            <span class="nav_name"><%= __('admin.menu.제품관리') %></span>

            <ul class="menu">
              <li><a href="<%= codezip.url.admin.formula.main %>" class="sublink"><%= __('admin.menu.제품관리.내용물') %></a></li>
              <li><a href="<%= codezip.url.admin.packaging.main %>" class="sublink"><%= __('admin.menu.제품관리.용기') %></a></li>
              <li><a href="<%= codezip.url.admin.ingredient.main %>" class="sublink"><%= __('admin.menu.제품관리.원료') %></a></li>
            </ul>
          </div>

          <a href="<%= codezip.url.admin.news.main %>" class="nav__link">
            <svg xmlns:x="http://ns.adobe.com/Extensibility/1.0/" xmlns:i="http://ns.adobe.com/AdobeIllustrator/10.0/" xmlns:graph="http://ns.adobe.com/Graphs/1.0/" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="레이어_1" x="0px" y="0px" viewBox="0 0 16.4 18.2" style="enable-background:new 0 0 16.4 18.2;" xml:space="preserve" fill="currentColor" stroke-linecap="round" stroke-linejoin="round" width="1.25rem" height="1.25rem">
              <switch>
                <g i:extraneous="self">
                  <g>
                    <path d="M10.2,10.6h-7c-0.3,0-0.6,0.3-0.6,0.6s0.3,0.6,0.6,0.6h7c0.3,0,0.6-0.3,0.6-0.6S10.5,10.6,10.2,10.6z" />
                    <path d="M10.2,13.6h-7c-0.3,0-0.6,0.3-0.6,0.6s0.3,0.6,0.6,0.6h7c0.3,0,0.6-0.3,0.6-0.6S10.5,13.6,10.2,13.6z" />
                    <path d="M10.2,2.8h-7c-0.3,0-0.6,0.3-0.6,0.6v5C2.6,8.8,2.9,9,3.2,9h7c0.3,0,0.6-0.3,0.6-0.6v-5     C10.8,3.1,10.6,2.8,10.2,2.8z M9.6,7.8H3.8V4h5.8V7.8z" />
                    <path d="M14.3,6.8h-0.9V1.5c0-0.9-0.7-1.5-1.5-1.5H1.5C0.7,0,0,0.7,0,1.5v14.5c0,1.2,0.9,2.1,2.1,2.1h12.1     c0,0,0.1,0,0.1,0c1.2,0,2.1-0.9,2.1-2.1V8.9C16.4,7.8,15.5,6.8,14.3,6.8z M2.1,17c-0.5,0-0.9-0.4-0.9-0.9V1.5     c0-0.2,0.2-0.3,0.3-0.3h10.3c0.2,0,0.3,0.2,0.3,0.3v14.5c0,0.3,0.1,0.6,0.2,0.9H2.1z M15.2,16.1c0,0.5-0.4,0.9-0.9,0.9     s-0.9-0.4-0.9-0.9V8h0.9c0.5,0,0.9,0.4,0.9,0.9V16.1z" />
                  </g>
                </g>
              </switch>
            </svg>
            <span class="nav_name"><%= __('admin.menu.공지사항') %></span>
          </a>
          <a href="<%= codezip.url.admin.community.main %>" class="nav__link">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 76 79" fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" enable-background="new 0 0 76 79" xml:space="preserve" width="1.25rem" height="1.25rem">
              <path d=" M25.155777,7.963665   C40.179207,1.803350 56.967968,5.884442 67.349892,19.030041   C75.288773,29.082272 78.133476,43.187805 71.355103,57.284161   C60.718136,79.404892 32.602779,84.636047 14.266804,68.624016   C0.376286,56.494022 -1.421734,33.007725 10.068897,19.704878   C14.085155,15.055204 19.818537,11.888733 25.155777,7.963665  M9.988409,50.330986   C10.614675,52.129116 11.240939,53.927250 11.878201,55.756958   C15.772941,54.193386 19.303852,52.775875 22.998999,51.292431   C22.998999,45.801323 23.174013,40.314350 22.879189,34.852741   C22.802971,33.440804 21.561731,31.587959 20.315285,30.848539   C17.770979,29.339199 14.859478,28.448845 11.887424,27.215633   C9.102835,34.705311 6.474442,41.822758 9.988409,50.330986  M54.419350,50.869911   C58.044697,52.598644 61.670048,54.327381 65.422432,56.116692   C70.344208,46.158077 70.480667,36.571697 65.362221,26.990536   C62.012985,28.492199 59.098633,29.573059 56.450363,31.111847   C55.554176,31.632578 54.953251,33.283699 54.865574,34.466290   C54.479561,39.672844 54.330376,44.896961 54.419350,50.869911  M29.000019,45.317944   C29.069941,46.782242 29.139864,48.246544 29.199562,49.496742   C35.917248,49.496742 42.325184,49.496742 48.644768,49.496742   C48.644768,43.936329 48.644768,38.539474 48.644768,33.510284   C41.986240,33.510284 35.689625,33.510284 29.000000,33.510284   C29.000000,37.091839 29.000000,40.728218 29.000019,45.317944  M33.934887,15.591733   C32.560493,19.175898 31.186102,22.760061 29.193863,27.955452   C35.082687,27.955452 39.953918,28.105547 44.797215,27.805231   C45.589005,27.756138 47.097878,25.448475 46.839233,24.649736   C45.653259,20.987312 44.503853,17.100006 42.312244,14.027460   C39.220207,9.692543 37.554916,10.143115 33.934887,15.591733  M46.097496,60.601860   C47.781860,58.180210 47.363861,55.720730 44.532711,55.392693   C39.796650,54.843937 34.950794,55.242779 29.302038,55.242779   C32.291130,62.277779 32.300404,69.200844 40.347008,72.575691   C42.289185,68.742332 44.147812,65.073875 46.097496,60.601860  M59.958549,21.454937   C56.921970,18.913721 53.885387,16.372503 50.848808,13.831286   C50.607891,14.069037 50.366974,14.306789 50.126057,14.544541   C51.261078,18.218292 52.396103,21.892044 53.714096,26.158005   C56.133530,24.654329 58.272324,23.325075 59.958549,21.454937  M57.964096,63.548122   C58.886665,62.521103 59.809231,61.494083 60.951797,60.222157   C58.154640,59.133457 55.763325,58.202721 53.553574,57.342651   C52.431568,61.140038 51.350395,64.799225 49.993244,69.392464   C52.892952,67.310020 55.169827,65.674873 57.964096,63.548122  M26.812880,16.663057   C27.035858,15.843527 27.258837,15.023997 27.845175,12.868990   C23.555183,16.555702 20.271193,19.377882 16.757700,22.397289   C19.405811,23.670071 21.522028,24.687204 23.886675,25.823740   C24.746155,22.767651 25.527218,19.990389 26.812880,16.663057  M27.258713,67.753708   C26.504751,65.461395 25.549980,63.212063 25.047802,60.865860   C24.424034,57.951580 23.172165,57.219532 20.589867,58.829437   C19.570868,59.464722 18.418732,59.886448 16.016214,61.028751   C20.464281,63.804764 24.080881,66.061867 27.258713,67.753708  z" />
            </svg>
            <span class="nav_name"><%= __('admin.menu.커뮤니티') %></span>
          </a>

          <a href="<%= codezip.url.admin.changingPassword %>" class="nav__link">
            <!-- 암호를 재설정 아이콘  제작자: Freepik - Flaticon -->
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="currentColor" stroke="currentColor" width="1.25rem" viewBox="0 0 512 512" enable-background="new 0 0 512 512" xml:space="preserve">
              <path d=" M185.539368,1.000000   C199.082733,8.968014 212.142029,16.974880 225.255737,24.891584   C235.502823,31.077724 237.853836,38.852737 232.126709,49.309376   C225.325943,61.726273 218.355133,74.051956 211.314255,86.334763   C206.271164,95.132462 197.232529,97.873734 189.246033,93.278610   C181.587555,88.872215 179.517502,79.828598 184.140350,71.007301   C184.970520,69.423203 186.270828,67.990410 185.853851,65.922859   C184.259750,64.946243 182.909241,66.074913 181.662598,66.608749   C112.482254,96.233604 68.418266,147.653168 56.036480,221.804413   C41.963284,306.085083 72.001724,374.547974 140.761948,425.317810   C164.650665,442.956268 191.971680,453.496490 221.269745,458.748016   C229.443405,460.213043 234.601624,465.909607 235.217529,473.552246   C235.706528,479.620392 231.521225,486.038513 225.455658,488.442474   C221.581604,489.977905 217.564667,489.695740 213.643539,488.877472   C136.373611,472.753021 79.926193,429.368256 44.719414,358.796814   C32.062016,333.425293 25.009930,306.297882 22.561697,277.940186   C17.931459,224.308517 29.983313,174.689651 58.843952,129.460251   C85.897354,87.063095 123.200432,56.570900 169.943542,37.774063   C172.681274,36.673145 175.415970,35.564735 179.541931,33.898540   C172.714096,29.725302 166.191879,26.471119 164.994827,18.713354   C163.797424,10.953459 167.485184,5.634165 173.798767,1.265706   C177.692902,1.000000 181.385818,1.000000 185.539368,1.000000  z" />
              <path d=" M328.460632,513.000000   C315.069916,505.099457 302.194946,497.106750 289.192505,489.327118   C278.491516,482.924500 276.148743,475.061768 282.166199,464.205078   C288.949341,451.966888 295.780060,439.754669 302.658295,427.569672   C307.412354,419.147736 316.422729,416.268646 324.368805,420.510803   C331.902557,424.532837 334.349365,433.673340 330.264771,442.167969   C329.364410,444.040405 327.663452,445.643951 327.918610,448.088562   C330.123260,448.899567 331.871124,447.644653 333.607544,446.889313   C402.072693,417.106964 444.610138,365.696198 458.238251,292.373505   C478.551422,183.083817 406.199005,78.272293 296.768311,56.145084   C294.331726,55.652397 291.856781,55.197868 289.523346,54.374973   C282.026794,51.731281 277.545807,44.238987 279.067963,37.187336   C280.869019,28.843708 287.215271,23.657570 295.655853,24.606009   C310.439331,26.267170 324.698730,30.388449 338.540710,35.682735   C401.845886,59.895699 447.011200,103.272713 473.988525,165.363770   C483.856415,188.075745 489.476318,211.964828 491.434113,236.742157   C496.669769,303.003174 477.564758,361.458771 434.593384,411.850037   C409.302338,441.507996 378.005676,463.248444 341.502289,477.267456   C339.490204,478.040192 337.492737,478.850983 334.662170,479.970978   C340.714172,484.130066 347.448761,487.034912 348.887573,494.798248   C350.376312,502.830872 346.599396,508.196991 340.209656,512.741394   C336.307098,513.000000 332.614166,513.000000 328.460632,513.000000  z" />
              <path d=" M164.657349,211.448883   C163.470566,186.657822 169.139374,164.198547 184.888885,145.291702   C209.373367,115.898804 241.097992,104.443275 278.212738,113.276726   C315.764435,122.214180 338.706329,147.049530 347.467163,184.804031   C349.447754,193.339371 349.504364,201.966614 349.278076,210.611313   C349.194427,213.805695 350.170593,215.813065 352.898743,217.569611   C365.934784,225.963013 372.431061,237.908356 372.441986,253.546829   C372.462616,283.030396 372.628876,312.514893 372.940796,341.996826   C373.112610,358.236328 368.769623,372.248169 354.853119,382.029297   C348.131683,386.753418 340.691254,389.352386 332.446960,389.354736   C282.132874,389.369141 231.818680,389.415100 181.504791,389.315460   C160.768265,389.274414 142.121262,371.579803 141.765793,350.755798   C141.257095,320.955017 141.609238,291.139771 141.556015,261.330780   C141.546219,255.840454 140.977463,250.288147 142.108383,244.895950   C144.501205,233.487152 150.386566,224.291595 160.349365,217.939072   C162.614716,216.494614 165.082352,215.234390 164.657349,211.448883  M277.500061,242.316010   C246.841934,242.317871 216.183792,242.305893 185.525681,242.330078   C176.405762,242.337265 172.355682,246.304855 172.345215,255.347687   C172.310333,285.505951 172.313416,315.664307 172.354691,345.822540   C172.365952,354.049255 176.777954,358.608887 184.947571,358.618134   C232.767593,358.672241 280.587738,358.670166 328.407776,358.623962   C337.134521,358.615540 341.638184,354.015167 341.645905,345.333649   C341.672729,315.175323 341.673553,285.016998 341.641693,254.858719   C341.632843,246.489395 337.446472,242.361526 328.986053,242.340210   C312.157471,242.297806 295.328766,242.321014 277.500061,242.316010  M290.740570,151.771652   C277.922821,143.651123 264.153107,140.120605 248.897156,142.152863   C219.638855,146.050385 194.796249,171.345886 195.313629,206.678696   C195.361877,209.973709 196.721237,211.027985 199.837799,211.023956   C237.834259,210.974899 275.830872,210.959610 313.827209,211.045120   C317.550323,211.053497 318.754730,209.666595 318.697540,206.026001   C318.345123,183.585907 309.976776,165.290390 290.740570,151.771652  z" />
              <path d=" M266.102997,323.297363   C253.352905,330.075623 241.747131,323.304810 241.660065,309.409302   C241.619385,302.916290 241.580200,296.421692 241.675110,289.929810   C241.803085,281.175873 248.236572,274.738037 256.780365,274.661346   C265.661346,274.581635 272.178589,280.949677 272.312378,289.991547   C272.410889,296.649902 272.253204,303.312164 272.366058,309.970062   C272.457001,315.334045 270.563751,319.693604 266.102997,323.297363  z" />
            </svg>
            <span class="nav_name"><%= __('changingPassword') %></span>
          </a>

          <a href="<%= codezip.url.admin.logout %>" class="nav__link">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" stroke="currentColor" width="1.25rem" height="1.25rem" stroke-width="2" stroke-linecap="round" viewBox="0 0 76 85">
              <path d=" M4.116826,78.265404   C4.013828,55.503761 4.004358,33.174091 4.001761,10.844418   C4.001094,5.110954 5.633172,3.164078 11.493685,3.054947   C21.821774,2.862622 32.168144,2.702272 42.482834,3.120762   C48.066319,3.347296 50.111496,4.964166 50.024464,10.953341   C49.920639,18.097635 49.999989,25.244595 49.999989,32.757912   C48.379898,32.856651 46.978878,32.942039 44.999851,33.062656   C44.999851,26.376459 44.834988,19.922174 45.064762,13.481969   C45.192432,9.903473 43.832859,8.870009 40.404411,8.939007   C31.409502,9.120029 22.407000,9.094803 13.410821,8.948723   C10.272186,8.897758 8.923581,9.773623 8.943764,13.164448   C9.059805,32.660618 9.052705,52.158115 8.947888,71.654411   C8.930679,74.855194 9.904271,76.115456 13.229795,76.056175   C22.392075,75.892853 31.560974,75.895958 40.723400,76.055168   C43.999668,76.112099 45.147400,74.955482 45.053230,71.699997   C44.870495,65.382965 44.999775,59.056904 44.999775,52.369476   C46.643154,52.369476 48.139885,52.369476 49.998058,52.369476   C49.998058,60.263142 50.100910,68.066177 49.959629,75.864799   C49.874367,80.571159 45.989986,81.757523 42.545216,81.873688   C32.225281,82.221680 21.878883,82.206718 11.559663,81.848320   C9.077263,81.762108 6.660084,79.797905 4.116826,78.265404  z" />
              <path d=" M59.014618,26.045418   C61.348267,27.193729 63.484882,28.141630 65.157600,29.615877   C67.892479,32.026257 70.339447,34.765663 72.881897,37.391415   C75.979965,40.590984 76.047028,44.575195 72.781273,47.673988   C68.716423,51.531021 64.464005,55.191494 60.245110,58.882576   C59.964554,59.128029 59.282509,58.914581 57.212154,58.914581   C58.536896,56.183857 59.391861,53.891689 60.689957,51.886368   C62.151241,49.628956 64.011978,47.630116 66.067307,45.057789   C50.499809,45.057789 35.586002,45.057789 20.322596,45.057789   C20.176996,43.435238 20.051184,42.033199 19.889898,40.235855   C35.192932,40.235855 50.269775,40.235855 66.303703,40.235855   C63.861748,37.226780 61.647526,35.077080 60.184765,32.500732   C59.138016,30.657087 59.098286,28.241688 59.014618,26.045418  z" />
            </svg>
            <span class="nav_name"><%= __('Log out') %></span>
          </a>
        </div>

        <div class="py-5"></div>
      </div>
    </nav>
  </div>

  <!-- JS -->
  <script>
    /* EXPANDER MENU */
    const showMenu = (toggleClass, navbarId, bodyId) => {
      const navbar = document.getElementById(navbarId);

      document.querySelectorAll('.' + toggleClass).forEach(el => {
        if (navbar) {
          el.addEventListener('click', () => {
            navbar.classList.toggle('expander');
          })
        }
      })
    }

    showMenu('nav__toggle', 'navbar')

    /* LINK ACTIVE */
    const linkColor = document.querySelectorAll('.nav__link')

    function colorLink() {
      linkColor.forEach(l => l.classList.remove('active'))
      this.classList.add('active')
    }
    linkColor.forEach(l => l.addEventListener('click', colorLink))
  </script>