<!--  BEGIN SIDEBAR  -->
<div class="sidebar-wrapper sidebar-theme">

  <nav id="sidebar">

    <div class="navbar-nav theme-brand text-center">
      <div class="nav-item d-flex mt-5">
        <div class="theme-logo p-0 me-3" style="width: 55px; height: 55px; display:table;">
          <div>
            <a href="<%= codezip.url.users.myPage %>">
              <img alt="avatar" src="<%= user.profile_image_path %>" class="rounded-circle">
            </a>
          </div>
        </div>
        <div class="pt-2 text-break text-start">
          <div>
            <h6 style="color: rgb(26,26,26);"><strong>
                <% if(nameOrderInKorean.indexOf(locale) !=-1) { %>
                <%= user.last_name + ' ' + user.first_name %>
                <% } else { %>
                <%= user.first_name + ' ' + user.last_name %>
                <% } %>
              </strong>
            </h6>
          </div>
          <div>
            <p style="color: rgb(150,150,150);">
              <% let company_team_position=[]; %>
              <% if(user.company_name) company_team_position.push(user.company_name); %>
              <% if(user.team) company_team_position.push(user.team) %>
              <% if(user.position) company_team_position.push(user.position) %>
              <%= company_team_position.join(" / ") %>
            </p>
          </div>
        </div>
      </div>
    </div>

    <ul class=" list-unstyled menu-categories" id="accordionExample">
      <li class="menu active"></li>

      <div class="ms-3 main-menu">
        <h6><strong>
            <%= __("Main") %>
          </strong>
        </h6>
      </div>
      <li class="menu">
        <a href="<%= codezip.url.users.dashboard %>" aria-expanded="false" class="dropdown-toggle">
          <div class="">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" viewBox="0 0 84 63" fill="currentColor" stroke-linecap="round" stroke-linejoin="round" enable-background="new 0 0 84 63" xml:space="preserve">
              <path d=" M81.000000,33.999996   C80.999908,41.827347 80.913040,49.156109 81.031525,56.481544   C81.105339,61.044521 79.078621,63.041485 74.524467,63.027920   C53.208717,62.964436 31.891657,62.886650 10.577412,63.076843   C5.032428,63.126324 4.190869,59.311871 4.122809,55.669136   C3.839771,40.520130 3.752073,25.356348 4.137784,10.211870   C4.277385,4.730648 6.249074,2.962898 11.841712,2.977852   C32.657917,3.033514 53.474377,2.984057 74.290688,3.012142   C79.104874,3.018638 80.974159,5.009380 80.992409,10.019238   C81.020912,17.846064 80.999985,25.673071 81.000000,33.999996  M75.000000,47.469944   C75.000000,43.529991 75.000000,39.590038 75.000000,35.848438   C72.692482,36.619541 70.665543,37.722557 68.554131,37.919331   C63.120636,38.425713 59.688831,41.472469 58.992073,46.961044   C58.473942,51.042568 56.088306,52.848499 52.032207,53.043697   C48.374779,53.219707 45.950291,51.808353 45.042198,48.291718   C44.097939,44.635029 39.839916,40.700745 36.624195,40.815228   C30.443708,41.035259 25.273281,44.719280 23.859076,48.758469   C22.929289,51.414082 21.017391,54.868057 18.767721,55.611465   C16.313778,56.422379 12.962181,54.516865 9.939327,53.780239   C9.185853,56.699974 10.750189,58.115093 15.012913,58.071106   C31.826515,57.897614 48.643101,58.041500 65.458305,57.985172   C76.372368,57.948612 74.884003,59.371471 75.000000,47.469944  M71.733566,24.270920   C72.745674,24.998650 73.757774,25.726381 74.752327,26.441490   C75.990753,22.513000 73.294518,22.990383 70.927872,22.992157   C51.774315,23.006502 32.620735,22.993925 13.467196,23.018053   C12.370758,23.019434 11.274633,23.269981 10.231489,23.398045   C10.231489,30.602589 10.231489,37.483288 10.231489,44.047298   C12.266743,43.336071 14.143739,42.233566 16.095036,42.080933   C22.263058,41.598442 24.625961,39.016815 26.249197,33.095989   C26.908997,30.689335 30.064392,27.823946 32.483349,27.389565   C34.569733,27.014904 38.301762,29.209875 39.422558,31.285809   C42.821648,37.581600 45.959072,40.480885 52.526482,38.710258   C56.089344,37.749672 60.463875,34.431950 61.650307,31.155590   C64.031448,24.580006 63.648823,23.954494 71.733566,24.270920  M40.643955,9.000000   C38.322887,9.000000 36.001820,9.000000 34.735798,9.000000   C33.667744,11.676313 33.091976,15.441943 31.915695,15.639942   C28.071808,16.286964 24.008698,15.643392 20.030928,15.472278   C19.322115,15.441787 18.619091,15.227596 17.911871,15.218662   C15.977885,15.194230 13.220509,16.005867 12.321998,15.048241   C11.258326,13.914588 11.797747,11.276801 11.642316,9.290974   C11.384094,9.184890 11.125874,9.078806 10.867652,8.972723   C10.493830,11.461608 10.120008,13.950494 9.697557,16.763142   C31.816120,16.763142 53.185326,16.763142 74.719879,16.763142   C74.719879,14.137147 74.719879,11.752396 74.719879,9.000000   C63.498047,9.000000 52.551960,9.000000 40.643955,9.000000  z" />
            </svg>
            <span>
              <%= __('Dashboard') %>
            </span>
          </div>
        </a>
      </li>


      <div class="ms-3 main-menu">
        <h6><strong>
            <%= __('Project') %>
          </strong>
        </h6>
      </div>
      <li class="menu">
        <a href="<%= codezip.url.users.myProject.main %>" aria-expanded="false" class="dropdown-toggle">
          <div class="">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" viewBox="0 0 75 93" fill="currentColor" stroke-linecap="round" stroke-linejoin="round" enable-background="new 0 0 75 93" xml:space="preserve">
              <path d=" M2.000000,72.983406   C2.000000,56.492233 2.092618,40.497116 1.963135,24.503798   C1.892400,15.766870 5.126374,13.062456 12.202747,13.966367   C13.965027,14.191474 15.780521,13.999998 17.504324,13.999998   C19.070187,2.000000 19.070187,1.999998 31.343678,2.000001   C38.841038,2.000003 46.344654,1.831598 53.831669,2.109932   C55.888020,2.186378 58.360912,3.101815 59.839966,4.488458   C65.045593,9.368848 71.718727,13.836802 74.364365,19.960657   C76.856163,25.728430 74.982712,33.390274 74.995438,40.218918   C75.013443,49.882149 75.007317,59.545444 74.997604,69.208702   C74.990341,76.432014 72.430466,78.980057 65.196907,78.999275   C63.376301,79.004112 61.555672,79.000000 59.377743,79.000000   C59.241234,80.419655 59.046703,81.670982 59.013065,82.926620   C58.870319,88.254875 57.170254,89.986153 51.838970,89.993347   C37.510708,90.012688 23.180748,89.876518 8.855039,90.068710   C4.019703,90.133583 2.396114,87.458893 2.059493,83.471802   C1.780152,80.163177 2.000831,76.812347 2.000000,72.983406  M8.000000,28.603706   C8.000034,45.748867 8.012284,62.894043 7.987139,80.039169   C7.983299,82.657990 7.785719,85.070671 11.648631,85.037621   C24.298513,84.929398 36.951344,85.078430 49.598232,84.855553   C50.747608,84.835289 52.832355,82.870255 52.847404,81.785652   C53.061539,66.352516 52.993378,50.915462 52.993378,34.969723   C47.835903,34.969723 43.102692,34.969723 37.877563,34.969723   C37.877563,29.739754 37.877563,25.004900 37.877563,20.000000   C30.065908,20.000000 22.765995,19.999706 15.466080,20.000082   C8.002762,20.000465 8.002762,20.000751 8.000000,28.603706  M48.996960,21.496307   C57.593220,27.483145 60.203392,35.618450 59.181515,45.939610   C58.305145,54.791138 59.000000,63.798225 59.000000,72.995644   C61.595600,72.995644 63.687363,73.389984 65.514618,72.864525   C66.854004,72.479362 68.829720,70.901276 68.845146,69.830696   C69.062889,54.714771 68.993240,39.594704 68.993240,24.000002   C66.767326,24.000002 64.981781,24.000984 63.196243,23.999842   C53.004436,23.993309 53.004303,23.993135 53.000118,14.026514   C52.999306,12.101101 53.000000,10.175688 53.000000,8.000091   C44.510956,8.000091 36.692982,8.170733 28.887363,7.933971   C24.440559,7.799090 23.237478,9.578309 24.430479,13.931117   C32.931644,14.477260 42.699726,11.289872 48.996960,21.496307  z" />
              <path d=" M27.022995,49.000000   C23.198078,48.991734 19.827282,49.280865 16.559307,48.828007   C15.262125,48.648251 14.192990,46.822826 13.020029,45.746647   C14.294918,44.831463 15.550189,43.156837 16.847851,43.123318   C25.832106,42.891247 34.828770,42.874958 43.811733,43.130630   C45.226936,43.170914 46.592976,44.938538 47.981747,45.907497   C46.654644,46.938072 45.378067,48.770527 43.991539,48.857883   C38.519207,49.202652 33.012367,48.999741 27.022995,49.000000  z" />
              <path d=" M30.998371,61.000000   C26.340948,60.999844 22.135458,61.356613 18.042088,60.834461   C16.253698,60.606331 14.694785,58.579235 13.031664,57.369087   C14.584560,56.579445 16.120394,55.148869 17.693195,55.106998   C26.173500,54.881256 34.667442,54.857777 43.145416,55.123737   C44.782646,55.175098 46.369755,56.824112 47.979984,57.736130   C46.312435,58.823883 44.736359,60.623539 42.958389,60.851994   C39.193363,61.335770 35.323002,60.999794 30.998371,61.000000  z" />
              <path d=" M37.931808,72.000000   C30.473507,71.999092 23.502462,72.116226 16.543076,71.884010   C15.348140,71.844147 14.202863,70.316025 13.034643,69.475395   C14.219330,68.651077 15.391191,67.133514 16.590719,67.111328   C26.854496,66.921425 37.123283,67.002441 47.552811,67.002441   C48.576908,70.599663 47.491333,72.190094 43.896393,72.014786   C42.076015,71.926003 40.247719,71.999741 37.931808,72.000000  z" />
            </svg>
            <span>
              <%= __('MyProject') %>
            </span>
          </div>
        </a>
      </li>
      <li class="menu">
        <a href="<%= codezip.url.users.newProject.main %>" aria-expanded="false" class="dropdown-toggle">
          <div class="">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 76 93" fill="currentColor" stroke-linecap="round" stroke-linejoin="round" enable-background="new 0 0 76 93" xml:space="preserve">
              <path d=" M3.000000,60.999561   C3.000004,43.851795 2.994079,27.203896 3.003339,10.556005   C3.006435,4.989462 5.804364,2.059958 11.383085,2.020262   C21.371319,1.949191 31.365992,1.821054 41.345062,2.131609   C43.709404,2.205189 46.023796,3.919296 48.356457,4.890075   C48.500633,4.950077 48.607746,5.105188 48.724911,5.223190   C53.766098,10.300422 60.691792,14.571806 63.308212,20.686911   C65.843567,26.612535 63.950855,34.433556 63.998512,41.422157   C64.008728,42.920395 64.117279,44.429649 63.979427,45.915169   C63.421940,51.922932 63.998425,56.877632 69.974899,60.840954   C75.311050,64.379631 76.555954,73.521423 74.274559,79.250618   C71.352119,86.589630 65.589966,90.275681 58.114254,90.803040   C55.090416,91.016342 51.379509,89.928452 48.946526,88.128189   C45.169376,85.333298 41.327667,84.868469 36.964119,84.951385   C28.310337,85.115837 19.651125,85.025970 10.994361,84.990982   C5.017626,84.966827 3.045531,82.973938 3.006935,76.981880   C2.973696,71.821266 3.000015,66.660263 3.000000,60.999561  M46.262177,71.320740   C46.131287,78.716255 49.525261,83.098228 56.299438,84.686447   C58.182510,84.444145 60.157627,84.484253 61.931248,83.906151   C67.082191,82.227234 69.919807,77.252983 69.041222,71.904160   C68.083290,66.072266 64.030937,62.156704 58.791397,62.000347   C52.429325,61.810486 48.155869,65.023422 46.262177,71.320740  M35.383026,8.000001   C26.639809,8.000001 17.896589,8.000001 9.232446,8.000001   C9.232446,32.018394 9.232446,55.273697 9.232446,78.728317   C19.849646,78.728317 30.233372,78.728317 40.584724,78.728317   C42.611301,61.061737 45.418423,57.280964 57.733177,55.587013   C57.733177,45.537899 57.733177,35.469276 57.733177,24.999060   C53.349407,24.999060 49.218494,24.885502 45.097336,25.037090   C42.114628,25.146803 40.841064,24.050997 40.961029,20.982971   C41.122360,16.856791 41.001034,12.719561 41.001034,8.274283   C39.237064,8.170188 37.795334,8.085109 35.383026,8.000001  M47.001064,15.251440   C47.001064,16.798115 47.001064,18.344788 47.001064,19.741783   C49.682468,19.741783 51.565865,19.741783 53.449261,19.741783   C53.612545,19.401754 53.775826,19.061726 53.939106,18.721697   C51.629936,17.310219 49.320770,15.898739 47.001064,15.251440  z" />
              <path d=" M19.363125,34.000435   C29.124731,34.000233 38.423786,33.880993 47.713280,34.125256   C49.158470,34.163258 51.525501,35.643337 51.793674,36.833454   C52.489799,39.922756 49.934826,40.017159 47.636395,40.010677   C38.174553,39.984009 28.709553,40.117477 19.253937,39.873421   C17.819775,39.836403 16.429029,38.117226 15.018202,37.176117   C16.311277,36.117672 17.604355,35.059227 19.363125,34.000435  z" />
              <path d=" M43.931583,47.000000   C46.721199,47.000000 49.021893,47.000000 51.679886,47.000000   C51.803123,48.624336 51.908173,50.008865 52.037071,51.707783   C39.719601,51.707783 27.697359,51.707783 15.292253,51.707783   C15.194643,50.369934 15.093628,48.985416 14.948771,47.000000   C24.652889,47.000000 34.047775,47.000000 43.931583,47.000000  z" />
              <path d=" M23.064129,65.000000   C20.281076,65.000000 17.986292,65.000000 15.335894,65.000000   C15.200944,63.391369 15.084985,62.009106 14.916438,60.000000   C18.973389,60.000000 22.719925,60.000000 26.466463,60.000000   C30.082575,60.000000 33.698685,60.000000 37.669567,60.000000   C37.800983,61.613701 37.913548,62.995945 38.076756,65.000000   C33.028645,65.000000 28.290520,65.000000 23.064129,65.000000  z" />
              <path d=" M56.378174,84.023766   C55.495930,81.542679 55.022575,79.042213 54.510494,76.337173   C52.281254,74.937492 47.137817,78.165909 47.471752,71.963806   C49.904438,70.865723 52.111603,70.062286 55.062328,68.988174   C56.083847,67.669891 53.093479,62.646339 58.158340,63.274712   C59.668087,63.462021 60.796066,66.726501 61.570904,68.971794   C63.994980,70.587395 69.804703,68.720520 67.605339,75.750534   C65.797096,75.878883 63.717258,76.026512 61.393208,76.191475   C60.252121,78.984810 62.731644,84.136444 56.378174,84.023766  z" />
            </svg>
            <span>
              <%= __('NewProject') %>
            </span>
          </div>
        </a>
      </li>


      <div class="ms-3 main-menu">
        <h6><strong>
            <%= __('Customizing') %>
          </strong>
        </h6>
      </div>
      <li class="menu">
        <a href="<%= codezip.url.users.formula.main %>" aria-expanded="false" class="dropdown-toggle">
          <div class="">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 76 103" fill="currentColor" stroke-linecap="round" stroke-linejoin="round" enable-background="new 0 0 76 103" xml:space="preserve">
              <path d=" M74.999512,68.700745   C71.902481,90.147751 55.172504,103.149391 34.399830,100.897125   C16.907471,99.000519 3.212934,84.186493 2.877088,67.071175   C2.528265,49.294502 10.177881,37.404167 26.507048,30.726259   C27.634605,30.265139 28.763718,28.440203 28.886425,27.153585   C29.215673,23.701344 28.998770,20.197014 28.998770,16.888468   C28.524666,16.509995 28.307381,16.208971 28.029589,16.134916   C25.765999,15.531478 21.783264,15.375607 21.533346,14.322115   C20.717129,10.881476 21.108723,7.104693 21.432962,3.492859   C21.485874,2.903457 23.545538,2.081304 24.686172,2.067487   C34.183151,1.952444 43.682438,1.967384 53.180004,2.054600   C54.132664,2.063348 55.827774,2.701904 55.905571,3.234183   C56.398857,6.609375 57.150135,10.165446 56.479176,13.383031   C56.216248,14.643889 52.500874,15.186573 50.355740,16.051123   C50.063847,16.168764 49.759682,16.255972 49.003952,16.512451   C49.003952,20.154961 48.830631,23.966267 49.109951,27.744102   C49.193359,28.872200 50.314163,30.490891 51.347710,30.896832   C68.393105,37.591648 75.568825,50.442299 74.999512,68.700745  M66.593765,58.928593   C66.739998,57.344841 67.464638,55.530220 66.939461,54.214458   C63.281158,45.048985 57.011169,38.530834 47.193451,35.982395   C43.972416,35.146294 42.706692,33.323151 42.927128,29.901554   C43.221874,25.326506 43.000038,20.718176 43.000038,16.247673   C39.977688,16.247673 37.700512,16.247673 34.999474,16.247673   C34.999474,21.278954 35.223755,26.092138 34.864525,30.861370   C34.754971,32.315861 33.335812,34.125813 32.006268,34.952248   C27.342131,37.851460 21.922640,39.759430 17.791906,43.234699   C12.904930,47.346210 9.919136,53.099712 8.967630,60.505775   C20.706335,52.939320 31.249338,53.271858 42.243465,60.459293   C50.546310,65.887291 57.859818,68.094460 66.593765,58.928593  M42.831879,67.940521   C38.835735,65.749023 34.982899,63.220917 30.810087,61.444389   C24.444248,58.734207 13.609498,62.670799 9.798824,68.876030   C9.159204,69.917572 9.150833,71.727356 9.541503,72.963951   C15.422549,91.579353 36.043011,101.272926 54.003193,91.089485   C62.618969,86.204338 70.197845,73.283089 68.465256,66.251709   C60.492222,71.470451 52.224724,72.585228 42.831879,67.940521  M42.438095,7.000000   C37.353920,7.000000 32.269749,7.000000 26.996138,7.000000   C28.160519,10.201566 41.361286,11.238363 51.376003,9.314350   C49.415470,5.336311 45.889549,7.765913 42.438095,7.000000  z" />
              <path d=" M25.040625,77.955811   C23.613489,77.970406 22.073860,78.334053 20.785275,77.918755   C18.793318,77.276764 15.559172,76.305336 15.387486,75.109550   C15.073910,72.925491 16.049973,69.928932 17.589096,68.333199   C18.567358,67.318970 22.235586,67.420715 23.425596,68.467712   C24.876532,69.744286 25.161739,72.504097 25.595766,74.692863   C25.748941,75.465317 24.855181,76.445389 24.717472,77.666656   C24.995527,78.002647 25.040625,77.955811 25.040625,77.955811  z" />
              <path d=" M24.972366,78.025459   C25.859329,77.743805 26.749664,77.341103 27.683239,77.153069   C30.642143,76.557114 32.938824,77.834915 32.792599,80.750778   C32.705254,82.492599 30.878918,85.274605 29.430414,85.563408   C27.106600,86.026726 24.680988,84.597435 24.989868,81.276352   C25.066082,80.456894 25.004938,79.624664 25.023781,78.377060   C25.040625,77.955811 24.995527,78.002647 24.972366,78.025459  z" />
            </svg>
            <span>
              <%= __('Formula') %>
            </span>
          </div>
        </a>
      </li>
      <li class="menu">
        <a href="<%= codezip.url.users.packaging %>" aria-expanded="false" class="dropdown-toggle">
          <div class="">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 70 97" fill="currentColor" stroke-linecap="round" stroke-linejoin="round" enable-background="new 0 0 70 97" xml:space="preserve">
              <path d=" M35.999912,65.176163   C34.999912,45.920860 34.074730,27.137325 32.943562,8.366206   C32.685081,4.076924 34.625015,2.927986 38.424995,2.969653   C47.248306,3.066401 56.073730,3.045215 64.897606,2.979163   C68.515656,2.952080 70.233925,4.169226 70.069283,8.188581   C69.547188,20.934036 69.477898,33.698090 68.951584,46.443306   C68.502991,57.306484 67.674606,68.154190 66.994362,79.007500   C66.685432,83.936462 66.530678,88.890656 65.849503,93.769661   C65.681541,94.972694 63.767216,96.800301 62.591423,96.851036   C55.777763,97.145035 48.941498,97.099167 42.122040,96.881454   C41.068924,96.847839 39.276093,95.433128 39.156921,94.489037   C37.946114,84.896835 37.011780,75.269753 35.999912,65.176163  M40.068768,16.007284   C39.651001,16.513531 38.849041,17.039532 38.873898,17.523020   C39.178741,23.451687 39.692078,29.369902 39.978512,35.299179   C40.393585,43.891243 40.562786,52.495964 41.041790,61.083855   C41.313942,65.963120 41.994404,70.819618 42.522984,75.999992   C47.077045,75.999992 51.572933,75.704697 56.011837,76.081223   C60.654606,76.475037 62.030876,74.600906 62.074173,70.189095   C62.189617,58.425461 62.663399,46.665272 63.010078,34.904163   C63.034218,34.085281 63.219151,33.272285 63.270191,32.452869   C63.604668,27.082853 63.922878,21.711828 64.266899,16.000763   C55.914406,16.000763 48.443989,16.000763 40.068768,16.007284  M53.462151,92.000000   C55.559925,92.000000 57.657703,92.000000 59.617588,92.000000   C59.617588,88.606964 59.617588,85.888245 59.617588,83.249382   C54.626991,83.249382 50.021065,83.249382 45.297459,83.249382   C45.297459,86.224861 45.297459,88.945000 45.297459,92.000000   C47.889591,92.000000 50.194794,92.000000 53.462151,92.000000  M42.726212,9.000018   C41.172237,9.144431 39.618259,9.288844 38.064285,9.433257   C38.123112,9.727021 38.181938,10.020786 38.240761,10.314550   C46.761784,10.314550 55.282806,10.314550 63.803829,10.314550   C63.800728,9.876367 63.797623,9.438184 63.794518,9.000000   C57.091156,9.000000 50.387791,9.000000 42.726212,9.000018  z" />
              <path d=" M2.000000,74.999847   C2.000000,70.671837 1.837885,66.835594 2.030290,63.017220   C2.615701,51.399448 3.263136,39.783005 4.126282,28.183895   C4.209757,27.062138 5.899969,25.228493 6.946983,25.153221   C11.583289,24.819906 16.275421,24.786339 20.904074,25.168482   C22.019640,25.260584 23.806765,27.311621 23.869846,28.534786   C24.725809,45.131790 25.372152,61.740219 25.974249,78.349304   C26.142967,83.003448 25.851517,87.675209 26.049574,92.327034   C26.192240,95.677872 25.195507,97.226868 21.560581,97.059547   C16.411909,96.822556 11.241215,96.893669 6.085768,97.039467   C3.094636,97.124062 1.880254,96.029907 1.957963,92.974663   C2.106034,87.153114 2.000337,81.325104 2.000000,74.999847  M8.130918,57.807568   C8.130918,69.078743 8.130918,80.349915 8.130918,91.675568   C12.275883,91.675568 15.997876,91.675568 19.630608,91.675568   C19.630608,79.957298 19.630608,68.566658 19.630608,57.135933   C15.773896,57.135933 12.286233,57.135933 8.130918,57.807568  M17.880247,50.158348   C17.880247,43.594418 17.880247,37.030483 17.880247,30.246902   C15.176549,30.246902 12.803598,30.246902 10.234579,30.246902   C10.234579,37.179646 10.234579,43.865322 10.234579,50.853264   C12.727082,50.853264 14.990472,50.853264 17.880247,50.158348  z" />
            </svg>
            <span>
              <%= __('Packaging') %>
            </span>
          </div>
        </a>
      </li>


      <div class="ms-3 main-menu">
        <h6><strong>
            <%= __('Service') %>
          </strong>
        </h6>
      </div>

      <li class="menu">
        <a href="<%= codezip.url.users.ingredient %>" aria-expanded="false" class="dropdown-toggle">
          <div class="">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 83 93" enable-background="new 0 0 83 93" xml:space="preserve">
              <path d=" M49.475555,82.941925   C49.268131,78.108086 47.777420,73.441093 51.020840,69.217506   C51.566578,68.506851 50.630093,66.295815 49.877003,65.091629   C49.454723,64.416405 47.825504,63.871819 47.044117,64.143341   C40.332172,66.475609 34.622543,64.549187 29.462482,60.207199   C26.116161,63.385029 22.470417,65.659485 23.747000,71.566444   C24.747585,76.196327 17.844053,81.582947 13.212897,80.959839   C8.114305,80.273827 3.255678,74.406792 4.062500,69.910271   C5.126399,63.981022 10.552519,59.978165 16.066067,61.055222   C21.364742,62.090305 25.800615,57.366898 25.105320,51.941875   C23.680700,40.826328 28.471218,31.719372 43.452404,30.719646   C45.051819,26.899128 46.276806,23.979916 42.694145,19.579674   C38.581242,14.528189 42.418354,6.640291 46.401787,4.822548   C53.182087,1.728519 59.253468,3.201540 62.101017,9.464594   C64.229935,14.147063 63.879265,22.257030 56.259647,24.133789   C51.613079,25.278267 50.136269,28.167877 49.615391,32.641117   C56.237389,35.904938 58.747990,42.092861 59.223572,50.662476   C61.399429,49.520927 63.263832,48.909458 64.661789,47.740276   C68.780586,44.295540 72.319794,43.939938 77.207893,47.068691   C80.907715,49.436871 81.583275,53.276810 80.824623,57.079887   C79.853767,61.946747 76.150757,64.753319 71.414925,64.836266   C66.962250,64.914268 63.386700,62.726227 61.874001,57.895123   C61.466789,56.594597 59.604820,55.749588 58.244843,54.549145   C55.924255,57.401333 53.512089,59.711143 56.088837,63.002018   C56.816853,63.931797 58.473495,64.820671 59.561356,64.673340   C67.854553,63.550167 73.983482,68.625938 74.000000,76.888298   C74.013039,83.410828 71.010551,88.498077 66.349152,89.851456   C59.960491,91.706337 53.261318,89.043350 49.475555,82.941925  M33.408432,41.071152   C29.288191,47.065964 30.230463,53.190056 35.918476,57.384609   C39.809990,60.254360 46.885784,59.212448 50.200401,55.281593   C54.123428,50.629219 54.038330,44.170727 49.639320,40.235973   C45.400700,36.444672 38.452866,34.907856 33.408432,41.071152  M55.445202,74.072556   C52.862450,78.285454 55.126640,81.258469 58.279663,83.579285   C61.076469,85.637886 65.594116,83.942566 67.801819,80.528946   C70.378220,76.545258 67.820862,74.051270 65.176010,71.750122   C61.462887,68.519524 58.606003,70.683853 55.445202,74.072556  M52.565506,18.997530   C56.018604,18.960691 57.597443,16.823246 56.825523,13.860631   C56.350838,12.038781 54.107918,9.242410 52.918575,9.366757   C50.965744,9.570928 48.381485,11.420573 47.574829,13.244708   C46.064465,16.660198 49.072712,17.976027 52.565506,18.997530  M12.147654,67.382950   C11.597737,68.917191 10.318950,70.676010 10.703022,71.922462   C11.086638,73.167427 13.445127,74.910034 14.381509,74.622520   C15.831749,74.177238 16.809505,72.193123 17.987600,70.861488   C16.276466,69.595192 14.565332,68.328896 12.147654,67.382950  M68.622543,51.931416   C65.535248,55.331337 68.299988,57.031582 71.572151,59.590710   C72.735107,57.729992 74.863510,55.870186 74.724800,54.198490   C74.494080,51.417835 72.058319,50.307735 68.622543,51.931416  z" />
            </svg>
            <span>
              <%= __('Ingredient') %>
            </span>
          </div>
        </a>
      </li>
      <li class="menu">
        <a href="<%= codezip.url.users.documents %>" aria-expanded="false" class="dropdown-toggle">
          <div class="">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 84 64" enable-background="new 0 0 84 64" xml:space="preserve">
              <path d=" M63.989658,15.000000   C68.150993,15.000970 71.814888,14.976710 75.478264,15.010087   C79.060631,15.042724 80.964844,16.930260 80.978226,20.473434   C81.026016,33.129574 81.042397,45.786259 80.971519,58.442184   C80.948959,62.470791 77.931389,63.899776 74.683540,63.922024   C53.535156,64.066902 32.384678,64.073738 11.236611,63.906914   C8.295834,63.883713 5.078551,62.648140 5.054456,58.861549   C4.941324,41.082771 5.004143,23.302872 5.004143,5.012004   C13.343965,5.012004 21.414379,4.165052 29.169537,5.361517   C33.178303,5.979989 36.548481,10.349466 40.366112,12.773944   C42.041637,13.838028 44.088871,14.809332 46.011028,14.900392   C51.826538,15.175895 57.663433,14.999990 63.989658,15.000000  M45.500000,21.000000   C34.076611,21.000000 22.653219,21.000000 11.397381,21.000000   C11.397381,33.754829 11.397381,45.811890 11.397381,57.999226   C31.787947,57.999226 51.781681,57.946102 71.774582,58.051491   C75.109871,58.069073 76.097488,56.781029 76.049622,53.607204   C75.908913,44.277603 75.887657,34.942467 76.058281,25.613863   C76.120949,22.187668 75.054680,20.852095 71.494179,20.936970   C63.167015,21.135475 54.831898,21.000147 45.500000,21.000000  M12.834485,10.014200   C12.062840,11.390417 11.291194,12.766633 10.201211,14.710599   C18.405317,14.710599 25.336977,14.710599 31.835632,14.710599   C29.324722,9.427935 24.535778,9.722344 19.722176,9.982410   C17.744671,10.089249 15.756637,10.001184 12.834485,10.014200  z" />
            </svg>
            <span>
              <%= __('Documents') %>
            </span>
          </div>
        </a>
      </li>


      <div class="ms-3 main-menu">
        <h6><strong>
            <%= __('Lounge') %>
          </strong>
        </h6>
      </div>
      <!-- fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" -->
      <li class="menu">
        <a href="<%= codezip.url.users.news.main %>" aria-expanded="false" class="dropdown-toggle">
          <div class="">
            <svg xmlns:x="http://ns.adobe.com/Extensibility/1.0/" xmlns:i="http://ns.adobe.com/AdobeIllustrator/10.0/" xmlns:graph="http://ns.adobe.com/Graphs/1.0/" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="레이어_1" x="0px" y="0px" viewBox="0 0 16.4 18.2" style="enable-background:new 0 0 16.4 18.2;" xml:space="preserve" fill="currentColor" stroke-linecap="round" stroke-linejoin="round">
              <switch>
                <g i:extraneous="self">
                  <g>
                    <path d="M10.2,10.6h-7c-0.3,0-0.6,0.3-0.6,0.6s0.3,0.6,0.6,0.6h7c0.3,0,0.6-0.3,0.6-0.6S10.5,10.6,10.2,10.6z" />
                    <path d="M10.2,13.6h-7c-0.3,0-0.6,0.3-0.6,0.6s0.3,0.6,0.6,0.6h7c0.3,0,0.6-0.3,0.6-0.6S10.5,13.6,10.2,13.6z" />
                    <path d="M10.2,2.8h-7c-0.3,0-0.6,0.3-0.6,0.6v5C2.6,8.8,2.9,9,3.2,9h7c0.3,0,0.6-0.3,0.6-0.6v-5     C10.8,3.1,10.6,2.8,10.2,2.8z M9.6,7.8H3.8V4h5.8V7.8z" />
                    <path d="M14.3,6.8h-0.9V1.5c0-0.9-0.7-1.5-1.5-1.5H1.5C0.7,0,0,0.7,0,1.5v14.5c0,1.2,0.9,2.1,2.1,2.1h12.1     c0,0,0.1,0,0.1,0c1.2,0,2.1-0.9,2.1-2.1V8.9C16.4,7.8,15.5,6.8,14.3,6.8z M2.1,17c-0.5,0-0.9-0.4-0.9-0.9V1.5     c0-0.2,0.2-0.3,0.3-0.3h10.3c0.2,0,0.3,0.2,0.3,0.3v14.5c0,0.3,0.1,0.6,0.2,0.9H2.1z M15.2,16.1c0,0.5-0.4,0.9-0.9,0.9     s-0.9-0.4-0.9-0.9V8h0.9c0.5,0,0.9,0.4,0.9,0.9V16.1z" />
                  </g>
                </g>
              </switch>
            </svg>
            <span>
              <%= __('News') %>
            </span>
          </div>
        </a>
      </li>
      <li class="menu">
        <a href="<%= codezip.url.users.community.main %>" aria-expanded="false" class="dropdown-toggle">
          <div class="">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 76 79" fill="currentColor" stroke-linecap="round" stroke-linejoin="round" enable-background="new 0 0 76 79" xml:space="preserve">
              <path d=" M25.155777,7.963665   C40.179207,1.803350 56.967968,5.884442 67.349892,19.030041   C75.288773,29.082272 78.133476,43.187805 71.355103,57.284161   C60.718136,79.404892 32.602779,84.636047 14.266804,68.624016   C0.376286,56.494022 -1.421734,33.007725 10.068897,19.704878   C14.085155,15.055204 19.818537,11.888733 25.155777,7.963665  M9.988409,50.330986   C10.614675,52.129116 11.240939,53.927250 11.878201,55.756958   C15.772941,54.193386 19.303852,52.775875 22.998999,51.292431   C22.998999,45.801323 23.174013,40.314350 22.879189,34.852741   C22.802971,33.440804 21.561731,31.587959 20.315285,30.848539   C17.770979,29.339199 14.859478,28.448845 11.887424,27.215633   C9.102835,34.705311 6.474442,41.822758 9.988409,50.330986  M54.419350,50.869911   C58.044697,52.598644 61.670048,54.327381 65.422432,56.116692   C70.344208,46.158077 70.480667,36.571697 65.362221,26.990536   C62.012985,28.492199 59.098633,29.573059 56.450363,31.111847   C55.554176,31.632578 54.953251,33.283699 54.865574,34.466290   C54.479561,39.672844 54.330376,44.896961 54.419350,50.869911  M29.000019,45.317944   C29.069941,46.782242 29.139864,48.246544 29.199562,49.496742   C35.917248,49.496742 42.325184,49.496742 48.644768,49.496742   C48.644768,43.936329 48.644768,38.539474 48.644768,33.510284   C41.986240,33.510284 35.689625,33.510284 29.000000,33.510284   C29.000000,37.091839 29.000000,40.728218 29.000019,45.317944  M33.934887,15.591733   C32.560493,19.175898 31.186102,22.760061 29.193863,27.955452   C35.082687,27.955452 39.953918,28.105547 44.797215,27.805231   C45.589005,27.756138 47.097878,25.448475 46.839233,24.649736   C45.653259,20.987312 44.503853,17.100006 42.312244,14.027460   C39.220207,9.692543 37.554916,10.143115 33.934887,15.591733  M46.097496,60.601860   C47.781860,58.180210 47.363861,55.720730 44.532711,55.392693   C39.796650,54.843937 34.950794,55.242779 29.302038,55.242779   C32.291130,62.277779 32.300404,69.200844 40.347008,72.575691   C42.289185,68.742332 44.147812,65.073875 46.097496,60.601860  M59.958549,21.454937   C56.921970,18.913721 53.885387,16.372503 50.848808,13.831286   C50.607891,14.069037 50.366974,14.306789 50.126057,14.544541   C51.261078,18.218292 52.396103,21.892044 53.714096,26.158005   C56.133530,24.654329 58.272324,23.325075 59.958549,21.454937  M57.964096,63.548122   C58.886665,62.521103 59.809231,61.494083 60.951797,60.222157   C58.154640,59.133457 55.763325,58.202721 53.553574,57.342651   C52.431568,61.140038 51.350395,64.799225 49.993244,69.392464   C52.892952,67.310020 55.169827,65.674873 57.964096,63.548122  M26.812880,16.663057   C27.035858,15.843527 27.258837,15.023997 27.845175,12.868990   C23.555183,16.555702 20.271193,19.377882 16.757700,22.397289   C19.405811,23.670071 21.522028,24.687204 23.886675,25.823740   C24.746155,22.767651 25.527218,19.990389 26.812880,16.663057  M27.258713,67.753708   C26.504751,65.461395 25.549980,63.212063 25.047802,60.865860   C24.424034,57.951580 23.172165,57.219532 20.589867,58.829437   C19.570868,59.464722 18.418732,59.886448 16.016214,61.028751   C20.464281,63.804764 24.080881,66.061867 27.258713,67.753708  z" />
            </svg>
            <span>
              <%= __('Community') %>
            </span>
          </div>
        </a>
      </li>

      <li class="menu my-5 h6">
        <a href="<%= codezip.url.users.signOut %>" aria-expanded="false" class="dropdown-toggle ps-0">
          <div>
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" stroke="currentColor" width="24px" height="24px" stroke-width="2" stroke-linecap="round" viewBox="0 0 76 85">
              <path d=" M4.116826,78.265404   C4.013828,55.503761 4.004358,33.174091 4.001761,10.844418   C4.001094,5.110954 5.633172,3.164078 11.493685,3.054947   C21.821774,2.862622 32.168144,2.702272 42.482834,3.120762   C48.066319,3.347296 50.111496,4.964166 50.024464,10.953341   C49.920639,18.097635 49.999989,25.244595 49.999989,32.757912   C48.379898,32.856651 46.978878,32.942039 44.999851,33.062656   C44.999851,26.376459 44.834988,19.922174 45.064762,13.481969   C45.192432,9.903473 43.832859,8.870009 40.404411,8.939007   C31.409502,9.120029 22.407000,9.094803 13.410821,8.948723   C10.272186,8.897758 8.923581,9.773623 8.943764,13.164448   C9.059805,32.660618 9.052705,52.158115 8.947888,71.654411   C8.930679,74.855194 9.904271,76.115456 13.229795,76.056175   C22.392075,75.892853 31.560974,75.895958 40.723400,76.055168   C43.999668,76.112099 45.147400,74.955482 45.053230,71.699997   C44.870495,65.382965 44.999775,59.056904 44.999775,52.369476   C46.643154,52.369476 48.139885,52.369476 49.998058,52.369476   C49.998058,60.263142 50.100910,68.066177 49.959629,75.864799   C49.874367,80.571159 45.989986,81.757523 42.545216,81.873688   C32.225281,82.221680 21.878883,82.206718 11.559663,81.848320   C9.077263,81.762108 6.660084,79.797905 4.116826,78.265404  z" />
              <path d=" M59.014618,26.045418   C61.348267,27.193729 63.484882,28.141630 65.157600,29.615877   C67.892479,32.026257 70.339447,34.765663 72.881897,37.391415   C75.979965,40.590984 76.047028,44.575195 72.781273,47.673988   C68.716423,51.531021 64.464005,55.191494 60.245110,58.882576   C59.964554,59.128029 59.282509,58.914581 57.212154,58.914581   C58.536896,56.183857 59.391861,53.891689 60.689957,51.886368   C62.151241,49.628956 64.011978,47.630116 66.067307,45.057789   C50.499809,45.057789 35.586002,45.057789 20.322596,45.057789   C20.176996,43.435238 20.051184,42.033199 19.889898,40.235855   C35.192932,40.235855 50.269775,40.235855 66.303703,40.235855   C63.861748,37.226780 61.647526,35.077080 60.184765,32.500732   C59.138016,30.657087 59.098286,28.241688 59.014618,26.045418  z" />
            </svg>
            <%= __('Log out') %>
          </div>
        </a>
      </li>

      <div class="py-5"></div>

    </ul>
  </nav>
</div>
<!--  END SIDEBAR  -->