<!--  BEGIN NAVBAR  -->
<div class="header-container container-xxl py-auto">
    <header class="header navbar navbar-expand-sm expand-header justify-content-between my-auto">
        <div>
            <% if(user) { %>
                <a href="javascript:void(0);" class="sidebarCollapse">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-menu">
                        <line x1="3" y1="12" x2="21" y2="12"></line>
                        <line x1="3" y1="6" x2="21" y2="6"></line>
                        <line x1="3" y1="18" x2="21" y2="18"></line>
                    </svg>
                </a>
                <% } %>
                    <img style="height: 30px;" src="/images/BeautyWorks_logo.png" />
        </div>
        <div class="h-100">
            <ul class="navbar-item flex-row ms-lg-auto ms-0">
                <!-- 언어 설정 -->
                <li class="nav-item dropdown language-dropdown">
                    <a href="javascript:void(0);" class="nav-link dropdown-toggle" id="language-dropdown"
                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <%= __('language') %>
                    </a>
                    <div class="dropdown-menu position-absolute" aria-labelledby="language-dropdown">
                        <a class="dropdown-item d-flex" href="/en"><span
                                class="align-self-center">&nbsp;English</span></a>
                        <a class="dropdown-item d-flex" href="/ko"><span class="align-self-center">&nbsp;한국어</span></a>
                    </div>
                </li>

                <!-- ? -->
                <li class="nav-item">
                    <a href="<%= codezip.url.users.questionMark %>" class="nav-link">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                            fill="currentColor" stroke-width="2" stroke-linecap="round"" viewBox=" 0 0 134 134"
                            enable-background="new 0 0 134 134" xml:space="preserve">
                            <path
                                d=" M124.808197,99.716202   C112.602859,121.247330 94.332146,132.115128 70.064018,132.986710   C51.113266,133.667313 34.936382,126.989899 22.002626,113.338783   C11.223694,101.962006 5.547495,88.291954 4.867828,72.295433   C3.963291,51.006420 11.648922,33.716358 27.553041,20.101610   C37.413574,11.660482 49.019363,7.104502 62.206554,5.844581   C78.630478,4.275418 93.385994,8.048386 106.383675,17.820675   C122.113838,29.647369 131.301331,45.257828 132.055222,65.411972   C132.503220,77.388672 130.793716,88.792122 124.808197,99.716202  M98.019058,23.451477   C87.263687,16.627708 75.754158,13.571957 62.853378,14.903004   C37.797729,17.488138 16.809376,37.545959 14.135202,62.805920   C12.071772,82.296883 18.610832,98.921120 34.038193,111.494141   C47.360874,122.351883 62.634258,126.725449 79.485054,122.856621   C103.504463,117.341927 118.599533,101.670334 122.522438,77.841042   C126.177223,55.640450 117.881226,36.861202 98.019058,23.451477  z" />
                            <path
                                d=" M82.350090,67.324150   C76.111259,71.553558 72.131859,76.687202 72.982208,84.659500   C69.679329,84.659500 66.761269,84.659500 63.830681,84.659500   C62.177055,78.499649 65.821861,68.947052 70.930206,64.955772   C74.263039,62.351734 77.593933,59.536572 80.167549,56.226509   C82.894142,52.719700 82.038330,48.842861 79.169640,45.408115   C75.548401,41.072327 70.568756,39.831589 65.779167,41.462460   C62.376759,42.620995 58.312305,45.552914 57.119942,48.676800   C54.930138,54.413879 51.486870,54.651192 46.771545,53.639099   C45.228794,47.586765 48.760281,39.512531 54.897842,36.091175   C64.254532,30.875328 73.987953,30.653141 83.145325,36.171642   C94.054222,42.745667 93.997932,60.134502 82.350090,67.324150  z" />
                            <path
                                d=" M72.770508,94.288788   C76.134369,97.351738 75.877808,101.008698 73.504005,103.363197   C71.774231,105.078918 67.750771,106.239098 65.698097,105.380356   C63.627438,104.514084 61.471569,100.737862 61.679451,98.447731   C61.872639,96.319435 64.860779,93.982353 67.156258,92.700150   C68.324982,92.047325 70.676117,93.511337 72.770508,94.288788  z" />
                        </svg>
                    </a>
                </li>

                <% if(user) { %>
                    <!-- 홈 이동 버튼 -->
                    <li class="nav-item">
                        <a href="<%= codezip.url.users.dashboard %>" class="nav-link">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-home">
                                <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                                <polyline points="9 22 9 12 15 12 15 22"></polyline>
                            </svg>
                        </a>
                    </li>

                    <!-- 알람 -->
                    <li class="nav-item dropdown">
                        <a href="<%= codezip.url.users.myProject.main %>" class="nav-link">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                fill="currentColor" stroke-width="2" stroke-linecap="round" viewBox="0 0 135 134"
                                stroke="currentColor" enable-background="new 0 0 135 134" xml:space="preserve">
                                <path
                                    d=" M86.313507,125.123947   C78.243187,135.441986 65.484131,135.007309 57.828377,128.815048   C55.492596,126.925774 53.457085,124.139709 52.399578,121.342606   C51.330067,118.513756 49.865246,117.923683 47.260880,117.967270   C41.100952,118.070351 34.937450,118.056694 28.776646,117.983994   C22.436407,117.909164 18.337156,111.828873 20.614298,105.881279   C22.088339,102.031288 23.222559,97.922905 25.403275,94.500015   C29.251785,88.459335 28.853271,81.952797 29.080330,75.317398   C29.430038,65.097702 29.287016,54.695751 31.237579,44.740360   C33.412434,33.640232 41.367832,26.075329 51.350727,20.907509   C54.047997,19.511221 55.949120,18.254873 56.455700,14.561321   C57.395157,7.711585 62.339970,3.907694 69.040543,3.211551   C74.713043,2.622218 79.194077,5.403725 82.451714,10.055253   C82.827629,10.592009 83.384659,11.277505 83.307106,11.814524   C82.295532,18.819267 88.168640,20.085075 92.351807,22.645655   C105.887680,30.931158 111.454346,43.504204 111.979370,58.803684   C112.116371,62.795731 112.286301,66.821091 111.945229,70.788521   C110.998581,81.800179 112.735947,92.144409 118.274071,101.852547   C119.437538,103.892090 119.830414,106.570938 119.925232,108.980896   C120.158836,114.917870 117.165695,117.927246 111.281693,117.983429   C104.134323,118.051689 96.985809,117.999634 89.891533,117.999634   C88.703087,120.443108 87.632019,122.645264 86.313507,125.123947  M49.560204,32.965729   C42.079590,39.534687 38.013870,47.698692 38.001595,57.748478   C37.993259,64.571274 37.799561,71.401588 38.054657,78.214844   C38.326305,85.470337 37.636871,92.346275 33.753117,98.765244   C31.917591,101.798965 30.908564,105.332741 29.379015,108.989075   C56.135017,108.989075 82.418907,108.991402 108.702782,108.974808   C109.318886,108.974419 109.934860,108.761345 110.505501,108.655869   C110.564499,108.133957 110.716698,107.773994 110.614471,107.514091   C110.251579,106.591446 109.837601,105.684357 109.379578,104.804375   C104.722626,95.857269 101.858803,86.594139 102.899460,76.260452   C103.463524,70.659332 103.112801,64.951973 102.975960,59.297348   C102.701088,47.939224 98.317001,38.541958 89.097862,31.694794   C83.093407,27.235209 75.993858,24.388603 68.800522,25.472429   C62.360683,26.442730 56.316814,30.041080 49.560204,32.965729  M73.681152,123.675209   C75.506645,122.252724 77.332130,120.830238 79.157623,119.407753   C78.958054,119.054855 78.758476,118.701965 78.558907,118.349075   C72.963120,118.349075 67.367340,118.349075 61.474514,118.349075   C64.245544,122.978401 67.996239,124.666115 73.681152,123.675209  M67.708382,13.109520   C66.927094,14.175678 66.145805,15.241837 65.272240,16.433916   C68.800568,16.243942 71.761116,16.084538 74.721664,15.925133   C74.832947,15.452464 74.944221,14.979795 75.055496,14.507127   C72.832870,13.963284 70.610245,13.419441 67.708382,13.109520  z" />
                                <path
                                    d=" M47.447449,91.988907   C43.448704,91.713577 43.416271,88.792793 44.224258,86.875114   C44.924355,85.213501 47.296307,83.203613 48.966908,83.169121   C63.085739,82.877670 77.213226,82.992935 91.338074,83.014374   C94.625343,83.019363 96.908577,84.588852 96.882309,87.983192   C96.855324,91.470818 94.227722,92.031647 91.271622,92.021553   C76.814552,91.972237 62.357227,91.998032 47.447449,91.988907  z" />
                            </svg>
                            <% if(user.projectUpdated) { %>
                                <span class="badge badge-danger badge-dot"></span>
                                <% } %>
                        </a>
                    </li>

                    <!-- 유저 프로필 이미지 -->
                    <li class="nav-item dropdown user-profile-dropdown  order-lg-0 order-1">
                        <a href="<%= codezip.url.users.myPage %>" class="nav-link user">
                            <div class="profileImage">
                                <img alt="avatar" src="/<%= user.profileImagePath %>" class="rounded-circle">
                            </div>
                        </a>
                    </li>
                    <% }%>
            </ul>
        </div>
    </header>
</div>
<!--  END NAVBAR  -->