<!DOCTYPE html>
<html lang="ko">

<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body class="layout-boxed">

  <%- include ("../partials/loader.ejs") %>

  <%- include ("../partials/client-nav.ejs") %>

  <!--  BEGIN MAIN CONTAINER  -->
  <div class="main-container" id="container">

    <div class="overlay"></div>
    <div class="search-overlay"></div>

    <%- include ("../partials/client-sidebar.ejs") %>

    <!--  BEGIN CONTENT AREA  -->
    <div id="content" class="main-content">
      <div class="layout-px-spacing">

        <div class="middle-content p-0">

          <!-- BREADCRUMB -->
          <div class="row px-3 mt-3">
            <div class="breadcrumb">
              <div class="p-1">
                <h6 class="main-menu">
                  <%= __('Main') %>
                </h6>
                <div class="menu">
                  <%= __('Dashboard') %>
                </div>
              </div>
            </div>
          </div>
          <!-- CONTENT AREA -->
          <div class="row mt-3">
            <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">

              <!-- Progress -->
              <div class="widget-content widget-content-area br-20 px-4">
                <div class="form-group ms-3">

                  <div class="row mb-3">
                    <div class="justify-content-between d-flex px-0">
                      <div>
                        <h4><strong>
                            <%= __('users.dashboard.header.Progress') %>
                          </strong>
                        </h4>
                      </div>
                      <div class="row text-end">
                        <a href="<%= codezip.url.users.myProject.main %>">
                          <%= __('Show All') %>
                        </a>
                      </div>
                    </div>
                  </div>

                  <% project.forEach((item,index)=>{ %>
                  <div class="row">
                    <div class="progress-card">
                      <div class="progress-card-img progress-<%= item.phase %>">
                        <img src="<%= codezip.url.users.progress_icon['_'+item.phase] %>">
                      </div>
                      <div class="progress-card-body">
                        <div class="progress-card-name project-title">
                          <%= (index+1)+'. '+item.project_name %>
                        </div>
                        <%- include("../partials/progressbar/"+item.phase+".ejs") %>
                      </div>
                    </div>
                  </div>
                  <% }) %>

                </div>
              </div>

              <!-- 임시 저장한 Progress -->
              <div class="widget-content widget-content-area br-20 px-4 mt-5">
                <div class="form-group ms-3">
                  <div class="row mb-3">
                    <div class="justify-content-between d-flex px-0">
                      <div>
                        <h4>
                          <strong><%= __("users.dashboard.header.TempProgress") %></strong>
                        </h4>
                      </div>
                      <div class="row text-end">
                        <a href="<%= codezip.url.users.myProject.main %>">
                          <%= __("Show All") %>
                        </a>
                      </div>
                    </div>
                  </div>

                  <% console.log(temp_project) %>
                  <% temp_project.forEach((item,index)=>{ %>
                  <div class="row">
                    <div class="progress-card">
                      <div class="progress-card-img progress-<%= item.phase %>">
                        <img src="<%= codezip.url.users.progress_icon[`_`+item.phase] %>">
                      </div>
                      <div class="progress-card-body">
                        <div class="progress-card-name project-title">
                          <%= (index+1)+". "+item.project_name %>
                          <span class="ms-1"><%= formatDate(item.create_date) %></span>
                        </div>
                        <%- include("../partials/temp_progressbar/"+item.detail_phase+".ejs", {project: item}) %>
                      </div>
                    </div>
                  </div>
                  <% }) %>

                </div>
              </div>


              <!-- Completed Project -->
              <div class="widget-content widget-content-area br-20 px-4 mt-5">
                <div class="form-group ms-3">
                  <div class="row mb-3">
                    <div class="justify-content-between d-flex px-0">
                      <div>
                        <h4><strong>
                            <%= __("users.dashboard.header.CompletedProject") %>
                          </strong>
                        </h4>
                      </div>
                    </div>
                  </div>

                  <div class="row mt-3">
                    <% if(completed_project.count){ %>
                    <div class="widget p-4 row mx-0 justify-content-center" id="completed_project">
                      <% completed_project.rows.forEach((item,index)=>{ %>
                      <div class="col-3 d-flex flex-column">
                        <!-- style="height: calc(100%-50px);" -->
                        <% if(item.image_paths) { %>
                        <div class="preview">
                          <img class="br-15" src="<%= item.image_paths.split(',')[0] %>">
                        </div>
                        <% } %>
                        <div class="mb-auto mt-3">
                          <h6>
                            <%= item.project_name %>
                          </h6>
                          <h6>
                            <%= __("product"+item.category1+"."+item.category2) %>
                            <%= " " + item.capacity %>
                          </h6>
                          <p class="text-gray-500">
                            <%= __("users.dashboard.CompletedProject.Total발주수량") + ' : ' %>
                            <%= item.total_order_quantity %>
                            <br>
                            <%= __("users.dashboard.CompletedProject.최근 발주 날짜") + ' : ' %>
                            <%= formatDate(item.recent_order_date) %>
                          </p>
                        </div>
                        <div class="row mx-0 mt-3">
                          <button class="btn btn-outline-primary" type="button" onclick="Intercom('show');">
                            <h5 style="color: currentColor;"><%= __('REORDER') %></h5>
                          </button>
                        </div>
                      </div>
                      <% }) %>

                      <!-- pagination -->
                      <div class="mt-3">
                        <%- make_pagination_by_href(
                          __,
                          page,
                          completed_project.count,
                          codezip.url.users.dashboard,
                          4
                        ) %>
                      </div>
                    </div>
                    <% } %>
                  </div>
                </div>
              </div>

              <!-- 추천 프로젝트 & 추천 성분 -->
              <div class="row mt-5">
                <!-- 추천 프로젝트 -->
                <div class="col-6 pe-4">
                  <div class="widget-content widget-content-area p-0 ps-4 h-100 d-flex flex-column">

                    <div class="justify-content-between d-flex px-0 mb-3">
                      <div>
                        <h4><strong>
                            <%= __('users.dashboard.header.RecommendedFormula') %>
                          </strong>
                        </h4>
                      </div>
                      <div class="row text-end">
                        <a href="<%= codezip.url.users.formula.main %>">
                          <%= __('Show All') %>
                        </a>
                      </div>
                    </div>

                    <div class="widget row mx-0 h-100 align-content-center">

                      <% recommended_formula.forEach((item,index)=>{ %>
                      <div class="col-4">
                        <a class="hover" href="<%= codezip.url.users.formula.main +'/'+item.id %>">
                          <% if(item.image_paths) { %>
                          <div class="preview">
                            <img class="br-15" src="<%= item.image_paths.split(',')[0] %>">
                          </div>
                          <% } %>
                          <div class="row mt-3 justify-content-center text-break">
                            <h6><%= __('top_or_new.'+item.top_or_new) +' / '+  __('product'+item.category1) %></h6>
                            <p class="mt-2">
                              <%= __('product'+item.category1+'.'+item.category2) %>
                              <br>
                              <%= item.product_name %>
                            </p>
                          </div>
                        </a>
                      </div>
                      <% }) %>
                    </div>
                  </div>
                </div>
                <!-- 추천 성분 -->
                <div class="col-6 ps-4">
                  <div class="widget-content widget-content-area p-0 pe-2 h-100 d-flex flex-column">
                    <div class="justify-content-between d-flex px-0 mb-3">
                      <div>
                        <h4><strong>
                            <%= __('users.dashboard.header.RecommendedIngredient') %>
                          </strong>
                        </h4>
                      </div>
                      <div class="row text-end">
                        <a href="<%= codezip.url.users.ingredient %>">
                          <%= __('Show All') %>
                        </a>
                      </div>
                    </div>

                    <div class="widget row mx-0 h-100 align-content-center">

                      <div class="table-responsive p-3">
                        <table class="table text-break">
                          <thead class="text-center">
                            <th class="px-0 col-5">
                              <%= __('ingredients.성분명') %>
                            </th>
                            <th class="px-0 col-2">
                              <%= __('ingredients.종류') %>
                            </th>
                            <th class="px-0 col-5">
                              <%= __('ingredients.기능') %>
                            </th>
                          </thead>
                          <tbody class="table-group-divider text-break">
                            <% recommended_ingredient.forEach((item,index)=>{ %>
                            <tr>
                              <td>
                                <h6><%= item.ingredient_name %></h6>
                              </td>
                              <td class="text-center px-0" style="font-size: 1.125rem;">
                                <%= array_i18n(item.type,__).join(', ') %>
                              </td>
                              <td><%= array_i18n(item.effects,__).join(', ') %></td>
                            </tr>
                            <% }) %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <!-- News & Community -->
              <div class="row mt-5">
                <!-- News -->
                <div class="col-6 pe-4">
                  <div class="widget-content widget-content-area p-0 ps-4 d-flex flex-column">

                    <div class="justify-content-between d-flex px-0">
                      <div>
                        <h4><strong>
                            <%= __('users.dashboard.header.News') %>
                          </strong>
                        </h4>
                      </div>
                      <div class="row text-end">
                        <a href="<%= codezip.url.users.news.main %>">
                          <%= __('Show All') %>
                        </a>
                      </div>
                    </div>
                    <div class="h-100">
                      <% news.forEach((item,index)=>{ %>
                      <a class="hover h-50" href="<%= codezip.url.users.news.main + '/' + item.id %>">
                        <div class="widget row mx-0 align-content-center mt-3 mb-4 text-ellipsis" style="height: 110px;">
                          <%- include('../partials/badge/new.ejs',{date:item.create_date}) %>
                          <h6><%= item.title %></h6>
                          <p>
                            <%= `${formatDate(item.update_date)}` %>
                            <% if(nameOrderInKorean.indexOf(locale) !=-1) { %>
                            <%= `${__('users.community.news.index.WrittenBy')} ${item.last_name} ${item.first_name}` %>
                            <% } else { %>
                            <%= `${__('users.community.news.index.WrittenBy')} ${item.first_name} ${item.last_name}` %>
                            <% } %>
                          </p>
                        </div>
                      </a>
                      <% }) %>
                    </div>
                  </div>
                </div>
                <!-- community -->
                <div class="col-6 ps-4">
                  <div class="widget-content widget-content-area p-0 pe-2 d-flex flex-column">
                    <div class="justify-content-between d-flex px-0">
                      <div>
                        <h4><strong>
                            <%= __('users.dashboard.header.Community') %>
                          </strong>
                        </h4>
                      </div>
                      <div class="row text-end">
                        <a href="<%= codezip.url.users.community.main %>">
                          <%= __('Show All') %>
                        </a>
                      </div>
                    </div>
                    <div class="">
                      <% community.forEach((item,index)=>{ %>
                      <a class="pb-2 hover" href="<%= codezip.url.users.community.main + '/' + item.id %>">
                        <div class="widget row mx-0 align-content-center mt-3 mb-4 text-ellipsis" style="height: 110px;">
                          <%- include('../partials/badge/new.ejs',{date:item.create_date}) %>
                          <h6><%= item.title %></h6>
                          <p class="">
                            <%= `${formatDate(item.update_date)}` %>
                            <% if(nameOrderInKorean.indexOf(locale) !=-1) { %>
                            <%= `${__('users.community.news.index.WrittenBy')} ${item.last_name} ${item.first_name}` %>
                            <% } else { %>
                            <%= `${__('users.community.news.index.WrittenBy')} ${item.first_name} ${item.last_name}` %>
                            <% } %>
                          </p>
                        </div>
                      </a>
                      <% }) %>
                    </div>
                  </div>
                </div>
              </div>


            </div>

          </div>
        </div>
      </div>
      <!--  END CONTENT AREA  -->

      <%- include ("../partials/footer.ejs") %>

    </div>
    <!-- END MAIN CONTAINER -->

    <%- include ("../partials/commonScrpits.ejs") %>

    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
    <script>
      window.addEventListener('load', e => {
        document.getElementsByClassName("menu")[0].classList.add("custom-active");
      })
    </script>
    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
    <%- include ("../partials/chatMark.ejs") %>

</body>

</html>