<!DOCTYPE html>
<html lang="ko">

<head>
  <%- include ("../partials/header.ejs") %>
  <!-- 이미지 그룹 슬라이드 -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/css/swiper.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.js"></script>
</head>

<body class="layout-boxed">

  <%- include ("../partials/loader.ejs") %>

  <%- include ("../partials/client-nav.ejs") %>

  <!--  BEGIN MAIN CONTAINER  -->
  <div class="main-container" id="container">

    <div class="overlay"></div>
    <div class="search-overlay"></div>

    <%- include ("../partials/client-sidebar.ejs") %>

    <!--  BEGIN CONTENT AREA  -->
    <div id="content" class="main-content">
      <div class="layout-px-spacing">

        <div class="middle-content p-0">

          <!-- BREADCRUMB -->
          <div class="row px-3">
            <div class="breadcrumb align-items-end d-flex pt-3 br-20">
              <div class="p-1 col-3">
                <h6 class="main-menu">
                  <%= __('Main') %>
                </h6>
                <h4><strong>
                    <%= __('Dashboard') %>
                  </strong></h4>
              </div>
            </div>
          </div>
          <!-- CONTENT AREA -->
          <div class="row mt-3">
            <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">

              <!-- Progress -->
              <div class="widget-content widget-content-area br-20 px-4">
                <div class="form-group ms-3">

                  <div class="row mb-3">
                    <div class="justify-content-between d-flex px-0">
                      <div>
                        <h5><strong>
                            <%= __('users.dashboard.header.Progress') %>
                          </strong>
                        </h5>
                      </div>
                      <div class="row text-end">
                        <a href="<%= codezip.url.users.myProject.main %>">
                          <%= __('Show All') %>
                        </a>
                      </div>
                    </div>
                  </div>
                  <!-- /* 테스트 데이터 생성 -->
                  <div>
                    <%# let project=[]; %>
                    <%# project.push({
                      project_name:"My Suncream1",
                      phase:7
                    }) %>
                    <%# project.push({
                      project_name:"My Suncream2",
                      phase:8
                    }) %>
                    <%# project.push({
                      project_name:"My Suncream3",
                      phase:1
                    }) %>
                  </div>
                  <!-- 테스트 데이터 생성 */ -->
                  <% project.forEach((item,index)=>{ %>
                  <div class="row">
                    <div class="progress-card">
                      <div class="progress-card-img progress-<%= item.phase %>">
                        <img src="<%= codezip.url.users.progress_icon['_'+item.phase] %>">
                      </div>
                      <div class="progress-card-body">
                        <div class="progress-card-name">
                          <h6>
                            <%= (index+1)+'. '+item.project_name %>
                          </h6>
                        </div>
                        <%- include("../partials/progressbar/"+item.phase+".ejs") %>
                      </div>
                    </div>
                  </div>
                  <% }) %>

                </div>
              </div>

              <!-- 임시 저장한 Progress -->
              <div class="widget-content widget-content-area br-20 px-4 mt-3">
                <div class="form-group ms-3">
                  <div class="row mb-3">
                    <div class="justify-content-between d-flex px-0">
                      <div>
                        <h5><strong>
                            <%= __("users.dashboard.header.TempProgress") %>
                          </strong>
                        </h5>
                      </div>
                      <div class="row text-end">
                        <a href="<%= codezip.url.users.myProject.main %>">
                          <%= __("Show All") %>
                        </a>
                      </div>
                    </div>
                  </div>
                  <!-- /* 테스트 데이터 생성 -->
                  <div>
                    <%# let temp_project=[]; %>
                    <%# temp_project.push({
                      project_name:"My Suncream",
                      phase:0,
                      detail_phase:1
                    }) %>
                    <%# temp_project.push({
                      project_name:"My Suncream",
                      phase:0,
                      detail_phase:2
                    }) %>
                    <%# console.log(temp_project) %>
                  </div>
                  <!-- 테스트 데이터 생성 */ -->
                  <% temp_project.forEach((item,index)=>{ %>
                  <div class="row">
                    <div class="progress-card">
                      <div class="progress-card-img progress-<%= item.phase %>">
                        <img src="<%= codezip.url.users.progress_icon[`_`+item.phase] %>">
                      </div>
                      <div class="progress-card-body">
                        <div class="progress-card-name">
                          <h6>
                            <%= (index+1)+". "+item.project_name %>
                            <span class="ms-1" style="font-size: small; color:gray;"><%= formatDate(item.create_date) %></span>
                          </h6>
                        </div>
                        <%- include("../partials/temp_progressbar/"+item.detail_phase+".ejs", {project: item}) %>
                      </div>
                    </div>
                  </div>
                  <% }) %>

                </div>
              </div>

              <!-- Completed Project -->
              <!-- /* 테스트 데이터 생성 -->
              <div>
                <%# let completed_project={rows:[],page:1,count:2}; %>
                <%# completed_project.rows.push({
                  project_name:"My Suncream1",
                  capacity:"110ml",
                  category1:0,
                  category2:0,
                  total_order_quantity:10000,
                  recent_order_date:new Date(2022,10,5),
                  image_paths:"http://oldmidi.cdn3.cafe24.com/p/0553.jpg,http://ktsmemo.cdn3.cafe24.com/p/0455.jpg,http://oldmidi.cdn3.cafe24.com/p/0099.jpg"
                })%>
                <%# completed_project.rows.push({
                  project_name:"My Suncream2",
                  capacity:"120ml",
                  category1:0,
                  category2:0,
                  total_order_quantity:20000,
                  recent_order_date:new Date(2022,10,15),
                  image_paths:"https://ktsmemo.cafe24.com/p/0716.jpg,http://oldmidi.cdn3.cafe24.com/p/0786.jpg,http://ktsmemo.cdn3.cafe24.com/p/0731.jpg"
                
                })%>
                <%# completed_project.rows.push({
                  project_name:"My Suncream3",
                  capacity:"110g",
                  category1:0,
                  category2:0,
                  total_order_quantity:30000,
                  recent_order_date:new Date(2022,10,25),
                  image_paths:"http://ktsmemo.cdn3.cafe24.com/p/0742.jpg,https://ktsmemo.cafe24.com/p/0646.jpg,https://ktsmemo.cafe24.com/p/0289.jpg"
                })%>
                <%# completed_project.rows.push({
                  project_name:"My Suncream4",
                  capacity:"210g",
                  category1:0,
                  category2:0,
                  total_order_quantity:10000,
                  recent_order_date:new Date(2022,10,5),
                  image_paths:"http://oldmidi.cdn3.cafe24.com/p/0553.jpg"
                })%>
              </div>
              <!-- 테스트 데이터 생성 */ -->
              <!-- Completed Project -->
              <div class="widget-content widget-content-area br-20 px-4 mt-3">
                <div class="form-group ms-3">
                  <div class="row mb-3">
                    <div class="justify-content-between d-flex px-0">
                      <div>
                        <h5><strong>
                            <%= __("users.dashboard.header.CompletedProject") %>
                          </strong>
                        </h5>
                      </div>
                    </div>
                  </div>

                  <div class="row mt-3">
                    <% if(completed_project.count){ %>
                    <div class="widget p-4 row mx-0 justify-content-center" id="completed_project">
                      <% completed_project.rows.forEach((item,index)=>{ %>
                      <div class="col-3 d-flex flex-column">
                        <!-- style="height: calc(100%-50px);" -->
                        <% if(item.image_paths) { %>
                        <div class="preview">
                          <img class="br-15" src="<%= item.image_paths.split(',')[0] %>">
                        </div>
                        <% } %>
                        <div class="mb-auto mt-3">
                          <h6>
                            <%= item.project_name %>
                          </h6>
                          <h6>
                            <%= __("product"+item.category1+"."+item.category2) %>
                            <%= " " + item.capacity %>
                          </h6>
                          <p>
                            <%= __("users.dashboard.CompletedProject.Total발주수량") %>
                            <%= ' : ' + item.total_order_quantity %>
                            <br>
                            <%= __("users.dashboard.CompletedProject.최근 발주 날짜") %>
                            <%= ' : ' + formatDate(item.recent_order_date) %>
                          </p>
                        </div>
                        <div class="row mx-0 mt-3">
                          <button class="btn btn-outline-primary" type="button">
                            <%= __('REORDER') %>
                          </button>
                        </div>
                      </div>
                      <% }) %>

                      <!-- pagination -->
                      <!--make_pagination_by_href( i18n_func, page, count, baseURL, limit = 10) -->
                      <%- make_pagination_by_href(
                          __,
                          page,
                          completed_project.count,
                          codezip.url.users.dashboard,
                          4
                        ) %>

                    </div>
                    <% } %>
                  </div>
                </div>
              </div>

              <!-- 추천 프로젝트 & 추천 성분 -->
              <div class="row mt-5">
                <!-- 추천 프로젝트 -->
                <div class="col-6">
                  <div class="widget-content widget-content-area p-0 ps-4 h-100 d-flex flex-column">

                    <div class="justify-content-between d-flex px-0 mb-3">
                      <div>
                        <h5><strong>
                            <%= __('users.dashboard.header.RemommendedFormula') %>
                          </strong>
                        </h5>
                      </div>
                      <div class="row text-end">
                        <a href="<%= codezip.url.users.formula.main %>">
                          <%= __('Show All') %>
                        </a>
                      </div>
                    </div>

                    <div class="widget row mx-0 h-100 align-content-center">
                      <!-- /* 테스트 데이터 생성 -->
                      <div>
                        <%# let recommended_formula=[]; %>
                        <%# recommended_formula.push({
                          product_name:"테스트추천프로젝트1",
                          category1:0,
                          category2:0,
                          image_paths:"http://oldmidi.cdn3.cafe24.com/p/0553.jpg,http://ktsmemo.cdn3.cafe24.com/p/0455.jpg,http://oldmidi.cdn3.cafe24.com/p/0099.jpg"
                        })%>
                        <%# recommended_formula.push({
                          product_name:"테스트추천프로젝트2",
                          category1:1,
                          category2:0,
                          image_paths:"https://ktsmemo.cafe24.com/p/0716.jpg,http://oldmidi.cdn3.cafe24.com/p/0786.jpg,http://ktsmemo.cdn3.cafe24.com/p/0731.jpg"
                        })%>
                        <%# recommended_formula.push({
                          product_name:"테스트추천프로젝트3",
                          category1:2,
                          category2:0,
                          image_paths:"http://ktsmemo.cdn3.cafe24.com/p/0742.jpg,https://ktsmemo.cafe24.com/p/0646.jpg,https://ktsmemo.cafe24.com/p/0289.jpg"
                        })%>
                        <%# console.log(recommended_formula) %>
                      </div>
                      <!-- 테스트 데이터 생성 */ -->
                      <% recommended_formula.forEach((item,index)=>{ %>
                      <div class="col-4">
                        <a class="hover" href="<%= codezip.url.users.formula.main +'/'+item.id %>">
                          <% if(item.image_paths) { %>
                          <div class="preview">
                            <img class="br-15" src="<%= item.image_paths.split(',')[0] %>">
                          </div>
                          <% } %>
                          <div class="row mt-3 justify-content-center text-break">
                            <p><strong><%= __('top_or_new.'+item.top_or_new) +' / '+  __('product'+item.category1) %></strong></p>
                            <p style="color: gray;">
                              <%= __('product'+item.category1+'.'+item.category2) %>
                            </p>
                            <p><strong><%= item.product_name %></strong></p>
                          </div>
                        </a>
                      </div>
                      <% }) %>
                    </div>
                  </div>
                </div>
                <!-- 추천 성분 -->
                <div class="col-6">
                  <div class="widget-content widget-content-area p-0 pe-2 h-100 d-flex flex-column">
                    <div class="justify-content-between d-flex px-0 mb-3">
                      <div>
                        <h5><strong>
                            <%= __('users.dashboard.header.RemommendedIngredient') %>
                          </strong>
                        </h5>
                      </div>
                      <div class="row text-end">
                        <a href="<%= codezip.url.users.ingredient %>">
                          <%= __('Show All') %>
                        </a>
                      </div>
                    </div>

                    <div class="widget row mx-0 h-100 align-content-center">
                      <!-- /* 테스트 데이터 생성 -->
                      <div>
                        <%# let remommended_ingredient=[]; %>
                        <%# remommended_ingredient.push({ingredient_name:"테스트추천성분1", type:"IC00,IC03",
                                              effects:"IE00,IE01,IE02"}) %>
                        <%# remommended_ingredient.push({ingredient_name:"테스트추천성분2",
                                                type:"IC01,IC03", effects:"IE03,IE04,IE05"}) %>
                        <%# remommended_ingredient.push({ingredient_name:"테스트추천성분3",
                                                  type:"IC00,IC02", effects:"IE06,IE07,IE08"}) %>
                        <%# console.log(remommended_ingredient) %>
                      </div>
                      <!-- 테스트 데이터 생성 */ -->
                      <div class="table-responsive p-0">
                        <table class="table text-break">
                          <thead class="text-center">
                            <th class="col-5 px-0">
                              <%= __('ingredients.성분명') %>
                            </th>
                            <th class="col-2 px-0">
                              <%= __('ingredients.종류') %>
                            </th>
                            <th class="col-5 px-0">
                              <%= __('ingredients.기능') %>
                            </th>
                          </thead>
                          <tbody class="table-group-divider text-break">
                            <% remommended_ingredient.forEach((item,index)=>{ %>
                            <tr>
                              <td>
                                <%= item.ingredient_name %>
                              </td>
                              <td class="text-center">
                                <%= array_i18n(item.type,__).join(', ') %>
                              </td>
                              <td><%= array_i18n(item.effects,__).join(', ') %></td>
                            </tr>
                            <% }) %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <!-- News & Community -->
              <div class="row mt-5">
                <!-- News -->
                <div class="col-6">
                  <div class="widget-content widget-content-area p-0 ps-4 d-flex flex-column">

                    <div class="justify-content-between d-flex px-0">
                      <div>
                        <h5><strong>
                            <%= __('users.dashboard.header.News') %>
                          </strong>
                        </h5>
                      </div>
                      <div class="row text-end">
                        <a href="<%= codezip.url.users.news.main %>">
                          <%= __('Show All') %>
                        </a>
                      </div>
                    </div>
                    <div class="h-100">
                      <% news.forEach((item,index)=>{ %>
                      <a class="pb-2 hover h-50" href="<%= codezip.url.users.news.main + '/' + item.id %>">
                        <div class="widget row mx-0 align-content-center mt-3 text-ellipsis" style="height: 110px;">
                            <%- include('../partials/badge/new.ejs',{date:item.create_date}) %>
                          <div class="fs-6"><%= item.title %></div>
                          <div>
                            <%= `${formatDate(item.update_date)}` %>
                            <% if(nameOrderInKorean.indexOf(locale) !=-1) { %>
                            <%= `${__('users.community.news.index.WrittenBy')} ${item.last_name} ${item.first_name}` %>
                            <% } else { %>
                            <%= `${__('users.community.news.index.WrittenBy')} ${item.first_name} ${item.last_name}` %>
                            <% } %>
                          </div>
                        </div>
                      </a>
                      <% }) %>
                    </div>
                  </div>
                </div>
                <!-- community -->
                <div class="col-6">
                  <div class="widget-content widget-content-area p-0 pe-2 d-flex flex-column">
                    <div class="justify-content-between d-flex px-0">
                      <div>
                        <h5><strong>
                            <%= __('users.dashboard.header.Community') %>
                          </strong>
                        </h5>
                      </div>
                      <div class="row text-end">
                        <a href="<%= codezip.url.users.community.main %>">
                          <%= __('Show All') %>
                        </a>
                      </div>
                    </div>
                    <div class="">
                      <% community.forEach((item,index)=>{ %>
                      <a class="pb-2 hover" href="<%= codezip.url.users.community.main + '/' + item.id %>">
                        <div class="widget row mx-0 align-content-center mt-3 text-ellipsis" style="height: 110px;">
                            <%- include('../partials/badge/new.ejs',{date:item.create_date}) %>
                          <div class="fs-6"><%= item.title %></div>
                          <div class="">
                            <%= `${formatDate(item.update_date)}` %>
                            <% if(nameOrderInKorean.indexOf(locale) !=-1) { %>
                            <%= `${__('users.community.news.index.WrittenBy')} ${item.last_name} ${item.first_name}` %>
                            <% } else { %>
                            <%= `${__('users.community.news.index.WrittenBy')} ${item.first_name} ${item.last_name}` %>
                            <% } %>
                          </div>
                        </div>
                      </a>
                      <% }) %>
                    </div>
                  </div>
                </div>
              </div>


            </div>

          </div>
        </div>
      </div>
      <!--  END CONTENT AREA  -->

      <%- include ("../partials/footer.ejs") %>

    </div>
    <!-- END MAIN CONTAINER -->

    <%- include ("../partials/commonScrpits.ejs") %>

    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
    <script>
    </script>
    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
    <%- include ("../partials/chatMark.ejs") %>

</body>

</html>