<!DOCTYPE html>
<html lang="ko">

<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body class="layout-boxed">

  <%- include ("../partials/loader.ejs") %>

  <%- include ("../partials/client-nav.ejs") %>
  <%- include ("../partials/chatMark.ejs") %>

  <!--  BEGIN MAIN CONTAINER  -->
  <div class="main-container" id="container">

    <div class="overlay"></div>
    <div class="search-overlay"></div>

    <%- include ("../partials/client-sidebar.ejs") %>

    <!--  BEGIN CONTENT AREA  -->
    <div id="content" class="main-content">
      <div class="layout-px-spacing">

        <div class="middle-content  p-0">

          <!-- BREADCRUMB -->
          <div class="row px-3 mt-3">
            <div class="breadcrumb">
              <div class="col-3">
                <h6 class="main-menu">
                  <%= __('Lounge') %>
                </h6>
                <div class="menu">
                    <%= __('Community') %>
                  </div>
              </div>
            </div>
          </div>

          <div class="row px-3 ">
            <div class="ms-1 p-3">
              <div class="col">
                <h4><strong>
                    <%= __('users.community.subtitle') %>
                  </strong></h4>
              </div>
            </div>
          </div>

          <!-- CONTENT AREA -->
          <div class="row px-3 justify-content-center">
            <div class="col-xxl-12 col-xl-12 col-md-12 col-sm-12 ms-1 ps-3">

              <div class="widget w-100">
                <form method="post">
                  <!-- title -->
                  <input class="w-100 bc-white" name="title" type="text" placeholder="<%= __('users.community.add.제목을 입력해주세요') %>" required value="<%= data.title %>">

                  <hr>

                  <!-- content -->
                  <textarea rows="10" maxlength="5000" class="w-100 bc-white" name="content" type="text" placeholder="<%= __('users.community.add.내용을 입력해주세요') %>" required><%= data.content %></textarea>

                  <hr>

                  <div class="text-end mt-4">
                    <button class="btn btn-outline-primary px-5">
                      <%= __('users.community.add.btn.확인') %>
                    </button>
                  </div>
                </form>
              </div>
            </div>


          </div>
        </div>
      </div>

    </div>
  </div>
  </div>
  <!--  END CONTENT AREA  -->

  <%- include ("../partials/footer.ejs") %>

  </div>
  <!-- END MAIN CONTAINER -->

  <%- include ("../partials/commonScrpits.ejs") %>

  <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
  <script>
    window.addEventListener('load', e => {
      document.getElementsByClassName("menu")[8].classList.add("custom-active");
    })
  </script>
  <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
</body>

</html>