<!DOCTYPE html>
<html lang="ko">

<head>
    <%- include ("../partials/header.ejs") %>
</head>

<body class="layout-boxed">

    <%- include ("../partials/loader.ejs") %>

        <%- include ("../partials/client-nav.ejs") %>
            <%- include ("../partials/chatMark.ejs") %>

                <!--  BEGIN MAIN CONTAINER  -->
                <div class="main-container" id="container">

                    <div class="overlay"></div>
                    <div class="search-overlay"></div>

                    <%- include ("../partials/client-sidebar.ejs") %>

                        <!--  BEGIN CONTENT AREA  -->
                        <div id="content" class="main-content">
                            <div class="layout-px-spacing">

                                <div class="middle-content container-xxl p-0">

                                    <!-- BREADCRUMB -->
                                    <div class="row px-3">
                                        <div class="breadcrumb align-datas-start d-flex br-20">
                                            <div class="p-1 col-3">
                                                <h5><strong>
                                                        <%= __('Community') %>
                                                    </strong></h5>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- CONTENT AREA -->
                                    <div class="row layout-top-spacing">
                                        <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">

                                            <div class="widget-content widget-content-area br-20 p-4">
                                                <form method="post">
                                                    <!-- title -->
                                                    <input class="form-control br-15" id="title" name="title"
                                                        type="text"
                                                        placeholder="<%= __('users.community.add.제목을 입력해주세요') %>"
                                                        value="<%= data.title %>" required>

                                                    <!-- contents -->
                                                    <textarea rows="10" class="form-control br-15 mt-3" id="contents"
                                                        name="contents" type="text"
                                                        placeholder="<%= __('users.community.add.내용을 입력해주세요') %>"
                                                        required><%= data.contents %></textarea>

                                                    <div class="text-end mt-4">
                                                        <button class="btn btn-lg px-5">
                                                            <%= __('users.community.add.btn.확인') %>
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>

                        </div>
                </div>
                </div>
                <!--  END CONTENT AREA  -->

                <%- include ("../partials/footer.ejs") %>

                    </div>
                    <!-- END MAIN CONTAINER -->

                    <%- include ("../partials/commonScrpits.ejs") %>

                        <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
                        <script>
                        </script>
                        <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
</body>

</html>