<!DOCTYPE html>
<html lang="ko">

<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body class="layout-boxed">

  <%- include ("../partials/loader.ejs") %>

  <%- include ("../partials/client-nav.ejs") %>
  <%- include ("../partials/chatMark.ejs") %>

  <!--  BEGIN MAIN CONTAINER  -->
  <div class="main-container" id="container">

    <div class="overlay"></div>
    <div class="search-overlay"></div>

    <%- include ("../partials/client-sidebar.ejs") %>

    <!--  BEGIN CONTENT AREA  -->
    <div id="content" class="main-content">
      <div class="layout-px-spacing">

        <div class="middle-content container-xxl p-0">

          <!-- BREADCRUMB -->
          <div class="row px-3">
            <div class="breadcrumb align-items-end d-flex mt-4 br-20">
              <div class="col-3">
                <h6 class="main-menu">
                  <%= __('Lounge') %>
                </h6>
                <h4><strong>
                    <%= __('Community') %>
                  </strong></h4>
              </div>
            </div>
          </div>

          <div class="row px-3 ">
            <div class="breadcrumb align-items-start d-flex br-20">
              <div class="col">
                <h5><strong>
                    <%= __('users.community.subtitle') %>
                  </strong></h5>
              </div>
            </div>
          </div>

          <!-- CONTENT AREA -->
          <div class="row px-3 justify-content-center">
            <div class="col-xxl-12 col-xl-12 col-md-12 col-sm-12 breadcrumb mt-1 py-0">

              <div class="widget w-100">
                <div class="form-group ms-3">

                  <!-- list -->
                  <div class="row mt-3">
                    <div class="text-black align-self-center">
                      <div id="index_head" class="d-flex form-control text-center h6 p-0">
                        <div class="col-1 py-3">
                          <%= __('users.myPage.table.thead.number') %>
                        </div>
                        <div class="col-6 py-3">
                          <%= __('users.myPage.table.thead.title') %>
                        </div>
                        <div class="col-2 py-3">
                          <%= __('users.myPage.table.thead.date') %>
                        </div>
                        <div class="col-3 py-3">
                          <%= __('users.myPage.table.thead.writer') %>
                        </div>
                      </div>
                      <div id="index_body">
                        <% communities.data.forEach((item,index)=>{ %>
                        <a class="d-flex border-bottom py-3 page-link text-black px-0 text-center" href='<%= codezip.url.users.community.main + `/` + item.id %>'>
                          <div class="col-1"><%= item.id %></div>
                          <div class="col-6 d-flex px-3">
                            <%- include('../partials/badge/new', {date:item.create_date}) %>
                            <div class="text-ellipsis">
                              <%= item.title %>
                            </div>
                          </div>
                          <div class="col-2 text-ellipsis">
                            <%= formatDate(item.create_date) %>
                          </div>
                          <div class="col-3 text-ellipsis">
                            <%# __('users.community.index.WrittenBy') %>
                            <% if(nameOrderInKorean.indexOf(locale) !=-1) { %>
                            <%= ` ${item.last_name} ${item.first_name}` %>
                            <% } else { %>
                            <%= ` ${item.first_name} ${item.last_name}` %>
                            <% } %>
                          </div>
                        </a>
                        <% }) %>
                      </div>
                    </div>
                  </div>

                  <!-- pagination -->
                  <div style="position: relative;" class="mt-3">
                    <% if(+communities.count) { %>
                    <!-- make_pagination_by_href = function (i18n_func, page, count, baseURL, limit = 10) -->
                    <%- make_pagination_by_href(
                      __,
                      +communities.page,
                      +communities.count,
                      codezip.url.users.community.main,
                      5
                    ) %>
                    <% } %>
                    <div style="position: absolute; top:0; right:0;">
                      <button class="btn btn-outline-primary br-10 px-3" type="button" onclick="location.href='<%= codezip.url.users.community.add %>';">
                        <%= __('users.community.btn.wirte') %>
                      </button>
                    </div>
                  </div>
                </div>
              </div>


            </div>
          </div>

        </div>
      </div>
    </div>
    <!--  END CONTENT AREA  -->

    <%- include ("../partials/footer.ejs") %>

  </div>
  <!-- END MAIN CONTAINER -->

  <%- include ("../partials/commonScrpits.ejs") %>

  <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
  <script>


  </script>
  <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
</body>

</html>