<!DOCTYPE html>
<html lang="ko">

<head>
  <%- include ("../../partials/admin-header.ejs") %>
</head>

<body>
  <%- include ("../../partials/loader.ejs") %>

  <!--  BEGIN CONTENT AREA  -->
  <div class="main-container" id="container">
    <div class="overlay"></div>
    <div class="search-overlay"></div>

    <%- include ("../../partials/admin-sidebar.ejs") %>

    <%- include ("../../partials/admin-nav.ejs") %>

    <div class="container">
      <div class="row">
        <div class="col">
          <div class="title">
            <h1><%= __('admin.menu.제품관리.원료') %></h1>
          </div>
        </div>
      </div>

      <div class="search">
        <form id="search">
          <div class="row">
            <div class="col-10" style="padding-right: 0 !important;">
              <input name="q" type="text" placeholder="<%= __('placeholder.admin.ingredient.search') %>" value="<%= word %>">
            </div>
            <div class="col-2" style="padding-left: 0 !important;">
              <button><%= __('btn.검색') %></button>
            </div>
          </div>
        </form>
      </div>

      <table class="table table-hover">
        <thead class="table-header">
          <tr>
            <th scope="col"><%= __('table.head.원료.종류') %></th>
            <th scope="col"><%= __('table.head.원료.성분명') %></th>
            <th scope="col"><%= __('table.head.원료.원료명') %></th>
            <th scope="col"><%= __('table.head.원료.기능') %></th>
            <th scope="col"><%= __('table.head.원료.특징') %></th>
            <th scope="col"><%= __('table.head.삭제/복구') %></th>
          </tr>
          <tr aria-hidden="true" class="mt-3 d-block table-row-hidden"></tr>
        </thead>

        <tbody class="table-body">
          <% ingredients.rows.forEach((item,index)=>{ %>
          <tr onclick="location.href='<%= codezip.url.admin.ingredient.main %>/<%= item.id %>';">
            <td><%= __(item.type) %></td>
            <td><%= item.ingredient_name %></td>
            <td><%= item.material_name %></td>
            <%
            let decording_effect = [];
            item.effects.split(',').forEach((code,index)=>{
              decording_effect.push(__(code));
            })
            %>
            <td><%= decording_effect.join(', ') %></td>
            <td><%= item.feature %></td>
            <td>
              <div id="action_btn-<%= item.id %>" class="hover">
                <% if(item.delete_date) { %>
                <div onclick="recovery_ingredient('<%= item.id %>');"><%= __('btn.복구') %></div>
                <% }else{ %>
                <div onclick="delete_ingredient('<%= item.id %>');"><%= __('btn.삭제') %></div>
                <% } %>
              </div>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>

      <!-- pagination-->
      <div class="d-flex justify-content-between pt-5">
        <div></div>
        <%-
            make_pagination_by_href(
              __,
              +page,
              +ingredients.count,
              codezip.url.admin.ingredient.main,
              10,
              word
            )
          %>
        <div>
          <button type="button" class="px-3 py-2 br-6" onclick="location.href='<%= codezip.url.admin.ingredient.add %>';"><%= __('btn.추가') %></button>
        </div>
      </div>


    </div>
  </div>

  <%- include ("../../partials/commonScrpits.ejs") %>

  <script>
    function recovery_ingredient(id) {
      event.stopPropagation();

      const url = '<%= codezip.url.admin.ingredient.recovery %>/' + id;
      fetch(url)
        .then(res => {
          if (res.ok) {
            document.getElementById("action_btn-" + id).innerHTML = `<div onclick="delete_ingredient(${id});"><%= __('btn.삭제') %></div>`;
          } else {
            alert("<%= __('msg.fail') %>");
            location.reload();
          }
        })
    }

    function delete_ingredient(id) {
      event.stopPropagation();

      const url = '<%= codezip.url.admin.ingredient.delete %>/' + id;
      fetch(url)
        .then(res => {
          if (res.ok) {
            document.getElementById("action_btn-" + id).innerHTML = `<div onclick="recovery_ingredient(${id});"><%= __('btn.복구') %></div>`
          } else {
            alert("<%= __('msg.fail') %>");
            location.reload();
          }
        })
    }
  </script>

</body>

</html>