<!DOCTYPE html>
<html lang="ko">

<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body class="layout-boxed">

  <%- include ("../partials/loader.ejs") %>

  <%- include ("../partials/client-nav.ejs") %>
  <%- include ("../partials/chatMark.ejs") %>

  <!--  BEGIN MAIN CONTAINER  -->
  <div class="main-container" id="container">

    <div class="overlay"></div>
    <div class="search-overlay"></div>

    <%- include ("../partials/client-sidebar.ejs") %>

    <!--  BEGIN CONTENT AREA  -->
    <div id="content" class="main-content">
      <div class="layout-px-spacing">

        <div class="middle-content p-0">

          <!-- BREADCRUMB -->
          <div class="row px-3 mt-3">
            <div class="breadcrumb">
              <div class="">
                <h6 class="main-menu">
                  <%= __('Project') %>
                </h6>
                <div class="menu">
                  <%= __('New Project') %>
                </div>
              </div>
            </div>
          </div>

          <!-- CONTENT AREA -->
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">

              <div class="widget-content widget-content-area br-20 py-4">

                <div class="form-group mx-4 text-break">
                  <div class="d-flex flex-nowrap mb-3 justify-content-between">
                    <div>
                      <h4 class="p-0"><strong>
                          <%= __('샘플의뢰서 기본') %>
                        </strong>
                      </h4>
                    </div>
                    <div>
                      <p style="color: gray;">
                        <span style="color: red;">*</span>
                        <%= __('users.basic.msg.required') %>
                      </p>
                    </div>
                  </div>

                  <div class="widget" style="padding:5% 5%">
                    <form id="basic" method="post" enctype="multipart/form-data" style="padding:0% 5%">

                      <!-- 제품명 -->
                      <div class="row mt-3 align-items-center">
                        <div class="col col-3">
                          <h6>
                            <%= __('users.newProject.basic.project_name') %><span style="color: red;">*</span>
                          </h6>
                        </div>
                        <div class="col">
                          <input class="form-control" name="project_name" id="project_name" placeholder="<%= __('plzInputText') %>" required value="<%= project.project_name %>">
                        </div>
                      </div>

                      <!-- 브랜드명 입력 -->
                      <div class="row mt-3 align-items-center">
                        <div class="col col-3">
                          <h6>
                            <%= __('users.newProject.basic.brand_name') %><span style="color: red;">*</span>
                          </h6>
                        </div>
                        <div class="col">
                          <input type="text" class="form-control" name="brand_name" placeholder="<%= __('plzInputText') %>" required value="<%= project.brand_name %>">
                        </div>
                      </div>

                      <input hidden id="formulas_id" value="<%= project.formulas_id %>">

                      <!-- 카테고리 선택 -->
                      <div class="row mt-3 align-items-center">
                        <div class="col col-3">
                          <h6>
                            <%= __('users.newProject.basic.category1') %><span style="color: red;">*</span>
                          </h6>
                        </div>
                        <div class="col">
                          <input hidden type="text" name="category1" required value="<%= project.category1 %>">
                          <input type="text" class="form-control" id="category1_print" placeholder="<%= __('Select') %>" readonly required>
                        </div>
                        <div class="col col-3">
                          <button class="form-select text-start" type="button" id="select_category1" data-bs-toggle="dropdown" aria-expanded="false">
                            <%= __('Select') %>
                          </button>
                          <ul class="dropdown-menu scrollable-menu" aria-labelledby="select_category1">
                            <% for(let i=0; i< codezip.numberOfProduct.category1; i++) { %>
                            <li class="dropdown-item">
                              <a class="dropdown-item" href="javascript:void(0);" onclick="select_category1_func('<%= i %>');">
                                <%= __('product'+i) %>
                              </a>
                            </li>
                            <% } %>
                          </ul>
                        </div>
                      </div>

                      <!-- 품목 선택 -->
                      <div class="row mt-3 align-items-center">
                        <div class="col col-3">
                          <h6>
                            <%= __('users.newProject.basic.category2') %><span style="color: red;">*</span>
                          </h6>
                        </div>
                        <div class="col">
                          <input hidden type="text" name="category2" required value="<%= project.category2 %>">
                          <input type="text" class="form-control" id="category2_print" placeholder="<%= __('Select') %>" readonly required>
                        </div>
                        <div class="col col-3">
                          <button class="form-select text-start" type="button" id="select_category2" data-bs-toggle="dropdown" aria-expanded="false">
                            <%= __('Select') %>
                          </button>
                          <ul id="category2_list" class="dropdown-menu scrollable-menu" aria-labelledby="select_category2">
                            <li>
                              <%= __('users.newProject.basic.msg.먼저 카테고리를 선택해주세요.') %>
                            </li>
                          </ul>
                        </div>
                      </div>

                      <!-- 용량 선택 -->
                      <div class="row mt-3 align-items-center">
                        <div class="col col-3">
                          <h6>
                            <%= __('users.newProject.basic.capacity') %><span style="color: red;">*</span>
                          </h6>
                        </div>
                        <div class="col">
                          <input type="number" class="form-control" name="capacity" placeholder="<%= __('placeholder.capacity') %>" required value="<%= project.capacity ? project.capacity.split(' ')[0] : '' %>">
                        </div>
                        <div class="col col-3">
                          <%# console.log("??",project.capacity.split(' ')[1],"??") %>
                          <input hidden type="text" id="capacity_unit" value="<%= project.capacity ? project.capacity.split(' ')[1] : '' %>">
                          <button class="form-select text-start" type="button" id="select_capacity_unit" data-bs-toggle="dropdown" aria-expanded="false">
                            <%- project.capacity&&project.capacity.split(' ')[1] ? project.capacity.split(' ')[1] : `<span style="color: red;">*</span>`+__('Select') %>
                          </button>
                          <ul class="dropdown-menu" aria-labelledby="capacity_unit">
                            <% codezip.capacity_unit.forEach((item,index)=>{ %>
                            <li class="dropdown-item capacity_unit">
                              <div><%= item %></div>
                            </li>
                            <% }) %>
                          </ul>
                        </div>
                      </div>

                      <!-- 대상연령 입력 -->
                      <div class="row mt-3 align-items-center">
                        <div class="col col-3">
                          <h6>
                            <%= __('users.newProject.basic.target_age') %><span style="color: red;">*</span>
                          </h6>
                        </div>
                        <div class="col">
                          <input hidden type="text" name="target_age" required>
                          <input type="text" class="form-control text-ellipsis" id="target_age_print" placeholder="<%= __('placeholder.target_age') %>" readonly required>
                        </div>
                        <div class="col col-3">
                          <button class="form-select text-start" type="button" id="select_age" data-bs-toggle="dropdown" data-bs-auto-close="outside">
                            <%= __('Select') %>
                          </button>
                          <ul class="dropdown-menu" aria-labelledby="select_age">
                            <% for(let i=0; i< 9; i++) { %>
                            <li class="dropdown-item d-flex">
                              <input class="form-check-input age mx-2" type="checkbox" id="age<%= i %>">
                              <label class="form-check-label flex-grow-1 target_age_label" for="age<%= i %>">
                                <%= __('age'+i) %>
                              </label>
                            </li>
                            <% } %>
                          </ul>
                        </div>
                      </div>

                      <!-- 성별 입력 -->
                      <div class="row mt-3 align-items-center">
                        <div class="col col-3">
                          <h6>
                            <%= __('users.newProject.basic.target_gender') %><span style="color: red;">*</span>
                          </h6>
                        </div>
                        <div class="col">
                          <input hidden type="text" name="target_gender" required>
                          <input type="text" class="form-control text-ellipsis" id="target_gender_print" placeholder="<%= __('placeholder.target_gender') %>" readonly required>
                        </div>
                        <div class="col col-3">
                          <button class="form-select text-start" type="button" id="select_gender" data-bs-toggle="dropdown" data-bs-auto-close="outside">
                            <%= __('Select') %>
                          </button>
                          <ul class="dropdown-menu" aria-labelledby="select_gender">
                            <% for(let i=0; i< 2; i++) { %>
                            <li class="dropdown-item d-flex">
                              <input class="form-check-input gender mx-2" type="checkbox" id="gender<%= i %>">
                              <label class="form-check-label flex-grow-1 target_gender_label" for="gender<%= i %>">
                                <%= __('gender'+i) %>
                              </label>
                            </li>
                            <% } %>
                          </ul>
                        </div>
                      </div>

                      <!-- 판매국가 입력 -->
                      <div class="row mt-3 align-items-center">
                        <div class="col col-3">
                          <h6>
                            <%= __('users.newProject.basic.target_country') %>
                            <span style="color: red;">*</span>
                          </h6>
                        </div>
                        <div class="col">
                          <input hidden type="text" name="target_country" value="">
                          <input type="text" class="form-control text-ellipsis" id="target_country_print" placeholder="<%= __('placeholder.target_country') %>" readonly required>
                        </div>
                        <div class="col col-3">
                          <button class="form-select text-start" type="button" id="select_country" data-bs-toggle="dropdown" data-bs-auto-close="outside">
                            <%= __('Select') %>
                          </button>
                          <ul class="dropdown-menu scrollable-menu" aria-labelledby="select_country">
                            <% codezip.country.codes.forEach((item,index)=>{ %>
                            <li class="dropdown-item">
                              <div class="d-flex p-0">
                                <input class="form-check-input country mx-2" type="checkbox" id="country-<%= item %>">
                                <img class="me-2" src="/images/flag/<%= item %>.png">
                                <label class="form-check-label flex-grow-1 target_country_label" for="country-<%= item %>">
                                  <%= __(item) %>
                                </label>
                              </div>
                            </li>
                            <% }) %>
                          </ul>
                        </div>
                      </div>

                      <!-- 유통채널 입력 -->
                      <div class="row mt-3 align-items-center">
                        <div class="col col-3">
                          <h6>
                            <%= __('users.newProject.basic.distribution_channel') %>
                            <span style="color: red;">*</span>
                          </h6>
                        </div>
                        <div class="col">
                          <input type="text" class="form-control" name="distribution_channel" id="distribution_channel" placeholder="<%= __('placeholder.distribution_channel') %>" value="<%= project.distribution_channel %>" title="<%= project.distribution_channel %>">
                        </div>
                      </div>

                      <!-- 해외 인증 여부 입력 -->
                      <div class="row mt-3 align-items-center">
                        <div class="col col-3">
                          <h6>
                            <%= __('users.newProject.basic.overseas_certifications') %>
                          </h6>
                        </div>
                        <div class="col">
                          <input type="text" class="form-control" name="overseas_certifications" id="overseas_certifications" placeholder="<%= __('placeholder.overseas_certifications') %>" value="<%= project.overseas_certifications %>" title="<%= project.overseas_certifications %>">
                        </div>
                      </div>


                      <!-- 한국 기능성 인증 진행 여부 -->
                      <div class="row mt-3 align-items-center">
                        <div class="col col-3">
                          <h6>
                            <%= __('users.newProject.basic.korea_certification') %>
                          </h6>
                        </div>
                        <div class="col col-9 col-xxl-6 d-flex align-items-baseline">
                          <% if(project.korea_certification=="1") { %>
                          <input type="radio" class="btn-check" name="korea_certification" id="korea_certification_true" autocomplete="off" value="1" checked>
                          <% }else{ %>
                          <input type="radio" class="btn-check" name="korea_certification" id="korea_certification_true" autocomplete="off" value="1">
                          <% } %>

                          <label class="col-5 btn btn-outline-primary my-0 me-4" for="korea_certification_true">
                            <%= __('users.newProject.basic.btn.yes') %>
                          </label>

                          <% if(project.korea_certification=="0") { %>
                          <input type="radio" class="btn-check" name="korea_certification" id="korea_certification_false" autocomplete="off" value="0" checked>
                          <% }else{ %>
                          <input type="radio" class="btn-check" name="korea_certification" id="korea_certification_false" autocomplete="off" value="0">
                          <% } %>

                          <label class="col-5 btn btn-outline-primary my-0" for="korea_certification_false">
                            <%= __('users.newProject.basic.btn.no') %>
                          </label>
                        </div>
                      </div>


                      <!-- 부자재 입고 유무 -->
                      <div class="row mt-3 align-items-center">
                        <div class="col col-3">
                          <h6>
                            <%= __('users.newProject.basic.sourcing_of_packaging') %>
                          </h6>
                        </div>
                        <div class="col col-9 col-xxl-4 d-flex align-items-baseline">
                          <% if(project.sourcing_of_packaging=="1") { %>
                          <input type="radio" class="btn-check" name="sourcing_of_packaging" id="sourcing_of_packaging_true" autocomplete="off" value="1" checked>
                          <% }else{ %>
                          <input type="radio" class="btn-check" name="sourcing_of_packaging" id="sourcing_of_packaging_true" autocomplete="off" value="1">
                          <% } %>

                          <label class="col-5 btn btn-outline-primary my-0 me-4" for="sourcing_of_packaging_true">
                            <%= __('users.newProject.basic.sourcing_of_packaging.btn.yes') %>
                          </label>

                          <% if(project.sourcing_of_packaging=="0") { %>
                          <input type="radio" class="btn-check" name="sourcing_of_packaging" id="sourcing_of_packaging_false" autocomplete="off" value="0" checked>
                          <% }else{ %>
                          <input type="radio" class="btn-check" name="sourcing_of_packaging" id="sourcing_of_packaging_false" autocomplete="off" value="0">
                          <% } %>

                          <label class="col-5 btn btn-outline-primary my-0" for="sourcing_of_packaging_false">
                            <%= __('users.newProject.basic.sourcing_of_packaging.btn.no') %>
                          </label>
                        </div>
                      </div>

                    </form>

                    <hr>

                    <div class="d-flex mt-4 justify-content-center">
                      <a class="btn btn-outline-primary col-2 py-3 br-10 mx-3" href="<%= codezip.url.users.newProject._1 %>?n=<%= project.id %>">
                        <%= __('btn.previous') %>
                      </a>
                      <button id="saveBtn" class="btn btn-outline-primary col-2 py-3 br-10 mx-3" type="button" onclick="save();">
                        <%= __('users.newProject.basic.btn.Save') %>
                      </button>
                      <button id="nextBtn" class="btn btn-outline-primary col-2 py-3 br-10 mx-3" type="button" onclick="next();">
                        <%= __('users.newProject.basic.btn.Next') %>
                      </button>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!--  END CONTENT AREA  -->

    <%- include ("../partials/footer.ejs") %>

  </div>
  <!-- END MAIN CONTAINER -->

  <%- include ("../partials/commonScrpits.ejs") %>

  <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
  <script>
    window.addEventListener('load', e => {
      document.getElementsByClassName("menu")[2].classList.add("custom-active");
    })
  </script>
  <%- include ("../partials/scripts/request_basic_script.ejs") %>
  <script>
    distribution_channel.addEventListener('input', e => {
      distribution_channel.title = distribution_channel.value;
    })

    overseas_certifications.addEventListener('input', e => {
      overseas_certifications.title = overseas_certifications.value;
    })
  </script>
  <script>
    function checkRequired() {
      let formData = new FormData(basic);
      let cnt = 0;
      let checkReady = false;

      for ([name, value] of formData) {
        // console.log(name, Boolean(value));

        if (!value) break;
        cnt += 1;
        if (cnt > 8) {
          checkReady = true;
          break;
        }
      }
      if (!capacity_unit.value) checkReady = false;
      return checkReady;
    }

    function checkValues() {
      return;
      let checkReady = checkRequired();

      if (checkReady) {
        saveBtn.hidden = true;
        nextBtn.hidden = false;
      } else {
        saveBtn.hidden = false;
        nextBtn.hidden = true;
      }
    }

    document.addEventListener('input', (e) => {
      checkValues();
    })

    document.addEventListener('change', (e) => {
      checkValues();
    })

    document.addEventListener('click', (e) => {
      checkValues();
    })

    function basic_body() {
      let body = new FormData(basic);
      body.set('capacity', basic.capacity.value + ' ' + capacity_unit.value);
      return body;
    }

    function save() {
      let body = basic_body();

      fetch(basic.action, {
        method: "post",
        body: new URLSearchParams(body)
      }).then(res => {
        if (res.ok) {
          alert("<%= __('users.msg.SuccessSave') %>");
        } else {
          throw new Error(res.status);
        }
      }).catch(err => {
        console.error(err);
        alert("<%= __('users.msg.FailSave') %>");
      })
    }

    function next() {
      if (!checkRequired()) return alert("<%= __('users.msg.need_to_check_rquired_field') %>");

      let body = basic_body();
      body.set('detail_phase', 3)

      fetch(basic.action, {
        method: "post",
        body: new URLSearchParams(body)
      }).then(res => {
        if (res.ok) {
          // alert("<%= __('users.msg.SuccessSave') %>");
          location.replace('<%= codezip.url.users.newProject._3 %>' + location.search);
        } else {
          throw new Error(res.status);
        }
      }).catch(err => {
        console.error(err);
        alert("<%= __('users.msg.FailSave') %>");
      })
    }
  </script>
  <script>
    window.addEventListener('load', event => {
      select_category1_func('<%= project.category1||"" %>')
      select_category2_func('<%= project.category2||"" %>')

      let target_age = '<%= project.target_age %>';
      print_target_age(target_age);
      basic['target_age'].value = target_age;

      let target_gender = '<%= project.target_gender %>';
      print_target_gender(target_gender);
      basic['target_gender'].value = target_gender;

      let target_country = '<%= project.target_country %>';
      print_target_country(target_country);
      basic['target_country'].value = target_country;
    })
  </script>
  <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
</body>

</html>