<!DOCTYPE html>
<html lang="ko">

<head>
  <%- include ("../partials/header.ejs") %>

  <!-- option -->
  <link href="/src/assets/css/light/components/modal.css" rel="stylesheet" type="text/css" />
</head>

<body class="layout-boxed">

  <%- include ("../partials/loader.ejs") %>

  <%- include ("../partials/client-nav.ejs") %>
  <%- include ("../partials/chatMark.ejs") %>

  <!--  BEGIN MAIN CONTAINER  -->
  <div class="main-container" id="container">

    <div class="overlay"></div>
    <div class="search-overlay"></div>

    <%- include ("../partials/client-sidebar.ejs") %>

    <!--  BEGIN CONTENT AREA  -->
    <div id="content" class="main-content">
      <div class="layout-px-spacing">

        <div class="middle-content  p-0">

          <!-- BREADCRUMB -->
          <div class="px-3">
            <div class="breadcrumb align-items-end d-flex mt-4 br-20">
              <div class="col-3">
                <h6 class="main-menu">
                  <%= __('Project') %>
                </h6>
                <h4><strong>
                    <%= __('New Project') %>
                  </strong></h4>
              </div>
            </div>
          </div>

          <!-- CONTENT AREA -->
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">

              <div class="widget-content widget-content-area br-20 py-5">

                <div class="form-group ms-3 text-break">
                  <div class="d-flex flex-nowrap mb-3 justify-content-between">
                    <div>
                      <h5 class="p-0"><strong>
                          <%= __('샘플의뢰서 초안') %>
                        </strong>
                      </h5>
                    </div>
                  </div>

                  <div class="widget" style="padding:5% 5%">

                    <form id="draft" method="post" enctype="multipart/form-data" style="padding:3% 5%">

                      <!-- 제품명 -->
                      <div class="row mb-3 align-items-center">
                        <div class="col col-3">
                          <h6>
                            <%= __('users.newProject.basic.project_name') %>
                          </h6>
                        </div>
                        <div class="col">
                          <input readonly class="form-control" name="project_name" id="project_name" value="<%= project.project_name %>">
                        </div>
                      </div>

                      <!-- 브랜드명 입력 -->
                      <div class="row mb-3 align-items-center">
                        <div class="col col-3">
                          <h6>
                            <%= __('users.newProject.basic.brand_name') %>
                          </h6>
                        </div>
                        <div class="col">
                          <input readonly type="text" class="form-control" name="brand_name" value="<%= project.brand_name %>">
                        </div>
                      </div>

                      <input readonly hidden id="formulas_id" value="<%= project.formulas_id %>">

                      <!-- 카테고리 선택 -->
                      <div class="row mb-3 align-items-center">
                        <div class="col col-3">
                          <h6>
                            <%= __('users.newProject.basic.category1') %>
                          </h6>
                        </div>
                        <div class="col">
                          <input readonly type="text" class="form-control" id="category1_print" value="<%= __('product'+project.category1) %>">
                        </div>
                      </div>

                      <!-- 품목 선택 -->
                      <div class="row mb-3 align-items-center">
                        <div class="col col-3">
                          <h6>
                            <%= __('users.newProject.basic.category2') %>
                          </h6>
                        </div>
                        <div class="col">
                          <input readonly hidden type="text" name="category2">
                          <input readonly type="text" class="form-control" id="category2_print" value="<%= __('product'+project.category1+'.'+project.category2) %>">
                        </div>
                      </div>

                      <!-- 용량 선택 -->
                      <div class="row mb-3 align-items-center">
                        <div class="col col-3">
                          <h6>
                            <%= __('users.newProject.basic.capacity') %>
                          </h6>
                        </div>
                        <div class="col">
                          <input readonly type="number" class="form-control" name="capacity" value="<%= project.capacity %>">
                        </div>
                      </div>

                      <%
                      let target_age_text_list = [];
                      project.target_age_list.forEach((i, index)=>{
                        target_age_text_list.push(__('age'+i));
                      })
                      %>
                      <!-- 대상연령 입력 -->
                      <div class="row mb-3 align-items-center">
                        <div class="col col-3">
                          <h6>
                            <%= __('users.newProject.basic.target_age') %>
                          </h6>
                        </div>
                        <div class="col">
                          <input readonly type="text" class="form-control text-ellipsis" value="<%= target_age_text_list.join(', ') %>">
                        </div>
                      </div>

                      <%
                      let target_gender_text_list = [];
                      project.target_gender_list.forEach((i, index)=>{
                        target_gender_text_list.push(__('gender'+i));
                      })
                      %>
                      <!-- 성별 입력 -->
                      <div class="row mb-3 align-items-center">
                        <div class="col col-3">
                          <h6>
                            <%= __('users.newProject.basic.target_gender') %>
                          </h6>
                        </div>
                        <div class="col">
                          <input readonly type="text" class="form-control text-ellipsis" value="<%= target_gender_text_list.join(', ') %>">
                        </div>
                      </div>

                      <%
                      let target_country_text_list = [];
                      project.target_country.split(',').forEach((code, index)=>{
                        target_country_text_list.push(__(code));
                      })
                      %>
                      <!-- 판매국가 입력 -->
                      <div class="row mb-3 align-items-center">
                        <div class="col col-3">
                          <h6>
                            <%= __('users.newProject.basic.target_country') %>

                          </h6>
                        </div>
                        <div class="col">
                          <input readonly type="text" class="form-control text-ellipsis" id="target_country_print" value="<%= target_country_text_list.join(', ') %>">
                        </div>
                      </div>

                      <!-- 유통채널 입력 -->
                      <div class="row mb-3 align-items-center">
                        <div class="col col-3">
                          <h6>
                            <%= __('users.newProject.basic.distribution_channel') %>
                          </h6>
                        </div>
                        <div class="col">
                          <input readonly type="text" class="form-control" name="distribution_channel" id="distribution_channel" value="<%= project.distribution_channel %>">
                        </div>
                      </div>

                      <!-- 해외 인증 여부 입력 -->
                      <div class="row mb-3 align-items-center">
                        <div class="col col-3">
                          <h6>
                            <%= __('users.newProject.basic.overseas_certifications') %>
                          </h6>
                        </div>
                        <div class="col">
                          <input readonly type="text" class="form-control" name="overseas_certifications" id="overseas_certifications" value="<%= project.overseas_certifications %>">
                        </div>
                      </div>


                      <!-- 한국 기능성 인증 진행 여부 -->
                      <div class="row mb-3 align-items-center">
                        <div class="col col-3">
                          <h6>
                            <%= __('users.newProject.basic.korea_certification') %>
                          </h6>
                        </div>
                        <div class="col col-9 col-xxl-6 d-flex align-items-baseline">
                          <% if(project.korea_certification=="1") { %>
                          <input readonly type="radio" class="btn-check" name="korea_certification" id="korea_certification_true" autocomplete="off" value="1" checked>
                          <% }else{ %>
                          <input readonly type="radio" class="btn-check" name="korea_certification" id="korea_certification_true" autocomplete="off" value="1">
                          <% } %>

                          <label class="col-5 btn btn-outline-primary my-0 me-4 opacity-100 disabled" for="korea_certification_true">
                            <%= __('users.newProject.basic.btn.yes') %>
                          </label>

                          <% if(project.korea_certification=="0") { %>
                          <input readonly type="radio" class="btn-check" name="korea_certification" id="korea_certification_false" autocomplete="off" value="0" checked>
                          <% }else{ %>
                          <input readonly type="radio" class="btn-check" name="korea_certification" id="korea_certification_false" autocomplete="off" value="0">
                          <% } %>

                          <label class="col-5 btn btn-outline-primary my-0 opacity-100 disabled" for="korea_certification_false">
                            <%= __('users.newProject.basic.btn.no') %>
                          </label>
                        </div>
                      </div>


                      <!-- 부자재 입고 유무 -->
                      <div class="row mb-3 align-items-center">
                        <div class="col col-3">
                          <h6>
                            <%= __('users.newProject.basic.sourcing_of_packaging') %>
                          </h6>
                        </div>
                        <div class="col col-9 col-xxl-4 d-flex align-items-baseline">
                          <% if(project.sourcing_of_packaging=="1") { %>
                          <input readonly type="radio" class="btn-check" name="sourcing_of_packaging" id="sourcing_of_packaging_true" autocomplete="off" value="1" checked>
                          <% }else{ %>
                          <input readonly type="radio" class="btn-check" name="sourcing_of_packaging" id="sourcing_of_packaging_true" autocomplete="off" value="1">
                          <% } %>

                          <label class="col-5 btn btn-outline-primary my-0 me-4 opacity-100 disabled" for="sourcing_of_packaging_true">
                            <%= __('users.newProject.basic.sourcing_of_packaging.btn.yes') %>
                          </label>

                          <% if(project.sourcing_of_packaging=="0") { %>
                          <input readonly type="radio" class="btn-check" name="sourcing_of_packaging" id="sourcing_of_packaging_false" autocomplete="off" value="0" checked>
                          <% }else{ %>
                          <input readonly type="radio" class="btn-check" name="sourcing_of_packaging" id="sourcing_of_packaging_false" autocomplete="off" value="0">
                          <% } %>

                          <label class="col-5 btn btn-outline-primary my-0 opacity-100 disabled" for="sourcing_of_packaging_false">
                            <%= __('users.newProject.basic.sourcing_of_packaging.btn.no') %>
                          </label>
                        </div>
                      </div>


                      <!-- option -->

                      <%
                        let efficacy_text_list = [];
                        if(project.efficacy) {
                          project.efficacy.split(',').forEach((code, index)=>{
                            efficacy_text_list.push(__(code));
                          })
                        }
                        %>
                      <!-- 제품 효과 -->
                      <div class="row mt-3 align-items-center">
                        <div class="col-3">
                          <h6>
                            <%= __('users.newProject.option.efficacy') %>
                          </h6>
                        </div>
                        <div class="col">
                          <input readonly class="form-control text-start text-ellipsis" value="<%= efficacy_text_list.join(', ') %>">
                        </div>
                      </div>

                      <!-- 컨셉성분 -->
                      <div class="row mt-3 align-items-center">
                        <div class="col-3">
                          <h6>
                            <%= __('users.newProject.option.ingredients') %>
                          </h6>
                        </div>
                        <div class="col">
                          <input readonly class="form-control text-start text-ellipsis" value="<%= project.concept_ingredients %>">
                        </div>
                      </div>


                      <!-- 제형 선택 -->
                      <div class="row mt-3 align-items-center">
                        <div class="col-3">
                          <h6>
                            <%= __('users.newProject.option.viscosity') %>
                          </h6>
                        </div>
                        <div class="col">
                          <input readonly class="form-control" name="viscosity" value="<%= project.viscosity %>%">
                        </div>
                      </div>


                      <%
                      let applies_text_list = [];
                      codezip.effects.use.boolean.forEach((item,index)=> {
                        if(project.applies_list[index]) applies_text_list.push(__('use_effects.'+item+'.true'));
                        else applies_text_list.push(__('use_effects.'+item+'.false'));
                      })

                      let n_applies_bool = codezip.effects.use.boolean.length;
                      for(let i=0; i< codezip.effects.use.other; i++){
                        let index = n_applies_bool + i;
                        if(project.applies_list[index]) applies_text_list.push(__('use_effects.'+i));
                      }
                      %>
                      <!-- 사용감 입력 -->
                      <div class="row mt-3 align-items-center">
                        <div class="col-3">
                          <h6>
                            <%= __('users.newProject.option.applies') %>
                          </h6>
                        </div>
                        <div class="col-9">
                          <input readonly class="form-control text-start text-ellipsis pe-2-5 d-flex" value="<%= applies_text_list.join(', ') %>">
                        </div>
                      </div>


                      <!-- 색상 입력 -->
                      <div class="row mt-3 align-items-center">
                        <div class="col-3">
                          <h6>
                            <%= __('users.newProject.option.color') %>
                          </h6>
                        </div>
                        <div class="col">
                          <input readonly type="text" class="form-control" name="color" id="color" value="<%= project.color %>">
                        </div>
                      </div>


                      <!-- 향 입력 -->
                      <div class="row mt-3 align-items-center">
                        <div class="col-3">
                          <h6>
                            <%= __('users.newProject.option.fragrance') %>
                          </h6>
                        </div>
                        <div class="col">
                          <input readonly type="text" class="form-control" name="fragrance" id="fragrance" value="<%= project.fragrance %>">
                        </div>
                      </div>


                      <!-- 추가사항 입력 -->
                      <div class="row mt-3 align-items-center">
                        <div class="col-3">
                          <h6>
                            <%= __('users.newProject.option.etc') %>
                          </h6>
                        </div>
                        <div class="col">
                          <input readonly type="text" class="form-control" name="others" id="others" value="<%= project.others %>">
                        </div>
                      </div>

                    </form>

                    <hr>

                    <div class="d-flex mt-4 justify-content-center">
                      <button id="nextBtn" class="btn btn-outline-primary col-1 py-3 br-10" type="button" onclick="next();">
                        <%= __('btn.next') %>
                      </button>

                    </div>


                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
        <!--  END CONTENT AREA  -->

        <%- include ("../partials/footer.ejs") %>

      </div>
      <!-- END MAIN CONTAINER -->


      <%- include ("../partials/commonScrpits.ejs") %>

      <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
      <script>
        function next() {
          location.replace('<%= codezip.url.users.newProject._5 %>' + location.search);
        }
      </script>
      <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
</body>

</html>