<!DOCTYPE html>
<html lang="ko">

<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body class="layout-boxed">

  <%- include ("../partials/loader.ejs") %>

  <%- include ("../partials/client-nav.ejs") %>
  <%- include ("../partials/chatMark.ejs") %>

  <!--  BEGIN MAIN CONTAINER  -->
  <div class="main-container" id="container">

    <div class="overlay"></div>
    <div class="search-overlay"></div>

    <%- include ("../partials/client-sidebar.ejs") %>

    <!--  BEGIN CONTENT AREA  -->
    <div id="content" class="main-content">
      <div class="layout-px-spacing">

        <div class="middle-content  p-0">

          <!-- BREADCRUMB -->
          <div class="row px-3">
            <div class="breadcrumb align-items-end d-flex pt-3 br-20">
              <div class="col-3">
                <h6 class="main-menu">
                  <%= __('Project') %>
                </h6>
                <h4><strong>
                    <%= __('New Project') %>
                  </strong></h4>
              </div>
            </div>
          </div>

          <div class="row px-3">
            <div class="breadcrumb align-items-start d-flex br-20">
              <div class="col-3">
                <h5><strong>
                    <%= __('타겟제품 유무 확인') %>
                  </strong></h5>
              </div>
            </div>
          </div>

          <!-- CONTENT AREA -->
          <div class="row px-3 justify-content-center">
            <div class="col-xxl-12 col-xl-12 col-md-12 col-sm-12 breadcrumb py-0">

              <div class="widget w-100 p-5">

                <form id="isTarget" method="post">
                  <div class="form-group p-5">
                    <!-- title -->
                    <div>
                      <div class="h6">
                        <%= __('users.newProject.isTarget.question') %>
                      </div>
                      <div class="col-3 d-flex flex-nowrap">
                        <% if(project.target_url) { %>
                        <input type="radio" class="btn-check" name="have" id="have_benchmark_ture" checked>
                        <% }else{ %>
                        <input type="radio" class="btn-check" name="have" id="have_benchmark_ture">
                        <% } %>
                        <label class="col-6 btn btn-outline-primary my-0 me-4" for="have_benchmark_ture">
                          <%= __('users.newProject.basic.btn.yes') %>
                        </label>

                        <% if(project.target_url) { %>
                        <input type="radio" class="btn-check" name="have" id="have_benchmark_false">
                        <% }else{ %>
                        <input type="radio" class="btn-check" name="have" id="have_benchmark_false" checked>
                        <% } %>
                        <label class="col-6 btn btn-outline-primary my-0" for="have_benchmark_false">
                          <%= __('users.newProject.basic.btn.no') %>
                        </label>
                      </div>
                    </div>
                    <!-- target url input -->
                    <div class="mt-5">
                      <div class="h6">
                        <%= __('users.newProject.isTarget.urlInput.before') %>
                      </div>
                      <div class="mt-3 d-flex align-items-baseline br-15">
                        <% if(project.target_url) { %>
                        <input class="form-control w-100 align-placeholder" name="target_url" id="target_url" placeholder="<%= __('users.newProject.isTarget.urlInput.placeholder') %>" value="<%= project.target_url %>">
                        <% }else{ %>
                        <input class="form-control w-100 align-placeholder" name="target_url" id="target_url" placeholder="<%= __('users.newProject.isTarget.urlInput.placeholder') %>" value="" disabled>
                        <% } %>
                      </div>
                    </div>


                  </div>

                  <hr class="mt-0">

                  <!-- 버튼 -->
                  <div class="mt-5 d-flex justify-content-center">
                    <a class="col-1 btn btn-outline-primary py-3 br-10 me-5" href="<%= codezip.url.users.newProject._0 %>?n=<%= project.id %>">
                      <%= __('btn.previous') %>
                    </a>
                    <button class="col-1 btn btn-outline-primary py-3 br-10">
                      <%= __('btn.next') %>
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--  END CONTENT AREA  -->

    <%- include ("../partials/footer.ejs") %>

  </div>
  <!-- END MAIN CONTAINER -->

  <%- include ("../partials/commonScrpits.ejs") %>

  <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
  <script>
    function check_target_url(target_url) {
      if (target_url) {
        nextBtn.disabled = false;
      } else {
        nextBtn.disabled = true;
      }
    }

    window.addEventListener('load', (event) => {
      check_target_url(isTarget[0].value)
    })

    isTarget.target_url.addEventListener('keyup', (event) => {
      check_target_url(event.target.value)
    })

    document.querySelectorAll('input[name="have"]').forEach(el => {
      el.addEventListener('change', (event) => {
        if (have_benchmark_ture.checked) {
          target_url.disabled = false;
        } else {
          target_url.disabled = true;
        }
      })
    })

    isTarget.onsubmit = async (e) => {
      e.preventDefault();

      if (!isTarget[0].value) {
        return location.replace('<%= codezip.url.users.formula %>' + location.search);
      }

      let response = await fetch(isTarget.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(isTarget))
      }).then(res => {
        console.log(res);
        if (res.ok) {
          // alert("<%= __('users.msg.SuccessSave') %>")
          location.replace('<%= codezip.url.users.formula %>' + location.search);
        } else {
          throw new Error(res.status)
        }
      }).catch(err => {
        console.error(err);
        alert("<%= __('users.msg.FailSave') %>");
      });
    }
  </script>
  <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
</body>

</html>