<!DOCTYPE html>
<html lang="ko">

<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body class="layout-boxed">

  <%- include ("../partials/loader.ejs") %>

  <%- include ("../partials/client-nav.ejs") %>
  <%- include ("../partials/chatMark.ejs") %>

  <!--  BEGIN MAIN CONTAINER  -->
  <div class="main-container" id="container">

    <div class="overlay"></div>
    <div class="search-overlay"></div>

    <%- include ("../partials/client-sidebar.ejs") %>

    <!--  BEGIN CONTENT AREA  -->
    <div id="content" class="main-content">
      <div class="layout-px-spacing">

        <div class="middle-content p-0">

          <!-- BREADCRUMB -->
          <div class="row px-3">
            <div class="breadcrumb align-items-end d-flex mt-4 br-20">
              <div class="col-3">
                <h6 class="main-menu">
                  <%= __('Project') %>
                </h6>
                <h4><strong>
                    <%= __('New Project') %>
                  </strong></h4>
              </div>
            </div>
          </div>

          <div class="row px-3 ">
            <div class="breadcrumb align-items-start d-flex br-20">
              <div class="col-3">
                <h5><strong>
                    <%= __('MOQ/예산확인') %>
                  </strong></h5>
              </div>
            </div>
          </div>

          <!-- CONTENT AREA -->
          <div class="row px-3 justify-content-center">
            <div class="col-xxl-12 col-xl-12 col-md-12 col-sm-12 breadcrumb mt-1 py-0">

              <div class="widget w-100">

                <form id="moq" class="px-3 mx-2" method="post">
                  <div class="form-group p-5">
                    <div class="mt-4">
                      <div>
                        <%= __('users.newProject.moq.budgetInput.before') %>
                      </div>
                      <div class="form-control my-2 d-flex align-items-baseline px-0 br-15">
                        <span class="ms-2" style="left:0px;">$</span>
                        <input type="number" class="form-control w-100 align-placeholder" name="budget" style="border: 0px;" placeholder="<%= __('users.newProject.moq.budgetInput.placeholder') %>" autofocus required value="<%= project.budget %>">
                      </div>
                      <div style="color: red;">
                        <%= __('users.newProject.moq.budgetInput.after') %>
                      </div>
                    </div>
                    <!-- MOQ 선택 -->
                    <div class="mt-5">
                      <div>
                        <%= __('users.newProject.moq.moqSelect.before1') %>
                      </div>
                      <!-- <div>
                        <%= __('users.newProject.moq.moqSelect.before2') %>
                      </div> -->
                      <div>
                        <select class="form-select br-15" name="moq" required>
                          <option value="">
                            <%= __('users.newProject.moq.moqSelect.placeholder') %>
                          </option>
                          <% for(let i=0;i< codezip.moq_select_list.length; i++) { %>
                          <% if(project.moq==+codezip.moq_select_list[i].replace(/,/g,'')){ %>
                          <option value="<%= codezip.moq_select_list[i].replace(/,/g,'') %>" selected>
                            <%= codezip.moq_select_list[i] %>
                          </option>
                          <% }else{ %>
                          <option value="<%= codezip.moq_select_list[i].replace(/,/g,'') %>">
                            <%= codezip.moq_select_list[i] %>
                          </option>
                          <% }} %>
                          <option value="0">
                            <%= __('users.newProject.moq.moqSelect.others') %>
                          </option>
                        </select>
                      </div>
                      <div style="color: red;">
                        <%- __('users.newProject.moq.moqSelect.after') %>
                      </div>
                    </div>
                    <!-- 개당 단가 출력 -->
                    <div class="mt-5">
                      <div>
                        <%= __('users.newProject.moq.checkUnitPrice.before') %>
                      </div>
                      <div class="form-control my-2 d-flex align-items-baseline px-0 br-15 bg-gray">
                        <span class="ms-2" style="left:0px;">$</span>
                        <input class="form-control w-100 align-placeholder" style="border: 0px;" id="unitPrice" placeholder="<%= __('users.newProject.moq.checkUnitPrice.placeholder') %>" disabled>
                      </div>
                    </div>
                  </div>

                  <hr>

                  <!-- 버튼 -->
                  <div class="mt-4 text-center">
                    <button class="col-1 btn-outline-primary py-3 br-10">
                      <%= __('users.newProject.moq.btn.next') %>
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--  END CONTENT AREA  -->

    <%- include ("../partials/footer.ejs") %>

  </div>
  <!-- END MAIN CONTAINER -->

  <%- include ("../partials/commonScrpits.ejs") %>

  <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
  <script>
    function unitPriceCalc() {
      if (moq[1].value == '0') {
        unitPrice.value = "<%= __('챗봇으로 문의해주세요.') %>"
        return;
      }
      if (+moq[0].value && +moq[1].value) {
        unitPrice.value = parseFloat(+moq[0].value / +moq[1].value)
      }
    }

    moq.addEventListener('input', (event) => {
      unitPriceCalc()
    })

    moq.onsubmit = async (e) => {
      e.preventDefault();

      let body = new FormData(moq)
      if (!location.search) {
        body.set("detail_phase", 1);
      }

      let response = await fetch(moq.action, {
        method: 'POST',
        body: new URLSearchParams(body)
      }).then(res => {
        if (!res.ok) {
          throw new Error(res.status);
        }
        return res.json();
      }).then(result => {
        // console.log(result);
        // alert("<%= __('users.msg.SuccessSave') %>")
        location.replace(`<%= codezip.url.users.newProject._1 %>?n=${result}`);
      }).catch(err => {
        console.log(err)
        alert("<%= __('users.msg.FailSave') %>");
      });
    }

    window.addEventListener('load', event => {
      unitPriceCalc();
    })
  </script>
  <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
</body>

</html>