<!DOCTYPE html>
<html lang="ko">

<head>
  <%- include ("../partials/header.ejs") %>
  <% let applies_true_text_list =[]; %>
  <% let applies_false_text_list =[]; %>
  <link href="/src/assets/css/light/components/modal.css" rel="stylesheet" type="text/css" />
</head>

<body class="layout-boxed">

  <%- include ("../partials/loader.ejs") %>
  <div>
    <%- include ("../partials/client-nav.ejs") %>
    <%- include ("../partials/chatMark.ejs") %>
  </div>
  <!--  BEGIN MAIN CONTAINER  -->
  <div class="main-container" id="container">

    <div class="overlay"></div>
    <div class="search-overlay"></div>

    <%- include ("../partials/client-sidebar.ejs") %>

    <!--  BEGIN CONTENT AREA  -->
    <div id="content" class="main-content">
      <div class="layout-px-spacing">

        <div class="middle-content  p-0">

          <!-- BREADCRUMB -->
          <div class="row px-3">
            <div class="breadcrumb align-items-end d-flex mt-4 br-20">
              <div class="p-1 col-3">
                <h6 class="main-menu">
                  <%= __('Project') %>
                </h6>
                <h4><strong>
                    <%= __('New Project') %>
                  </strong></h4>
              </div>
            </div>
          </div>

          <!-- CONTENT AREA -->
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">

              <div class="widget-content widget-content-area br-20 py-5">

                <div class="form-group ms-3 text-break">
                  <div class="row mb-3">
                    <h5 class="p-0"><strong>
                        <%= __('샘플의뢰서 옵션') %>
                      </strong>
                    </h5>
                  </div>

                  <div class="row widget" style="padding:0% 5% 10% 5%">
                    <form id="option" method="post" enctype="multipart/form-data" style="padding:5% 5%">

                      <!-- 제품 효과 -->
                      <div class="row mt-3 align-items-center">
                        <div class="col-3">
                          <h6>
                            <%= __('users.newProject.option.efficacy') %>
                          </h6>
                        </div>
                        <div class="col col-5">
                          <input hidden type="text" name="efficacy" value="<%= project.efficacy %>">
                          <button class="form-control text-start text-ellipsis pe-2-5 d-flex" type="button" data-bs-toggle="modal" data-bs-target="#select_efficacy" aria-controls="select_efficacy">
                            <div class="flex-fill" id="efficacy_print">
                              <%= __('Select') %>
                            </div>
                            <div class="text-primary">
                              <i class="fa-solid fa-plus"></i>
                            </div>
                          </button>
                          <!-- 제품효과 모달창 -->
                          <div class=" modal" id="select_efficacy" aria-labelledby="" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered col-7">
                              <div class="modal-content br-15">
                                <div class="modal-header justify-content-end text-gray p-3">
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
                                      <line x1="18" y1="6" x2="6" y2="18"></line>
                                      <line x1="6" y1="6" x2="18" y2="18"></line>
                                    </svg>
                                  </button>
                                </div>
                                <div class="modal-title fs-5 text-black text-center form-control mx-5 py-4 w-auto">
                                  <%= __('users.newProject.option.efficacy') %>
                                </div>
                                <div class="modal-body mx-5 mt-0 pt-0 text-gray">
                                  <div class="d-flex flex-wrap">
                                    <!-- 일반 제품효과 -->
                                    <% codezip.effects.product.forEach((item, index)=>{ %>
                                    <div class="col-4 py-3 border-bottom">
                                      <div class="d-flex dropdown-item p-0">
                                        <input class="efficacy form-check-input mx-3 my-auto" type="checkbox" id="<%= item %>">
                                        <label for="<%= item %>" class="efficacyLabel flex-fill m-0 py-1">
                                          <%= __(item)%>
                                        </label>
                                      </div>
                                    </div>
                                    <% }) %>

                                    <!-- 선케어 제품효과-->
                                    <% codezip.effects.suncare.forEach((item, index)=>{ %>
                                    <% if(project.category1&&(project.category1==3)) { %>
                                    <div class="col-4 py-3 border-bottom">
                                      <div class="d-flex dropdown-item p-0">
                                        <input class="efficacy form-check-input mx-3 my-auto" type="checkbox" id="<%= item %>">
                                        <label for="<%= item %>" class="efficacyLabel flex-fill m-0 py-1">
                                          <%= __(item) %>
                                        </label>
                                      </div>
                                    </div>
                                    <% }else{ %>
                                    <div class="col-4 py-3 border-bottom">
                                      <div class="d-flex text-nowrap">
                                        <input class="efficacy form-check-input mx-3 my-auto" type="checkbox" id="<%= item %>" disabled>
                                        <label for="<%= item %>" class="efficacyLabel flex-fill m-0 py-1 form-check-label">
                                          <%= __(item) %>
                                        </label>
                                      </div>
                                    </div>
                                    <% } %>
                                    <% }) %>

                                    <!-- 기타 -->
                                    <div class="col-4 py-3 border-bottom">
                                      <div class="d-flex dropdown-item p-0">
                                        <% if(project.etc_efficacy) { %>
                                        <input class="etc_efficacy form-check-input mx-3 my-auto" type="checkbox" id="etc_efficacy_check" checked>
                                        <% }else{ %>
                                        <input class="etc_efficacy form-check-input mx-3 my-auto" type="checkbox" id="etc_efficacy_check">
                                        <% } %>
                                        <label for="etc_efficacy_check" class="flex-fill m-0 py-1">
                                          <%= __("기타")%>
                                        </label>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <!-- <div class="modal-footer text-center my-3">
                                  <button type="button" class="btn-outline-gray bg-gray br-15 p-3 px-5" data-bs-dismiss="modal">
                                    <%= __('users.newProject.option.btn.확인') %>
                                  </button>
                                </div> -->
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                          <% if(project.etc_efficacy) { %>
                          <input type="text" class="form-control" name="etc_efficacy" placeholder="<%= __('기타') %>" value="<%= project.etc_efficacy %>">
                          <% }else{ %>
                          <input hidden type="text" class="form-control" name="etc_efficacy" placeholder="<%= __('기타') %>">
                          <% } %>
                        </div>
                      </div>

                      <!-- 컨셉성분 -->
                      <div class="row mt-3 align-items-center">
                        <div class="col-3">
                          <h6>
                            <%= __('users.newProject.option.ingredients') %>
                          </h6>
                        </div>
                        <div class="col-9">
                          <input hidden type="text" name="ingredients" value="<%= project.ingredients %>">
                          <button class="form-control text-start text-ellipsis pe-2-5 d-flex" type="button" data-bs-toggle="modal" data-bs-target="#select_ingredients" aria-controls="select_ingredients">
                            <div class="flex-fill" id="ingredients_print">
                              <%= project.concept_ingredients || __('통합 검색') %>
                            </div>
                            <div class="text-primary">
                              <i class="fa-solid fa-magnifying-glass"></i>
                            </div>
                          </button>
                        </div>
                      </div>


                      <!-- 제형 선택 -->
                      <div class="row mt-3 align-items-center">
                        <div class="col-3">
                          <h6>
                            <%= __('users.newProject.option.viscosity') %>
                          </h6>
                        </div>
                        <div class="col">
                          <select class="form-select" name="viscosity">
                            <option value="">
                              <%= __('Select') %>
                            </option>
                            <% codezip.viscosity.forEach((item,index)=>{ %>
                            <% if(project.viscosity==item.slice(0,-1)) { %>"
                            <option value="<%= item.slice(0,-1) %>" selected>
                              <% }else{ %>
                            <option value="<%= item.slice(0,-1) %>">
                              <% } %>
                              <%= item %>
                            </option>

                            <% }) %>
                          </select>
                        </div>
                      </div>


                      <!-- 사용감 입력 -->
                      <div class="row mt-3 align-items-center">
                        <div class="col-3">
                          <h6>
                            <%= __('users.newProject.option.applies') %>
                          </h6>
                        </div>
                        <div class="col-9">
                          <input hidden type="text" name="applies" value="<%= project.applies %>">
                          <button class="form-control text-start text-ellipsis pe-2-5 d-flex" type="button" data-bs-toggle="modal" data-bs-target="#select_applies" aria-controls="select_applies">
                            <div class="flex-fill" id="applies_print">
                              <%= __('Select') %>
                            </div>
                            <div class="text-primary">
                              <i class="fa-solid fa-plus"></i>
                            </div>
                          </button>
                          <!-- 사용감 모달창 -->
                          <div class="modal br-15" id="select_applies" data-bs-scroll="true" data-bs-backdrop="true">
                            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
                              <div class="modal-content br-15 w-100">
                                <div class="modal-header justify-content-end text-gray p-3">
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
                                      <line x1="18" y1="6" x2="6" y2="18"></line>
                                      <line x1="6" y1="6" x2="18" y2="18"></line>
                                    </svg>
                                  </button>
                                </div>
                                <div class="modal-title fs-5 text-black text-center form-control mx-5 py-4 w-auto">
                                  <%= __('users.newProject.option.applies') %>
                                </div>
                                <div class="modal-body mx-5 pt-0 pb-5">
                                  <div>
                                    <% codezip.effects.use.boolean.forEach((item,index)=> { %>
                                    <div class="row py-3 border-bottom">
                                      <div class="col-4 align-self-center">
                                        <h6>
                                          <%= __("use_effects."+item) %>
                                        </h6>
                                      </div>
                                      <% applies_true_text_list.push(__("use_effects."+item+".true")) %>
                                      <% applies_false_text_list.push(__("use_effects."+item+".false")) %>
                                      <div class="col row">
                                        <div class="col d-flex dropdown-item p-0">
                                          <input class="applies_bool form-check-input mx-3" type="checkbox" id="applies-<%= index %>-1">
                                          <label for="applies-<%= index %>-1" class="flex-fill applies_bool-label fs-6">
                                            <%= __("use_effects."+item+".true") %>
                                          </label>
                                        </div>
                                        <div class="col d-flex dropdown-item p-0">
                                          <input class="applies_bool form-check-input mx-3" type="checkbox" id="applies-<%= index %>-0">
                                          <label for="applies-<%= index %>-0" class="flex-fill applies_bool-label fs-6">
                                            <%= __("use_effects."+item+".false") %>
                                          </label>
                                        </div>
                                      </div>
                                    </div>
                                    <% }) %>
                                  </div>
                                  <!-- Other effects -->
                                  <div class="row py-3 border-bottom">
                                    <div class="col-4">
                                      <h6>
                                        <%= __("use_effects.OtherEffects") %>
                                      </h6>
                                      <p style="color: red;">
                                        * <%= __("use_effects.중복선택가능") %>
                                      </p>
                                    </div>
                                    <div class="col row">
                                      <% for(let i=0; i< codezip.effects.use.other; i++){ %>
                                      <% applies_true_text_list.push(__("use_effects."+i)) %>
                                      <div class="col d-flex dropdown-item p-0">
                                        <input class="applies_other form-check-input mx-3" type="checkbox" id="applies-<%= codezip.effects.use.boolean.length +i %>-1">
                                        <label for="applies-<%= codezip.effects.use.boolean.length +i %>-1" class="applies_other-label flex-fill fs-6">
                                          <%= __("use_effects."+i) %>
                                        </label>
                                      </div>
                                      <% if(i%2==1){ %>
                                      <div></div>
                                      <% } %>
                                      <% } %>
                                    </div>
                                  </div>
                                </div>
                                <!-- <div class="modal-footer text-center my-3">
                                  <button type="button" class="btn-outline-gray bg-gray br-15 p-3 px-5" data-bs-dismiss="modal">
                                    <%= __('users.newProject.option.btn.확인') %>
                                  </button>
                                </div> -->
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>


                      <!-- 색상 입력 -->
                      <div class="row mt-3 align-items-center">
                        <div class="col-3">
                          <h6>
                            <%= __('users.newProject.option.color') %>
                          </h6>
                        </div>
                        <div class="col col-5">
                          <input type="text" class="form-control" name="color" id="color" placeholder="<%= __('plzInputText') %>" value="<%= project.color %>">
                        </div>
                        <div class="col col-4" style="color: red;">
                          <%= __("변경을 원할 시 기입해주세요.") %>
                        </div>
                      </div>


                      <!-- 향 입력 -->
                      <div class="row mt-3 align-items-center">
                        <div class="col-3">
                          <h6>
                            <%= __('users.newProject.option.fragrance') %>
                          </h6>
                        </div>
                        <div class="col col-5">
                          <input type="text" class="form-control" name="fragrance" id="fragrance" placeholder="<%= __('plzInputText') %>" value="<%= project.fragrance %>">
                        </div>
                        <div class="col col-4" style="color: red;">
                          <%= __("변경을 원할 시 기입해주세요.") %>
                        </div>
                      </div>


                      <!-- 추가사항 입력 -->
                      <div class="row mt-3 align-items-center">
                        <div class="col-3">
                          <h6>
                            <%= __('users.newProject.option.etc') %>
                          </h6>
                        </div>
                        <div class="col">
                          <input type="text" class="form-control" name="others" id="others" placeholder="<%= __('placeholder.options') %>" value="<%= project.others %>">
                        </div>
                      </div>

                    </form>

                    <hr>

                    <div class="d-flex mt-4 justify-content-center">
                      <button id="saveBtn" class="col-1 btn btn-outline-primary py-3 br-10" type="button" onclick="next();">
                        <%= __('users.newProject.option.btn.확인') %>
                      </button>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!--  END CONTENT AREA  -->

    <%- include ("../partials/footer.ejs") %>

  </div>

  <!-- 컨셉성분 모달창 -->
  <div class="modal" id="select_ingredients" data-bs-scroll="true" data-bs-backdrop="true">
    <div class="modal-dialog modal-dialog-scrollable col-8 mw-100">
      <div class="modal-content br-15 w-100">
        <div class="modal-header justify-content-end text-gray p-3">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
              <line x1="18" y1="6" x2="6" y2="18"></line>
              <line x1="6" y1="6" x2="18" y2="18"></line>
            </svg>
          </button>
        </div>
        <div class="modal-body mx-5 mt-0 pt-0" style="border-top:0px;">
          <form id="search_ingredients">
            <!-- 통합 검색-->
            <div class="d-flex">
              <label class="col-2 h6 align-self-center mb-0">
                <%= __('통합 검색') %>
              </label>
              <div class="col form-control d-flex p-0">
                <input name="ingredient_name" class="col form-control" placeholder="<%= __('plzInputText') %>">
                <button class="col-1 form-control text-primary p-0" type="button" onclick="searching_ingredients();"><i class="fa-solid fa-magnifying-glass"></i></button>
              </div>
            </div>
            <!-- 종류/기능 검색-->
            <div class="d-flex mt-3">
              <!-- 컨셉성분 종류 -->
              <label class="col-2 h6 align-self-center mb-0 ">
                <%= __('ingredients.종류') %>
              </label>
              <!-- <input hidden name="type"> -->
              <div class="col-4">
                <button class="form-select text-start" type="button" id="select_type" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                  <%= __('select') %>
                </button>
                <ul class="dropdown-menu" aria-labelledby="select_type">
                  <% codezip.ingredient_type.forEach((code,index)=>{ %>
                  <li class="dropdown-item d-flex">
                    <input class="form-check-input mx-3 ingredient_type" name="type" type="checkbox" id="ingredient_type-<%= code %>" value="<%= code %>">
                    <label class="form-check-label flex-fill pe-3 ingredient_type-label" for="ingredient_type-<%= code %>">
                      <%= __(code) %>
                    </label>

                  </li>
                  <% }) %>
                </ul>
              </div>
              <!-- 컨셉성분 기능 -->
              <label class="col-2 h6 align-self-center mb-0 text-center">
                <%= __('ingredients.기능') %>
              </label>
              <div class="col-4">
                <button class="form-select text-start" type="button" id="select_effects" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                  <%= __('select') %>
                </button>
                <ul class="dropdown-menu scrollable-menu" aria-labelledby="select_effects">
                  <% codezip.effects.ingredient.forEach((code, index)=>{ %>
                  <li class="dropdown-item d-flex">
                    <input class="form-check-input mx-3 ingredient_effects" name="effects" type="checkbox" id="ingredient_effects-<%= code %>" value="<%= code %>">
                    <label class="form-check-label flex-fill pe-3 ingredient_effects-label" for="ingredient_effects-<%= code %>">
                      <%= __(code) %>
                    </label>
                  </li>
                  <% }) %>
                </ul>
              </div>
            </div>
            <!-- 결과 테이블 -->
            <div class="table-responsive mt-4 pt-4 mb-auto ">
              <table class="table table-no-space table-bordered table-hover text-break text-center br-10">
                <thead class="">
                  <th>
                  </th>
                  <th>
                    <%= __('ingredients.성분명') %>
                  </th>
                  <th>
                    <%= __('ingredients.원료명') %>
                  </th>
                  <th>
                    <%= __('ingredients.종류') %>
                  </th>
                  <th>
                    <%= __('ingredients.기능') %>
                  </th>
                  <th>
                    <%= __('ingredients.특징') %>
                  </th>
                </thead>
                <tbody class="table-group-divider bbr-15" id="ingredients_result">

                </tbody>
              </table>

              <!-- pagination -->
              <div id="ingredients_pagination">

              </div>
            </div>
        </div>
      </div>
    </div>
  </div>

  <!-- END MAIN CONTAINER -->

  <%- include ("../partials/commonScrpits.ejs") %>

  <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
  <script>
    const option = document.forms[0];
    const effects = JSON.parse('<%- JSON.stringify(codezip.effects) %>');
    const applies_true_text_list = JSON.parse('<%- JSON.stringify(applies_true_text_list) %>');
    const applies_false_text_list = JSON.parse('<%- JSON.stringify(applies_false_text_list) %>');
    let product_effect = {};
  </script>
  <script>
    function print_applies(value) {
      let text_list = [];
      for (let i = 0; i < applies_true_text_list.length; i++) {
        if (value & 1 << i) {
          text_list.push(applies_true_text_list[i])
          document.getElementById('applies-' + i + '-1').checked = true;
        } else if (i < applies_false_text_list.length) {
          text_list.push(applies_false_text_list[i])
          document.getElementById('applies-' + i + '-0').checked = true;
        }
      }

      applies_print.innerText = text_list.join(', ')
    }
  </script>
  <script>
    function print_efficacy(value) {
      if (!value) return efficacy_print.innerText = "<%= __('Select') %>"

      let text_list = [];
      value.split(',').forEach((code, index) => {
        text_list.push(product_effect[code]);
        document.getElementById(code).checked = true;
      })

      efficacy_print.innerText = text_list.join(', ')
    }
  </script>
  <script>
    etc_efficacy_check.addEventListener('change', (event) => {
      if (event.target.checked) {
        option['etc_efficacy'].hidden = false;
      } else {
        option['etc_efficacy'].hidden = true;
      }

    })
  </script>
  <script>
    // 제품 효과 추가/제거
    document.forms[0].getElementsByClassName('efficacy').forEach((item, index) => {
      let code = null;
      if (index < effects.product.length) {
        code = effects.product[index];
      } else {
        index -= effects.product.length;
        code = effects.suncare[index];
      }
      product_effect[code] = document.getElementsByClassName('efficacyLabel')[index].innerText.trim();
      item.addEventListener("change", (e) => {
        const obj = option['efficacy'];
        let values = obj.value ? obj.value.split(',') : [];

        if (e.target.checked) {
          values.push(code);
        } else {
          values.splice(values.indexOf(code), 1);
        }
        obj.value = values.join(',');
        print_efficacy(obj.value);
      })
    })
  </script>
  <script>
    // 사용감 추가/제거 1
    document.forms[0].getElementsByClassName('applies_bool').forEach((item, index) => {
      item.addEventListener("change", (e) => {
        const obj = option['applies'];
        let value = +obj.value;
        const code = 1 << parseInt(index / 2);

        let info = item.id.split('-');
        let item_bool = parseInt(info.pop())
        info.push(item_bool ? '0' : '1');
        const opposition = document.getElementById(info.join('-'));

        if (e.target.checked) {
          opposition.checked = false;
          obj.value = item_bool ? value | code : value & ~code;
        } else {
          opposition.checked = true;
          obj.value = item_bool ? value & ~code : value | code;
        }

        print_applies(obj.value);
      })
    })

    // 사용감 추가/제거 2
    document.forms[0].getElementsByClassName('applies_other').forEach((item, index) => {
      item.addEventListener("change", (e) => {
        const obj = option['applies'];
        const code = 1 << effects.use.boolean.length + index;
        let value = +obj.value;

        if (e.target.checked) {
          obj.value = value + code;
        } else {
          obj.value = value - code;
        }

        print_applies(obj.value);
      })
    })
  </script>
  <script>
    function next() {
      let body = new FormData(option);
      body.set('detail_phase', 4)

      fetch(option.action, {
        method: "post",
        body: new URLSearchParams(body)
      }).then(res => {
        if (res.ok) {
          // alert("<%= __('users.msg.SuccessSave') %>");
          location.replace('<%= codezip.url.users.newProject._4 %>'+location.search);
          return;
        } else return alert("<%= __('users.msg.FailSave') %>");
      })
    }
  </script>
  <div>
    <%
    let ingredient_type_text_dict = {};
    codezip.ingredient_type.forEach((code, index)=>{
      ingredient_type_text_dict[code] = __(code);
    })
    let ingredient_effects_text_dict = {};
    codezip.effects.ingredient.forEach((code, index)=>{
      ingredient_effects_text_dict[code] = __(code);
    })
    %>
  </div>
  <script>
    const ingredient_type_text_dict = JSON.parse('<%- JSON.stringify(ingredient_type_text_dict) %>');
    const ingredient_effects_text_dict = JSON.parse('<%- JSON.stringify(ingredient_effects_text_dict) %>');

    function searching_ingredients(page = 1) {
      let search_params = new URLSearchParams(new FormData(search_ingredients))
      search_params.set('p', page)
      const url = '<%= codezip.url.users.api.ingredient %>?' + search_params;
      fetch(url).then(res => {
        ingredients_reload(res.json());
      })
    }

    search_ingredients.onsubmit = (event) => {
      event.preventDefault();
      searching_ingredients();
    }

    function ingredients_reload(res_json) {
      res_json.then(result => {
        // console.log(result);
        let ingredients = result.ingredients;
        let temp_html = "";

        ingredients.rows.forEach((item, index) => {
          let ingredient_effects = [];
          if (item.effects) {
            item.effects.split(',').forEach((code, index) => {
              ingredient_effects.push(ingredient_effects_text_dict[code])
            })
          }

          temp_html += `<tr onclick="select_ingredient('${item.id}');">
            <td><input type="checkbox" class="form-check-input ingredient-checkbox opacity-100" id="ingredient-${item.id}" disabled></td>
            <td id="${item.id}-ingredient_name">${item.ingredient_name}</td>
            <td>${item.material_name}</td>
            <td>${ingredient_type_text_dict[item.type]}</td>
            
            <td>${ingredient_effects.join(', ')}</td>
            <td>${item.feature ? item.feature : ''}</td>
          </tr>`
        })
        ingredients_result.innerHTML = temp_html;

        let values = option.ingredients.value ? option.ingredients.value.split(',') : [];
        values.forEach((id, index) => {
          const target = document.getElementById(`ingredient-${id}`);
          if (!target) return;
          else target.checked = true;
        })


        //make_pagination_by_func(page, count, func_name, limit)
        ingredients_pagination.innerHTML = make_pagination_by_func(+result.page, +ingredients.count, "searching_ingredients")
      });
    }
  </script>
  <script>
    document.querySelectorAll('.ingredient_type, .ingredient_effects').forEach(el => {
      el.addEventListener("change", event => {
        searching_ingredients();
      })
    })
  </script>
  <script>
    function select_ingredient(id) {
      const target = document.getElementById(`ingredient-${id}`);
      const target_name = document.getElementById(`${id}-ingredient_name`).innerText;
      if (!target) return;

      target.checked = !target.checked;
      let values = option.ingredients.value ? option.ingredients.value.split(',') : [];
      let text_list = option.ingredients.value ? ingredients_print.innerText.split(', ') : [];
      if (target.checked) {
        values.push(id);
        text_list.push(target_name)
      } else {
        values.splice(values.indexOf(id), 1);
        text_list.splice(text_list.indexOf(target_name), 1);
      }
      option.ingredients.value = values.join(',');
      if (values.length) {
        ingredients_print.innerText = text_list.join(', ');
      } else {
        ingredients_print.innerText = "<%= __('통합 검색') %>";
      }
    }
  </script>
  <script>
    window.addEventListener('load', event => {
      print_efficacy(option.efficacy.value);
      print_applies(option.applies.value);
      searching_ingredients();
    })
  </script>
  <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
</body>

</html>