<!DOCTYPE html>
<html lang="ko">

<head>
  <link href="/src/assets/css/light/components/modal.css" rel="stylesheet" type="text/css" />
  <%- include ("../partials/header.ejs") %>
  <% let applies_true_text_list =[]; %>
  <% let applies_false_text_list =[]; %>
</head>

<body class="layout-boxed">

  <%- include ("../partials/loader.ejs") %>
  <div>
    <%- include ("../partials/client-nav.ejs") %>
    <%- include ("../partials/chatMark.ejs") %>
  </div>
  <!--  BEGIN MAIN CONTAINER  -->
  <div class="main-container" id="container">

    <div class="overlay"></div>
    <div class="search-overlay"></div>

    <%- include ("../partials/client-sidebar.ejs") %>

    <!--  BEGIN CONTENT AREA  -->
    <div id="content" class="main-content">
      <div class="layout-px-spacing">

        <div class="middle-content  p-0">

          <!-- BREADCRUMB -->
          <div class="row px-3 mt-3">
            <div class="breadcrumb">
              <div class="">
                <h6 class="main-menu">
                  <%= __('Project') %>
                </h6>
                <div class="menu">
                    <%= __('New Project') %>
                  </div>
              </div>
            </div>
          </div>

          <!-- CONTENT AREA -->
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">

              <div class="widget-content widget-content-area br-20 pt-4">

                <div class="form-group mx-4 px-3 text-break">
                  <div class="row mb-3">
                    <h4 class="p-0"><strong>
                        <%= __('샘플의뢰서 옵션') %>
                      </strong>
                    </h4>
                  </div>

                  <div class="row widget" style="padding:0% 5% 10% 5%">
                    <form id="option" method="post" enctype="multipart/form-data" style="padding:5% 5%">

                      <!-- 제품 효과 -->
                      <div class="row mt-3 align-items-center">
                        <div class="col-3">
                          <h6>
                            <%= __('users.newProject.option.efficacy') %>
                          </h6>
                        </div>
                        <div class="col col-5">
                          <input hidden type="text" name="efficacy" value="<%= project.efficacy %>">
                          <button class="form-control text-start pe-2-5 d-flex" type="button" data-bs-toggle="modal" data-bs-target="#select_efficacy" aria-controls="select_efficacy">
                            <div class="flex-fill text-ellipsis" id="efficacy_print">
                              <%= __('Select') %>
                            </div>
                            <div class="text-primary">
                              <i class="fa-solid fa-plus"></i>
                            </div>
                          </button>
                          <!-- 제품효과 모달창 -->
                          <%- include ("../partials/modals/efficacy_modal.ejs") %>

                        </div>
                        <div class="col">
                          <% if(project.etc_efficacy) { %>
                          <input type="text" class="form-control" name="etc_efficacy" placeholder="<%= __('기타') %>" value="<%= project.etc_efficacy %>">
                          <% }else{ %>
                          <input hidden type="text" class="form-control" name="etc_efficacy" placeholder="<%= __('기타') %>">
                          <% } %>
                        </div>
                      </div>

                      <!-- 컨셉성분 -->
                      <div class="row mt-3 align-items-center">
                        <div class="col-3">
                          <h6>
                            <%= __('users.newProject.option.ingredients') %>
                          </h6>
                        </div>
                        <div class="col-9">
                          <input hidden type="text" name="ingredients" value="<%= project.ingredients %>" title="<%= project.ingredients %>">
                          <button class="form-control text-start pe-2-5 d-flex" type="button" data-bs-toggle="modal" data-bs-target="#select_ingredients" aria-controls="select_ingredients">
                            <div class="flex-fill text-ellipsis" id="ingredients_print" title="<%= project.ingredients %>">
                              <%= project.concept_ingredients || __('통합 검색') %>
                            </div>
                            <div class="text-primary">
                              <i class="fa-solid fa-magnifying-glass"></i>
                            </div>
                          </button>
                        </div>
                      </div>


                      <!-- 제형 선택 -->
                      <div class="row mt-3 align-items-center">
                        <div class="col-3">
                          <h6>
                            <%= __('users.newProject.option.viscosity') %>
                          </h6>
                        </div>
                        <div class="col">
                          <select class="form-select" name="viscosity">
                            <option value="">
                              <%= __('Select') %>
                            </option>
                            <% codezip.viscosity.forEach((item,index)=>{ %>
                            <% if(project.viscosity==item.slice(0,-1)) { %>"
                            <option value="<%= item.slice(0,-1) %>" selected>
                              <% }else{ %>
                            <option value="<%= item.slice(0,-1) %>">
                              <% } %>
                              <%= item %>
                            </option>

                            <% }) %>
                          </select>
                        </div>
                      </div>


                      <!-- 사용감 입력 -->
                      <div class="row mt-3 align-items-center">
                        <div class="col-3">
                          <h6>
                            <%= __('users.newProject.option.applies') %>
                          </h6>
                        </div>
                        <div class="col-9">
                          <input hidden type="text" name="applies" value="<%= project.applies %>">
                          <button class="form-control text-start pe-2-5 d-flex" type="button" data-bs-toggle="modal" data-bs-target="#select_applies" aria-controls="select_applies">
                            <div class="flex-fill text-ellipsis" id="applies_print">
                              <%= __('Select') %>
                            </div>
                            <div class="text-primary">
                              <i class="fa-solid fa-plus"></i>
                            </div>
                          </button>
                          <!-- 사용감 모달창 -->
                          <div class="modal br-15" id="select_applies" data-bs-scroll="true" data-bs-backdrop="true">
                            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
                              <div class="modal-content br-15 w-100">
                                <div class="modal-header justify-content-end text-gray p-3">
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
                                      <line x1="18" y1="6" x2="6" y2="18"></line>
                                      <line x1="6" y1="6" x2="18" y2="18"></line>
                                    </svg>
                                  </button>
                                </div>
                                <div class="modal-title  text-black text-center form-control mx-5 py-4 w-auto">
                                  <%= __('users.newProject.option.applies') %>
                                </div>
                                <div class="modal-body mx-5 pt-0 pb-5">
                                  <div>
                                    <% codezip.effects.use.boolean.forEach((item,index)=> { %>
                                    <div class="row py-3 border-bottom">
                                      <div class="col-4 align-self-center">
                                        <h6>
                                          <%= __("use_effects."+item) %>
                                        </h6>
                                      </div>
                                      <% applies_true_text_list.push(__("use_effects."+item+".true")) %>
                                      <% applies_false_text_list.push(__("use_effects."+item+".false")) %>
                                      <div class="col row">
                                        <div class="col d-flex dropdown-item p-0">
                                          <input class="applies_bool form-check-input mx-3" type="checkbox" id="applies-<%= index %>-1">
                                          <label for="applies-<%= index %>-1" class="flex-fill applies_bool-label ">
                                            <%= __("use_effects."+item+".true") %>
                                          </label>
                                        </div>
                                        <div class="col d-flex dropdown-item p-0">
                                          <input class="applies_bool form-check-input mx-3" type="checkbox" id="applies-<%= index %>-0">
                                          <label for="applies-<%= index %>-0" class="flex-fill applies_bool-label ">
                                            <%= __("use_effects."+item+".false") %>
                                          </label>
                                        </div>
                                      </div>
                                    </div>
                                    <% }) %>
                                  </div>
                                  <!-- Other effects -->
                                  <div class="row py-3 border-bottom">
                                    <div class="col-4">
                                      <h6>
                                        <%= __("use_effects.OtherEffects") %>
                                      </h6>
                                      <p style="color: red;">
                                        * <%= __("use_effects.중복선택가능") %>
                                      </p>
                                    </div>
                                    <div class="col row">
                                      <% for(let i=0; i< codezip.effects.use.other; i++){ %>
                                      <% applies_true_text_list.push(__("use_effects."+i)) %>
                                      <div class="col d-flex dropdown-item p-0">
                                        <input class="applies_other form-check-input mx-3" type="checkbox" id="applies-<%= codezip.effects.use.boolean.length +i %>-1">
                                        <label for="applies-<%= codezip.effects.use.boolean.length +i %>-1" class="applies_other-label flex-fill ">
                                          <%= __("use_effects."+i) %>
                                        </label>
                                      </div>
                                      <% if(i%2==1){ %>
                                      <div></div>
                                      <% } %>
                                      <% } %>
                                    </div>
                                  </div>
                                </div>
                                <!-- <div class="modal-footer text-center my-3">
                                  <button type="button" class="btn-outline-gray bg-gray br-15 p-3 px-5" data-bs-dismiss="modal">
                                    <%= __('users.newProject.option.btn.확인') %>
                                  </button>
                                </div> -->
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>


                      <!-- 색상 입력 -->
                      <div class="row mt-3 align-items-center">
                        <div class="col-3">
                          <h6>
                            <%= __('users.newProject.option.color') %>
                          </h6>
                        </div>
                        <div class="col col-5">
                          <input type="text" class="form-control" name="color" id="color" placeholder="<%= __('plzInputText') %>" value="<%= project.color %>">
                        </div>
                        <div class="col col-4" style="color: red;">
                          <%= __("변경을 원할 시 기입해주세요.") %>
                        </div>
                      </div>


                      <!-- 향 입력 -->
                      <div class="row mt-3 align-items-center">
                        <div class="col-3">
                          <h6>
                            <%= __('users.newProject.option.fragrance') %>
                          </h6>
                        </div>
                        <div class="col col-5">
                          <input type="text" class="form-control" name="fragrance" id="fragrance" placeholder="<%= __('plzInputText') %>" value="<%= project.fragrance %>">
                        </div>
                        <div class="col col-4" style="color: red;">
                          <%= __("변경을 원할 시 기입해주세요.") %>
                        </div>
                      </div>


                      <!-- 추가사항 입력 -->
                      <div class="row mt-3 align-items-center">
                        <div class="col-3">
                          <h6>
                            <%= __('users.newProject.option.etc') %>
                          </h6>
                        </div>
                        <div class="col">
                          <input type="text" class="form-control" name="others" id="others" placeholder="<%= __('placeholder.options') %>" value="<%= project.others %>">
                        </div>
                      </div>

                    </form>

                    <hr>

                    <div class="d-flex mt-4 justify-content-center">
                      <button id="saveBtn" class="col-1 btn btn-outline-primary py-3 br-10" type="button" onclick="next();">
                        <%= __('users.newProject.option.btn.확인') %>
                      </button>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!--  END CONTENT AREA  -->

    <%- include ("../partials/footer.ejs") %>

  </div>

  <!-- 컨셉성분 모달창 -->
  <%- include ("../partials/modals/search_ingredients_modal.ejs") %>


  <!-- END MAIN CONTAINER -->

  <%- include ("../partials/commonScrpits.ejs") %>

  <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
  <script>
    window.addEventListener('load', e => {
      document.getElementsByClassName("menu")[2].classList.add("custom-active");
    })
  </script>
  <script>
    const option = document.forms[0];
    const effects = JSON.parse('<%- JSON.stringify(codezip.effects) %>');
    const applies_true_text_list = JSON.parse('<%- JSON.stringify(applies_true_text_list) %>');
    const applies_false_text_list = JSON.parse('<%- JSON.stringify(applies_false_text_list) %>');
    let product_effect = {};
  </script>
  <script>
    function print_applies(value) {
      let text_list = [];
      for (let i = 0; i < applies_true_text_list.length; i++) {
        if (value & 1 << i) {
          text_list.push(applies_true_text_list[i])
          document.getElementById('applies-' + i + '-1').checked = true;
        } else if (i < applies_false_text_list.length) {
          text_list.push(applies_false_text_list[i])
          document.getElementById('applies-' + i + '-0').checked = true;
        }
      }

      applies_print.innerText = text_list.join(', ')
    }
  </script>
  <script>
    function print_efficacy(value) {
      if (!value) return efficacy_print.innerText = "<%= __('Select') %>"

      let text_list = [];
      value.split(',').forEach((code, index) => {
        text_list.push(product_effect[code]);
        document.getElementById(code).checked = true;
      })

      efficacy_print.innerText = text_list.join(', ')
    }
  </script>
  <script>
    etc_efficacy_check.addEventListener('change', (event) => {
      if (event.target.checked) {
        option['etc_efficacy'].hidden = false;
      } else {
        option['etc_efficacy'].hidden = true;
      }

    })
  </script>
  <script>
    // 제품 효과 추가/제거
    document.forms[0].getElementsByClassName('efficacy').forEach((item, index) => {
      let code = null;
      if (index < effects.product.length) {
        code = effects.product[index];
      } else {
        index -= effects.product.length;
        code = effects.suncare[index];
      }
      product_effect[code] = document.getElementsByClassName('efficacyLabel')[index].innerText.trim();
      item.addEventListener("change", (e) => {
        const obj = option['efficacy'];
        let values = obj.value ? obj.value.split(',') : [];

        if (e.target.checked) {
          values.push(code);
        } else {
          values.splice(values.indexOf(code), 1);
        }
        obj.value = values.join(',');
        print_efficacy(obj.value);
      })
    })
  </script>
  <script>
    // 사용감 추가/제거 1
    document.forms[0].getElementsByClassName('applies_bool').forEach((item, index) => {
      item.addEventListener("change", (e) => {
        const obj = option['applies'];
        let value = +obj.value;
        const code = 1 << parseInt(index / 2);

        let info = item.id.split('-');
        let item_bool = parseInt(info.pop())
        info.push(item_bool ? '0' : '1');
        const opposition = document.getElementById(info.join('-'));

        if (e.target.checked) {
          opposition.checked = false;
          obj.value = item_bool ? value | code : value & ~code;
        } else {
          opposition.checked = true;
          obj.value = item_bool ? value & ~code : value | code;
        }

        print_applies(obj.value);
      })
    })

    // 사용감 추가/제거 2
    document.forms[0].getElementsByClassName('applies_other').forEach((item, index) => {
      item.addEventListener("change", (e) => {
        const obj = option['applies'];
        const code = 1 << effects.use.boolean.length + index;
        let value = +obj.value;

        if (e.target.checked) {
          obj.value = value + code;
        } else {
          obj.value = value - code;
        }

        print_applies(obj.value);
      })
    })
  </script>
  <script>
    function next() {
      let body = new FormData(option);
      body.set('detail_phase', 4)

      fetch(option.action, {
        method: "post",
        body: new URLSearchParams(body)
      }).then(res => {
        if (res.ok) {
          // alert("<%= __('users.msg.SuccessSave') %>");
          location.replace('<%= codezip.url.users.newProject._4 %>' + location.search);
          return;
        } else return alert("<%= __('users.msg.FailSave') %>");
      })
    }
  </script>
  <script>
    window.addEventListener('load', event => {
      print_efficacy(option.efficacy.value);
      print_applies(option.applies.value);
    })
  </script>
  <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
</body>

</html>