<!DOCTYPE html>
<html lang="ko">

<head>
  <%- include ("../partials/header.ejs") %>
  <!-- 이미지 그룹 슬라이드 -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/css/swiper.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.1/js/swiper.js"></script>
</head>

<body class="layout-boxed">

  <%- include ("../partials/loader.ejs") %>

  <%- include ("../partials/client-nav.ejs") %>

  <!--  BEGIN MAIN CONTAINER  -->
  <div class="main-container" id="container">

    <div class="overlay"></div>
    <div class="search-overlay"></div>

    <%- include ("../partials/client-sidebar.ejs") %>

    <!--  BEGIN CONTENT AREA  -->
    <div id="content" class="main-content">
      <div class="layout-px-spacing">

        <div class="middle-content container-xxl">

          <!-- BREADCRUMB -->
          <div class="row px-3">
            <div class="breadcrumb align-items-end d-flex pt-3 br-20">
              <div class="p-1 col-3">
                <h6 class="main-menu">
                  <%= __('Project') %>
                </h6>
                <h4><strong>
                    <%= __('My Project') %>
                  </strong></h4>
              </div>
            </div>
          </div>
          <!-- CONTENT AREA -->
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">

              <!-- 임시 저장한 Progress -->
              <div class="widget-content widget-content-area br-20 px-4 mt-3">
                <div class="form-group ms-3">
                  <div class="row mb-3">
                    <div class="justify-content-between d-flex px-0">
                      <div>
                        <h5><strong>
                            <%= __("users.myProject.header.TempProgress") %>
                          </strong>
                        </h5>
                      </div>
                    </div>
                  </div>
                  <!-- /* 테스트 데이터 생성 -->
                  <div>
                    <% let temp_project=[]; %>
                    <% temp_project.push({
                      projectName:"My Suncream",
                      phase:0,
                      detailPhase:1,
                      registerDate: new Date(2022,10,15)
                      }) %>
                    <% temp_project.push({
                      projectName:"My Suncream",
                      phase:0,
                      detailPhase:2,
                      registerDate: new Date(2022,10,25)
                      }) %>
                  </div>
                  <!-- 테스트 데이터 생성 */ -->
                  <% temp_project.forEach((item,index)=>{ %>
                  <div class="row">
                    <div class="progress-card">
                      <div class="progress-card-img progress-<%= item.phase %>">
                        <img src="<%=codezip.url.users.progress_icon[`_`+item.phase] %>">
                      </div>
                      <div class="progress-card-body">
                        <div class="progress-card-name">
                          <h6>
                            <%= (index+1)+". "+item.projectName %>
                            <span class="ms-1" style="font-size: small; color:gray;"><%= formatDate(item.registerDate) %></span>
                          </h6>
                        </div>
                        <%- include("../partials/temp_progressbar/"+item.detailPhase+".ejs") %>
                      </div>
                    </div>
                  </div>
                  <% }) %>

                </div>
              </div>

              <!-- Progress -->
              <div class="widget-content widget-content-area br-20 px-4">
                <div class="form-group ms-3">

                  <div class="row mb-3">
                    <div class="justify-content-between d-flex px-0">
                      <div>
                        <h5><strong>
                            <%= __('users.myProject.header.Progress') %>
                          </strong>
                        </h5>
                      </div>
                    </div>
                  </div>
                  <!-- /* 테스트 데이터 생성 -->
                  <div>
                    <% let project=[]; %>
                    <% for(let i=1;i< 9;i++){
                      project.push({
                        projectName:"My Suncream"+i,
                        phase:i,
                        detailPhase:1,
                        sampleNumber: 10,
                        registerDate: new Date(2022,10,i)
                      })
                    } %>
                  </div>
                  <!-- 테스트 데이터 생성 */ -->
                  <% project.forEach((item,index)=>{
                    let numberOfdetailPhase = codezip.numberOfProjectState.detailPhase[item.phase] %>
                  <div class="row">
                    <div class="progress-card">
                      <div class="progress-card-img progress-<%= item.phase %>">
                        <img src="<%= codezip.url.users.progress_icon['_'+item.phase] %>">
                      </div>
                      <div class="progress-card-body">
                        <div class="progress-card-name">
                          <div class="justify-content-between d-flex px-0">
                            <div class="align-self-center">
                              <h6>
                                <%= (index+1)+'. '+item.projectName %>
                                <span class="ms-1" style="font-size: small; color:gray;"><%= formatDate(item.registerDate) %></span>
                              </h6>
                            </div>
                            <div class="row text-end me-4">
                              <% if(item.phase==1) { %>
                              <% if((item.detailPhase+1)==numberOfdetailPhase) { %>
                              <button class="btn btn-outline-primary" type="button"><%= __('users.myProject.btn.chooseSample') %></button>
                              <% }else{ %>
                              <button class="btn btn-outline-gray" disabled><%= __('users.myProject.btn.chooseSample') %></button>
                              <% }}else{ %>
                              <% } %>
                            </div>
                          </div>

                        </div>
                        <div class="stepper-wrapper">
                          <% for(let i=0; i < numberOfdetailPhase; i++ ) { %>
                          <% if(i < item.detailPhase) { %>
                          <div class="stepper-item _<%= item.phase %> completed">
                            <div class="step-counter"></div>
                            <div class="step-name"><%= __('project_phase' + item.phase + '.' + i) %>
                              <% if(item.phase==1 && i==1) { %>
                              <%=  '(' +item.sampleNumber+__('users.myProject.stepName.add.sampleNumber') + ')' %>
                              <% } %>
                            </div>
                          </div>
                          <% }else if(i == item.detailPhase) { %>
                          <div class="stepper-item _<%= item.phase %> active">
                            <div class="step-counter"></div>
                            <div class="step-name"><%= __('project_phase' + item.phase + '.' + i) %>
                              <% if(item.phase==1 && i==1) { %>
                              <%=  '(' +item.sampleNumber+__('users.myProject.stepName.add.sampleNumber') + ')' %>
                              <% } %>
                            </div>
                          </div>
                          <% }else{ %>
                          <div class="stepper-item _<%= item.phase %>">
                            <div class="step-counter"></div>
                            <div class="step-name"><%= __('project_phase' + item.phase + '.' + i) %>
                              <% if(item.phase==1 && i==1) { %>
                              <%=  '(' +item.sampleNumber+__('users.myProject.stepName.add.sampleNumber') + ')' %>
                              <% } %>
                            </div>
                          </div>
                          <% }} %>
                        </div>
                      </div>
                    </div>
                  </div>
                  <% }) %>

                </div>
              </div>

              <!-- /* 테스트 데이터 생성 -->
              <div>
                <% let completed_project=[]; %>
                <% completed_project.push({
                  productName:"My Suncream1",
                  volume:110,
                  category1:0,
                  category2:0,
                  totalOrderAmount:10000,
                  lastOrderDate:new Date(2022,10,5),
                  imagePaths:"http://oldmidi.cdn3.cafe24.com/p/0553.jpg"
                })%>
                <% completed_project.push({
                  productName:"My Suncream2",
                  volume:120,
                  category1:0,
                  category2:0,
                  totalOrderAmount:20000,
                  lastOrderDate:new Date(2022,10,15),
                  imagePaths:"https://ktsmemo.cafe24.com/p/0716.jpg,http://oldmidi.cdn3.cafe24.com/p/0786.jpg"
                
                })%>
                <% completed_project.push({
                  productName:"My Suncream3",
                  volume:130,
                  category1:0,
                  category2:0,
                  totalOrderAmount:30000,
                  lastOrderDate:new Date(2022,10,25),
                  imagePaths:"http://ktsmemo.cdn3.cafe24.com/p/0742.jpg,https://ktsmemo.cafe24.com/p/0646.jpg,https://ktsmemo.cafe24.com/p/0289.jpg"
                })%>
                <% completed_project.push({
                  productName:"My Suncream4",
                  volume:140,
                  category1:0,
                  category2:0,
                  totalOrderAmount:30000,
                  lastOrderDate:new Date(2022,10,25),
                  imagePaths:"http://ktsmemo.cdn3.cafe24.com/p/0455.jpg,http://oldmidi.cdn3.cafe24.com/p/0099.jpg"
                })%>
                <%# completed_project.push({
                  productName:"My Suncream5",
                  volume:150,
                  category1:0,
                  category2:0,
                  totalOrderAmount:30000,
                  lastOrderDate:new Date(2022,10,25),
                  imagePaths:"http://ktsmemo.cdn3.cafe24.com/p/0731.jpg"
                })%>
                <%# completed_project.push({
                  productName:"My Suncream6",
                  volume:160,
                  category1:0,
                  category2:0,
                  totalOrderAmount:30000,
                  lastOrderDate:new Date(2022,10,25),
                  imagePaths:"http://oldmidi.cdn3.cafe24.com/p/0095.jpg"
                })%>
                <%# completed_project.push({
                  productName:"My Suncream7",
                  volume:170,
                  category1:0,
                  category2:0,
                  totalOrderAmount:30000,
                  lastOrderDate:new Date(2022,10,25),
                  imagePaths:"http://oldmidi.cdn3.cafe24.com/p/0698.jpg"
                })%>
              </div>
              <!-- 테스트 데이터 생성 */ -->
              <!-- Completed Project -->
              <div class="widget-content widget-content-area br-20 px-4 mt-3">
                <div class="form-group">
                  <div class="row mb-3">
                    <div class="justify-content-between d-flex px-0">
                      <div>
                        <h5><strong>
                            <%= __("users.myProject.header.CompletedProject") %>
                          </strong>
                        </h5>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="swiper-container p-2">
                      <div class="swiper-wrapper">
                        <% completed_project.forEach((item,index)=>{ %>
                        <div class="swiper-slide">
                          <div class="widget p-4 w-100">
                            <div class="d-flex">
                              <img class="align-self-stretch w-50 br-10" style="height: calc(100%-50px);" src="<%= item.imagePaths.split(`,`)[0] %>">
                              <div class="px-3 flex-grow-1 text-start">
                                <p><%= item.productName %></p>
                                <p><%= __("product"+item.category1+"."+item.category2) %></p>
                                <p><%= item.volume %></p>
                                <p><%= __("users.myProject.CompletedProject.Total발주수량") %></p>
                                <p><%= item.totalOrderAmount %></p>
                                <p><%= __("users.myProject.CompletedProject.최근 발주 날짜") %></p>
                                <p><%= formatDate(item.lastOrderDate) %></p>
                              </div>
                            </div>
                            <div class="row mx-0 mt-3">
                              <button class="col-12 btn btn-outline-primary" type="button">
                                <%= __('REORDER') %>
                              </button>
                            </div>
                          </div>
                        </div>
                        <% }) %>
                      </div>
                    </div>

                    <!-- 인디케이터 -->
                    <!-- <div class="swiper-indicator"></div> -->

                    <% if(completed_project.length > 3) { %>
                    <!-- 네비게이션 -->
                    <!-- 이전 버튼 -->
                    <div class="swiper-btn-prev"><i class="fa-solid fa-chevron-left"></i></div>
                    <!-- 다음 버튼 (오른쪽에 있는 버튼) -->
                    <div class="swiper-btn-next"><i class="fa-solid fa-chevron-right"></i></div>
                    <% } %>
                  </div>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>
      <!--  END CONTENT AREA  -->

      <%- include ("../partials/footer.ejs") %>

    </div>
    <!-- END MAIN CONTAINER -->

    <%- include ("../partials/commonScrpits.ejs") %>

    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
    <script>
      let _ = new Swiper('.swiper-container', {

        slidesPerView: 3, // 동시에 보여줄 슬라이드 갯수
        spaceBetween: 20, // 슬라이드간 간격
        slidesPerGroup: 3, // 그룹으로 묶을 수, slidesPerView 와 같은 값을 지정하는게 좋음

        // 그룹수가 맞지 않을 경우 빈칸으로 메우기
        // 3개가 나와야 되는데 1개만 있다면 2개는 빈칸으로 채워서 3개를 만듬
        loopFillGroupWithBlank: true,

        loop: false, // 무한 반복

        pagination: { // 페이징
          el: '.swiper-indicator',
          clickable: true, // 페이징을 클릭하면 해당 영역으로 이동, 필요시 지정해 줘야 기능 작동
        },
        navigation: { // 네비게이션
          nextEl: '.swiper-btn-next', // 다음 버튼 클래스명
          prevEl: '.swiper-btn-prev', // 이번 버튼 클래스명
        }
      });
    </script>
    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
    <%- include ("../partials/chatMark.ejs") %>

</body>

</html>