<!DOCTYPE html>
<html lang="ko">

<head>
  <%- include ("../../partials/admin-header.ejs") %>
</head>

<body class="layout-boxed">

  <%- include ("../../partials/loader.ejs") %>

  <!--  BEGIN MAIN CONTAINER  -->
  <div class="main-container" id="container">

    <div class="overlay"></div>
    <div class="search-overlay"></div>

    <%- include ("../../partials/admin-sidebar.ejs") %>

    <%- include ("../../partials/admin-nav.ejs") %>
    <!--  BEGIN CONTENT AREA  -->
    <div id="content" class="main-content admin-add">
      <div class="layout-px-spacing">

        <div class="middle-content container-xxl p-0 ">

          <!-- BREADCRUMB -->
          <div class="row">
            <div class="breadcrumb align-datas-start d-flex br-20 ">
              <div class="p-1 col-4 ">
                <h4>
                  <strong>
                    <%= __('admin.menu.커뮤니티.수정') %>
                  </strong>
                </h4>
              </div>
            </div>
          </div>
          <!-- CONTENT AREA -->
          <div class="row layout-top-spacing">
            <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">

              <div class="widget-content widget-content-area br-20 p-4">

                <form method="post">
                  <!-- title -->
                  <input class="form-control bc-white bg-white" name="title" type="text" placeholder="<%= __('users.community.add.제목을 입력해주세요') %>" required value="<%= data.title %>">

                  <hr>

                  <!-- content -->
                  <textarea rows="10" maxlength="5000" class="form-control bc-white bg-white" name="content" type="text" placeholder="<%= __('users.community.add.내용을 입력해주세요') %>" required><%= data.content %></textarea>

                  <hr>

                  <div class="text-end mt-4">
                    <button class="btn px-5">
                      <%= __('users.community.add.btn.확인') %>
                    </button>
                  </div>
                </form>
              </div>
            </div>


          </div>
        </div>
      </div>

    </div>
  </div>
  </div>
  <!--  END CONTENT AREA  -->

  <%- include ("../../partials/footer.ejs") %>

  </div>
  <!-- END MAIN CONTAINER -->

  <%- include ("../../partials/commonScrpits.ejs") %>

  <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
  <script>
  </script>
  <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
</body>

</html>