<!DOCTYPE html>
<html lang="ko">

<head>
  <%- include ("../../partials/admin-header.ejs") %>
</head>

<body>
  <%- include ("../../partials/loader.ejs") %>

  <!--  BEGIN CONTENT AREA  -->
  <div class="main-container" id="container">
    <div class="overlay"></div>
    <div class="search-overlay"></div>

    <%- include ("../../partials/admin-sidebar.ejs") %>

    <%- include ("../../partials/admin-nav.ejs") %>

    <div class="container">
      <div class="row">
        <div class="col">
          <div class="title">
            <h1><%= __('admin.menu.커뮤니티') %></h1>
          </div>
        </div>
      </div>

      <div class="search">
        <form id="search">
          <div class="row">
            <div class="col-10" style="padding-right: 0 !important;">
              <input name="q" type="text" placeholder="<%= __('placeholder.admin.community.search') %>" value="<%= word %>">
            </div>
            <div class="col-2" style="padding-left: 0 !important;">
              <button><%= __('btn.검색') %></button>
            </div>
          </div>
        </form>
      </div>

      <table class="table table-hover">
        <thead class="table-header">
          <tr>
            <th scope="col"><%= __('table.head.번호') %></th>
            <th scope="col"><%= __('table.head.제목') %></th>
            <th scope="col"><%= __('table.head.작성자') %></th>
            <th scope="col"><%= __('table.head.추천수') %></th>
            <th scope="col"><%= __('table.head.작성일') %></th>
            <th scope="col"><%= __('table.head.삭제/복구') %></th>
          </tr>
          <tr aria-hidden="true" class="mt-3 d-block table-row-hidden"></tr>
        </thead>

        <tbody class="table-body">
          <% communities.rows.forEach((item,index)=>{ %>
          <tr onclick="location.href='<%= codezip.url.admin.community.main %>/<%= item.id %>';">
            <td><%= item.id %></td>
            <td><%= item.title %></td>
            <% if(nameOrderInKorean.indexOf(locale) !=-1) { %>
            <td><%= item.last_name + ' ' + item.first_name %></td>
            <% } else { %>
            <td><%= item.first_name + ' ' + item.last_name %></td>
            <% } %>
            <td><%= item.recommended_count %></td>
            <td><%= formatDate(item.create_date) %></td>
            <td>
              <div id="action_btn-<%= item.id %>" class="hover">
                <% if(item.delete_date) { %>
                <div onclick="recovery_community('<%= item.id %>');"><%= __('btn.복구') %></div>
                <% }else{ %>
                <div onclick="delete_community('<%= item.id %>');"><%= __('btn.삭제') %></div>
                <% } %>
              </div>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>

      <!-- pagination-->
      <div class="d-flex justify-content-between pt-5">
        <div></div>
        <%-
            make_pagination_by_href(
              __,
              +page,
              +communities.count,
              codezip.url.admin.community.main,
              10,
              word
            )
          %>
        <div> </div>
      </div>


    </div>
  </div>

  <%- include ("../../partials/commonScrpits.ejs") %>

  <script>
    function recovery_community(id) {
      event.stopPropagation();

      const url = '<%= codezip.url.admin.community.recovery %>/' + id;
      fetch(url)
        .then(res => {
          if (res.ok) {
            document.getElementById("action_btn-" + id).innerHTML = `<div onclick="delete_community(${id});"><%= __('btn.삭제') %></div>`;
          } else {
            alert("<%= __('msg.fail') %>")
            location.reload();
          }
        })
    }

    function delete_community(id) {
      event.stopPropagation();

      const url = '<%= codezip.url.admin.community.delete %>/' + id;
      fetch(url)
        .then(res => {
          if (res.ok) {
            document.getElementById("action_btn-" + id).innerHTML = `<div onclick="recovery_community(${id});"><%= __('btn.복구') %></div>`
          } else {
            alert("<%= __('msg.fail') %>");
            location.reload();
          }
        })
    }
  </script>

</body>

</html>