<!DOCTYPE html>
<html lang="ko">

<head>
  <%- include ("../../partials/admin-header.ejs") %>

  <% const country_codes=codezip.country.codes; %>
  <% const country_code2phoneNum=codezip.country.code2phoneNum; %>
</head>

<body>
  <%- include ("../../partials/loader.ejs") %>

  <%- include ("../../partials/admin-sidebar.ejs") %>

  <%- include ("../../partials/admin-nav.ejs") %>

  <!--  BEGIN CONTENT AREA  -->
  <div class="main-container" id="container">

    <div class="overlay"></div>
    <div class="search-overlay"></div>

    <div class="container mx-auto">

      <div class="row">

        <div class="col-10 flex-column mx-auto">
          <div class="row mt-5 pt-5 pb-3">
            <div class="d-flex justify-content-between">
              <div>
                <h2>
                  <strong>
                    <%= __("admin.menu.회원관리.개인정보.수정") %>
                  </strong>
                </h2>
              </div>
              <!-- <div class="align-self-end">
                <p style="color: gray;">
                  
                  <%= __('users.signUp.msg.required') %>
                </p>
              </div> -->
            </div>
          </div>

          <div class="widget bg-white" style="position: relative;">
            <div class="card-body">

              <div class="row px-5">
                <form method="post" id="userAccount" enctype="multipart/form-data">

                  <!-- 권한 설정 -->
                  <div class="row justify-content-end">
                    <div class="text-end">
                      <h6>
                        <%= __('admin.users.permission') %>
                      </h6>
                    </div>
                    <select name="user_type" id="user_type" class="form-select ms-3" style="width: 200px;">
                      <% codezip.user_type.forEach((code, index)=>{ %>
                      <% if(member.user_type==code){ %>
                      <option selected value="<%= code %>"><%= __("user_type."+code) %></option>
                      <% }else{ %>
                      <option value="<%= code %>"><%= __("user_type."+code) %></option>
                      <% } %>
                      <% }) %>
                    </select>
                  </div>

                  <!-- Profile Image -->
                  <div class="row mt-3">
                    <div class="col-3">
                      <h6>
                        <%= __('users.myAccount.label.ProfileImage') %>
                      </h6>
                    </div>
                    <div class="col">
                      <div class="row">
                        <div class="col-4 pe-1">
                          <img id="profileImage" class="br-6 w-100" src="<%= member.profile_image_path %>">
                        </div>
                      </div>
                      <div class="mt-2 row">
                        <div class="col-4 pe-1 py-2">
                          <label class="m-0 p-0 w-100 h-100" for="profile_image_path">
                            <div class="btn w-100">
                              <%= __('users.myAccount.btn.UploadImage') %>
                            </div>
                          </label>
                          <input type="file" name="profile_image_path" id="profile_image_path" hidden>
                        </div>
                        <div class="col-4 px-1 py-2">
                          <button type="button" class="btn w-100" onclick="removeImage();">
                            <%= __('users.myAccount.btn.RemoveImage') %>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- 국가 선택 -->
                  <div class="row my-4 align-items-center">
                    <div class="col col-3">
                      <h6>
                        <%= __('users.signUp.InputLabel.Country') %>
                      </h6>
                    </div>
                    <div class="col col">
                      <div class="dropdown">
                        <input hidden name="country" id="country" value="<%= member.country %>">
                        <button class="form-select text-start" type="button" id="select_country" data-bs-toggle="dropdown" aria-expanded="false">
                          <%- `<img class="me-2" src="/images/flag/${member.country}.png">${__(member.country)}` %>
                        </button>
                        <ul class="dropdown-menu scrollable-menu w-100" aria-labelledby="select_country">
                          <% for(let i=0; i< country_codes.length; i++) { %>
                          <li>
                            <a class="dropdown-item" href="javascript:void(0);" onclick="select_country_func('<%= country_codes[i] %>','<%= __(country_codes[i]) %>');">
                              <img class="me-2" src="/images/flag/<%= country_codes[i] %>.png">
                              <%= __(country_codes[i]) %>
                            </a>
                          </li>
                          <% } %>
                        </ul>
                      </div>
                    </div>
                  </div>

                  <!-- Email 입력 -->
                  <div class="row mb-4 align-items-center">
                    <div class="col col-3">
                      <h6>
                        <%= __('users.signUp.InputLabel.Email') %>
                      </h6>
                    </div>
                    <div class="col col-7 d-flex align-items-baseline">
                      <input type="text" class="form-control" name="emailId" id="emailId" placeholder="<%= __('plzInputText') %>" disabled value="<%= member.email.split('@')[0] %>">
                      <h6 class="mx-3">@</h6>
                      <input type="text" class="form-control" name="emailDomain" id="emailDomain" placeholder="<%= __('plzInputText') %>" disabled value="<%= member.email.split('@')[1] %>">
                    </div>
                  </div>


                  <!-- 이름 입력 -->
                  <div class="row mb-4 align-items-center">
                    <div class="col col-3">
                      <h6>
                        <%= __('users.signUp.InputLabel.first_name') %>
                      </h6>
                    </div>
                    <div class="col ">
                      <input type="text" class="form-control" name="first_name" placeholder="<%= __('plzInputText') %>" required value="<%= member.first_name %>">
                    </div>
                  </div>
                  <div class="row mb-4 align-items-center">
                    <div class="col col-3">
                      <h6>
                        <%= __('users.signUp.InputLabel.last_name') %>
                      </h6>
                    </div>
                    <div class="col ">
                      <input type="text" class="form-control" name="last_name" placeholder="<%= __('plzInputText') %>" required value="<%= member.last_name %>">
                    </div>
                  </div>

                  <!-- 회사 입력 -->
                  <div class="row mb-4 align-items-center">
                    <div class="col col-3">
                      <h6>
                        <%= __('users.signUp.InputLabel.company_name') %>
                      </h6>
                    </div>
                    <div class="col ">
                      <input type="text" class="form-control" name="company_name" placeholder="<%= __('plzInputText') %>" value="<%= member.company_name %>">
                    </div>
                  </div>

                  <!-- 브랜드 입력 -->
                  <div class="row mb-4 align-items-center">
                    <div class="col col-3">
                      <h6>
                        <%= __('users.signUp.InputLabel.brand_name') %>
                      </h6>
                    </div>
                    <div class="col ">
                      <input type="text" class="form-control" name="brand_name" placeholder="<%= __('plzInputText') %>" value="<%= member.brand_name %>">
                    </div>
                  </div>

                  <!-- 팀/직책 입력 -->
                  <div class="row mb-4 align-items-center">
                    <div class="col col-3">
                      <h6>
                        <%= __('users.signUp.InputLabel.Team') %> / <%= __('users.signUp.InputLabel.Position') %>
                      </h6>
                    </div>
                    <div class="col d-flex align-items-baseline">
                      <input type="text" class="form-control" name="team" placeholder="<%= __('plzInputText.team') %>" value="<%= member.team %>">
                      <h6 class="mx-3">/</h6>
                      <input type="text" class="form-control" name="position" placeholder="<%= __('plzInputText.position') %>" value="<%= member.position %>">
                    </div>
                  </div>

                  <!-- 연락처 입력 -->
                  <div class="row mb-4 align-items-center">
                    <div class="col col-3">
                      <h6>
                        <%= __('users.signUp.InputLabel.MobileContact') %>
                      </h6>
                    </div>
                    <div class="col col-3">
                      <div class="dropdown">
                        <input hidden name="country_number" id="country_number" value="<%= member.mobile_contact.split('\)')[0] %>">
                        <button class="form-select " type="button" id="select_country_number" data-bs-toggle="dropdown" aria-expanded="false">
                          <%= member.mobile_contact.split('\)')[0] %>
                        </button>
                        <ul class="dropdown-menu scrollable-menu" aria-labelledby="select_country_number">
                          <% for(let i=0; i< country_codes.length; i++) { %>
                          <li>
                            <a class="dropdown-item d-flex country" href="javascript:void(0);" onclick="select_mobile_func('<%= country_codes[i] %>','<%= country_code2phoneNum[country_codes[i]] %>');">
                              <div class="col-1 country_flag">
                                <img class="me-2" src="/images/flag/<%= country_codes[i] %>.png">
                              </div>
                              <div class="col-2 country_code2phoneNum">
                                <%= country_code2phoneNum[country_codes[i]] %>
                              </div>
                              <div>
                                <%= __(country_codes[i]) %>
                              </div>
                            </a>
                          </li>
                          <% } %>
                        </ul>
                      </div>
                    </div>
                    <div class="col ">
                      <input type="text" class="form-control" name="phoneNum" id="phoneNum" placeholder="<%= __('placeholder.mobilePhone') %>" required value="<%= member.mobile_contact.split('\)')[1] %>">
                    </div>
                  </div>

                  <!-- Logistics Address 입력 -->
                  <div class="row mb-4 align-items-center">
                    <div class="col col-3">
                      <h6>
                        <%= __('users.signUp.InputLabel.logistics_address') %>
                        <!--  -->
                      </h6>
                    </div>
                    <div class="col ">
                      <input type="text" class="form-control" name="logistics_address" placeholder="<%= __('plzInputText.logistics_address') %>" value="<%= member.logistics_address %>">
                    </div>
                  </div>


                  <!-- 회사 주소 입력 -->
                  <div class="row mb-4 align-items-center">
                    <div class="col col-3">
                      <h6>
                        <%= __('users.signUp.InputLabel.company_address') %>
                        <!--  -->
                      </h6>
                    </div>
                    <div class="col ">
                      <input type="text" class="form-control" name="company_address" placeholder="<%= __('plzInputText.company_address') %>" value="<%= member.company_address %>">
                    </div>
                  </div>


                  <!-- 연락 방법 입력 -->
                  <!-- <div class="row mb-4 align-items-center">
                                                <div class="col col-3">
                                                    <h6>
                                                        <%= __('users.signUp.InputLabel.ContactMethod') %>
                                                    </h6>
                                                </div>
                                                <div class="col col-4">
                                                    <input type="text" class="form-control" name="contactMethod"
                                                        placeholder="<%= __('plzInputText') %>" required>
                                                </div>
                                            </div> -->


                  <!-- Remark 입력 -->
                  <!-- <div class="row mb-4 align-items-center">
                                                <div class="col col-3">
                                                    <h6>
                                                        <%= __('users.signUp.InputLabel.Remark') %>
                                                    </h6>
                                                </div>
                                                <div class="col col-4">
                                                    <input type="text" class="form-control" name="remark"
                                                        placeholder="<%= __('plzInputText') %>" required>
                                                </div>
                                            </div> -->
                  <hr class="my-5">

                  <div class="d-flex mt-5 justify-content-center">
                    <button class="btn col-3 mx-3 p-3 br-15">
                      <%= __('btn.Save') %>
                    </button>
                    <button class="btn col-3 mx-3 p-3 br-15" type="button" onclick="cancel();">
                      <%= __('btn.Cancel') %>
                    </button>
                  </div>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- 임시저장 프로젝트 -->

    <div class="container mt-5">
      <div class="row">
        <div class="col">
          <div class="title text-center">
            <h2><%= __("admin.menu.회원관리.개인정보.임시저장프로젝트") %></h2>
          </div>
        </div>
      </div>

      <table class="table table-hover">
        <thead class="table-header">
          <tr>
            <th scope="col">프로젝트 명</th>
            <th scope="col">현재 임시 저장단계</th>
            <th scope="col">MOQ</th>
            <th scope="col">예산</th>
            <th scope="col">타겟제품 링크</th>
            <th scope="col">타겟 내용물데이터</th>
            <th scope="col">프로젝트 생성 날짜</th>
            <th scope="col"><%= __('table.head.삭제/복구') %></th>
          <tr aria-hidden="true" class="mt-3 d-block table-row-hidden"></tr>
          </tr>
        </thead>
        <tbody id="temp_projects_tbody" class="table-body">
        </tbody>
      </table>

      <div id="temp_projects_pagination"></div>

    </div>


    <!-- 진행중인 프로젝트 -->

    <div class="container mt-5">
      <div class="row">
        <div class="col">
          <div class="title text-center">
            <h2><%= __("admin.menu.회원관리.개인정보.진행중인프로젝트") %></h2>
          </div>
        </div>
      </div>

      <table class="table table-hover">
        <thead class="table-header">
          <tr>
            <th scope="col">프로젝트 명</th>
            <th scope="col">현재 진행단계</th>
            <th scope="col">상세 진행단계</th>
            <th scope="col">프로젝트 최종 수정 날짜</th>
            <th scope="col">프로젝트 생성날짜</th>
            <th scope="col"><%= __('table.head.삭제/복구') %></th>
          <tr aria-hidden="true" class="mt-3 d-block table-row-hidden"></tr>
          </tr>
        </thead>
        <tbody id="progress_projects_tbody" class="table-body"> </tbody>
      </table>

      <div id="progress_projects_pagination"></div>

    </div>

    <!-- Completed Project -->
    <div class="widget-content widget-content-area br-20 px-4 mt-3 w-100">
      <div class="form-group ms-3">
        <div class="row mb-3">
          <div class="justify-content-center d-flex px-0">
            <div>
              <h2>
                <%= __("admin.menu.회원관리.개인정보.완료된프로젝트") %>
              </h2>
            </div>
          </div>
        </div>

        <div class="row mt-3">
          <div class="widget p-4 row mx-0">
            <div id="completed_projects" class="d-flex"></div>

            <!-- pagination -->
            <div id="completed_projects_pagination"></div>

          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
  <!-- END GLOBAL MANDATORY SCRIPTS -->

  <script src="/src/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/js/script.js"></script>
  <script src="/js/validator.js"></script>

  <script>
    // 프로필 이미지
    let isRemoveImage = false;

    profile_image_path.addEventListener('change', (event) => {
      loadImageFile(event.target, profileImage)
      isRemoveImage = false;
    })

    function removeImage() {
      profile_image_path.value = null;
      profileImage.src = '<%= codezip.url.users.defaultProfileImage %>'
      isRemoveImage = true;
    }


    // 국가 선택
    function select_country_func(code, name) {
      let country = document.getElementById('country');
      let select_country = document.getElementById('select_country');

      country.value = code;
      select_country.innerHTML = `<img class="me-2" src="/images/flag/${code}.png">${name}`
    }

    function select_mobile_func(code, number) {
      let country_number = document.getElementById('country_number');
      let select_country_number = document.getElementById('select_country_number');

      country_number.value = number;
      select_country_number.innerHTML = `<img class="me-2" src="/images/flag/${code}.png">${number}`
    }



    userAccount.onsubmit = async (e) => {
      e.preventDefault();

      let body = new FormData(userAccount);
      body.append("isRemoveImage", isRemoveImage);

      let response = await fetch(userAccount.action, {
        method: 'POST',
        body: body
      }).then(res => {
        if (res.ok) {
          alert("<%= __('users.MyAccount.msg.SaveSuccess') %>");
          window.location.reload();
        } else {
          alert("<%= __('users.MyAccount.msg.SaveFail') %>");
        }
        return res.json();
      }).then(result => {
        console.log(result);
      });
    }
  </script>

  <script>
    const users_id = location.pathname.split('/')[3];
  </script>

  <script>
    function recovery_user(id) {
      event.stopPropagation();

      const url = '<%= codezip.url.admin.projects.recovery %>/' + users_id + '?n=' + id;
      fetch(url)
        .then(res => {
          if (res.ok) {
            document.getElementById("action_btn-" + id).innerHTML = `<div onclick="delete_user(${id});"><%= __('btn.삭제') %></div>`;
          } else {
            alert("<%= __('msg.fail') %>");
            location.reload();
          }
        })
    }

    function delete_user(id) {
      event.stopPropagation();

      const url = '<%= codezip.url.admin.projects.delete %>/' + users_id + '?n=' + id;
      fetch(url)
        .then(res => {
          if (res.ok) {
            document.getElementById("action_btn-" + id).innerHTML = `<div onclick="recovery_user(${id});"><%= __('btn.복구') %></div>`
          } else {
            alert("<%= __('msg.fail') %>");
            location.reload();
          }
        })
    }
  </script>
  <%
  const project_phase = [];
  const project_detail_phase = {};
  const product_type = {};

  for(let i=0; i< codezip.numberOfProduct.category1; i++){
    product_type[i]=[];
    for(let j=0; j< codezip.numberOfProduct.category2[i]; j++){
      product_type[i].push(__('product'+i+'.'+j));
    }
  }

  for(let i=0; i< codezip.numberOfProjectState.phase; i++){
    project_phase.push(__('project_phase'+i))
    project_detail_phase[i]=[];
    for(let j=0; j< codezip.numberOfProjectState.detail_phase[i]; j++){
      project_detail_phase[i].push(__('project_phase'+i+'.'+j));
    }
  }
  %>
  <script>
    const project_phase = JSON.parse('<%- JSON.stringify(project_phase) %>');
    const project_detail_phase = JSON.parse('<%- JSON.stringify(project_detail_phase) %>');
  </script>

  <script>
    function load_temp_projects(page = 1) {
      const url = '<%= codezip.url.admin.api.temp_projects %>/' + users_id;
      fetch(url + "?p=" + page).then(res => {
          if (res.ok) {
            return res.json();
          } else {
            throw new Error(res.status);
          }
        }).then(data => {
          show_temp_projects(data);
        })
        .catch(err => {
          console.error(err);
          alert('<%= __("msg.fail") %>');
        })
    }

    function show_temp_projects(data) {
      console.log(data);
      let temp_html = '';
      data.rows.forEach((item, index) => {
        temp_html += `<tr onclick="location.href='<%= codezip.url.admin.projects.temp_project %>/${users_id}?n=${item.id}';">
          <td>${item.project_name}</td>
          <td>${project_detail_phase[0][item.detail_phase]}</td>
          <td>${new Intl.NumberFormat('<%= locale %>').format(item.moq)}</td>
          <td>${new Intl.NumberFormat('<%= locale %>').format(item.budget)}</td>
          <td><a href="${item.target_url||''}">${item.target_url||''}<a></td>
          <td>${item["formula.product_name"]||''}</td>
          <td>${formatDate(item.create_date)}</td>
          <td>
            <div id="action_btn-${item.id}" class="hover">`;
        if (item.delete_date) {
          temp_html += `<div onclick="recovery_user('${item.id}');"><%= __('btn.복구') %></div>`;
        } else {
          temp_html += `<div onclick="delete_user('${item.id}');"><%= __('btn.삭제') %></div>`;
        }
        temp_html += `</div>
                    </td>
                  </tr>`;
      })
      temp_projects_tbody.innerHTML = temp_html;

      temp_projects_pagination.innerHTML = make_pagination_by_func(data.page, data.count, "load_temp_projects", limit = 10);

    }
  </script>
  <script>
    function load_progress_projects(page = 1) {
      const url = '<%= codezip.url.admin.api.progress_projects %>/' + users_id;
      fetch(url + "?p=" + page).then(res => {
          if (res.ok) {
            return res.json();
          } else {
            throw new Error(res.status);
          }
        }).then(data => {
          show_progress_projects(data);
        })
        .catch(err => {
          console.error(err);
          alert('<%= __("msg.fail") %>');
        })
    }

    function show_progress_projects(data) {
      console.log(data);
      let temp_html = '';
      data.rows.forEach((item, index) => {
        temp_html += `<tr onclick="location.href='<%= codezip.url.admin.projects.progress_project %>/${users_id}?n=${item.id}';">
          <td>${item.project_name}</td>
          <td>${project_phase[item.phase]}</td>
          <td>${project_detail_phase[item.phase][item.detail_phase]}</td>
          <td>${formatDate(item.update_date)}</td>
          <td>${formatDate(item.create_date)}</td>
          <td>
            <div id="action_btn-${item.id}" class="hover">`;
        if (item.delete_date) {
          temp_html += `<div onclick="recovery_user('${item.id}');"><%= __('btn.복구') %></div>`;
        } else {
          temp_html += `<div onclick="delete_user('${item.id}');"><%= __('btn.삭제') %></div>`;
        }
        temp_html += `</div>
                    </td>
                  </tr>`;
      })
      progress_projects_tbody.innerHTML = temp_html;

      progress_projects_pagination.innerHTML = make_pagination_by_func(data.page, data.count, "load_progress_projects", limit = 10);
    }
  </script>

  <script>
    const product_type = JSON.parse('<%- JSON.stringify(product_type) %>');
  </script>
  <script>
    function load_completed_projects(page = 1) {
      const url = '<%= codezip.url.admin.api.completed_projects %>/' + users_id;
      fetch(url + "?p=" + page).then(res => {
          if (res.ok) {
            return res.json();
          } else {
            throw new Error(res.status);
          }
        }).then(data => {
          show_completed_projects(data);
        })
        .catch(err => {
          console.error(err);
          alert('<%= __("msg.fail") %>');
        })
    }

    function show_completed_projects(data) {
      console.log(data);
      let temp_html = '';
      data.rows.forEach((item, index) => {
        temp_html += `<div class="col-3 d-flex flex-column">
          <a class="hover" href="<%= codezip.url.admin.projects.completed_project %>/${users_id}?n=${item.id}">`;
        if (item.image_paths) {
          temp_html += `<div class="preview">
            <img class="br-15" src="${item.image_paths.split(',')[0]}">
          </div>`
        }
        temp_html += `<div class="mb-auto mt-3">
              <h6>${item.project_name}</h6>
              <h6>${product_type[item.category1][item.category2] + " " + item.capacity}</h6>
              <p>
                <%= __("project.total_order_quantity") + ' : ' %>
                ${item.total_order_quantity ? item.total_order_quantity : '' }
                <br>
                <%= __("project.recent_order_date") + ' : ' %>
                ${formatDate(item.recent_order_date)}
              </p>
            </div>
          </a>
        </div>`
      })
      completed_projects.innerHTML = temp_html;

      completed_projects_pagination.innerHTML = make_pagination_by_func(data.page, data.count, "load_completed_projects", limit = 10);
    }
  </script>

  <script>
    window.addEventListener('load', event => {
      load_temp_projects();
      load_progress_projects();
      load_completed_projects();
    })
  </script>
</body>

</html>