<!DOCTYPE html>
<html lang="ko">

<head>
  <%- include ("../../partials/admin-header.ejs") %>
</head>

<body>
  <%- include ("../../partials/loader.ejs") %>

  <!--  BEGIN CONTENT AREA  -->
  <div class="main-container" id="container">

    <div class="overlay"></div>
    <div class="search-overlay"></div>

    <%- include ("../../partials/admin-sidebar.ejs") %>

    <%- include ("../../partials/admin-nav.ejs") %>

    <div class="container">
      <div class="row">
        <div class="col">
          <div class="title">
            <h1><%= __('admin.menu.회원관리') %></h1>
          </div>
        </div>
      </div>

      <div class="search">
        <form id="search">
          <div class="row">
            <div class="col-10" style="padding-right: 0 !important;">
              <input type="text" name="q" placeholder="<%= __('placeholder.admin.users.search') %>" value="<%= word %>">
            </div>
            <div class="col-2" style="padding-left: 0 !important;">
              <button cla><%= __('btn.검색') %></button>
            </div>
          </div>
        </form>
      </div>

      <div class="table-responsive">
        <table class="table table-hover">
          <thead class="table-header">
            <tr>
              <th scope="col"><%= __('table.head.나라') %></th>
              <th scope="col"><%= __('table.head.권한') %></th>
              <th scope="col"><%= __('table.head.이메일') %></th>
              <th scope="col"><%= __('table.head.성') %></th>
              <th scope="col"><%= __('table.head.이름') %></th>
              <th scope="col"><%= __('table.head.회사명') %></th>
              <th scope="col"><%= __('table.head.브랜드명') %></th>
              <th scope="col"><%= __('table.head.전화번호') %></th>
              <th scope="col"><%= __('table.head.가입일') %></th>
              <th scope="col"><%= __('table.head.마지막 접속일') %></th>
              <th scope="col"><%= __('table.head.삭제/복구') %></th>
            </tr>
            <tr aria-hidden="true" class="mt-3 d-block table-row-hidden"></tr>
          </thead>

          <tbody id="users_tbody" class="table-body">
            <% users.rows.forEach((item,index)=>{ %>
            <tr onclick="location.href='<%= codezip.url.admin.users.main %>/<%= item.id %>';">
              <td><%= __(item.country) %></td>
              <td><%= __("user_type."+item.user_type) %></td>
              <td><%= item.email %></td>
              <td><%= item.last_name %></td>
              <td><%= item.first_name %></td>
              <td><%= item.company_name %></td>
              <td><%= item.brand_name %></td>
              <td><%= item.mobile_contact %></td>
              <td><%= formatDate(item.create_date) %></td>
              <td><%= formatDate(item.last_access_date) %></td>
              <td>
                <div id="action_btn-<%= item.id %>" class="hover">
                  <% if(item.delete_date) { %>
                  <div onclick="recovery_user('<%= item.id %>');"><%= __('btn.복구') %></div>
                  <% }else{ %>
                  <div onclick="delete_user('<%= item.id %>');"><%= __('btn.삭제') %></div>
                  <% } %>
                </div>
              </td>
            </tr>
            <% }) %>

          </tbody>
        </table>
      </div>
      <!-- pagination-->
      <div class="d-flex justify-content-between pt-5">
        <div></div>
        <%-
            make_pagination_by_href(
              __,
              +page,
              +users.count,
              codezip.url.admin.users.main,
              10,
              word
            )
          %>
        <div>
          <button type="button" class="px-3 py-2 br-6" onclick="location.href='<%= codezip.url.admin.users.add %>';"><%= __('btn.추가') %></button>
        </div>
      </div>

    </div>
  </div>

  <%- include ("../../partials/commonScrpits.ejs") %>

  <script>
    function recovery_user(id) {
      event.stopPropagation();

      const url = '<%= codezip.url.admin.users.recovery %>/' + id;
      fetch(url)
        .then(res => {
          if (res.ok) {
            document.getElementById("action_btn-" + id).innerHTML = `<div onclick="delete_user(${id});"><%= __('btn.삭제') %></div>`;
          } else {
            alert("<%= __('msg.fail') %>");
            location.reload();
          }
        })
    }

    function delete_user(id) {
      event.stopPropagation();

      const url = '<%= codezip.url.admin.users.delete %>/' + id;
      fetch(url)
        .then(res => {
          if (res.ok) {
            document.getElementById("action_btn-" + id).innerHTML = `<div onclick="recovery_user(${id});"><%= __('btn.복구') %></div>`
          } else {
            alert("<%= __('msg.fail') %>");
            location.reload();
          }
        })
    }
  </script>
  <!-- <script>
    function load_users(page = 1) {
      const url = '<%= codezip.url.admin.api.users %>';
      let word = search.q.value;
      fetch(url + '?' + new URLSearchParams({
        q: word,
        p: page
      })).then(res => {
        if (res.ok) {
          return res.json();
        } else {
          throw new Error(res.status);
        }
      }).then(data => {
        show_users(data);
      }).catch(err => {
        console.error(err);
        alert("<%= __('msg.fail') %>")
      })
    }

    function show_users(data) {
      // console.log(data);
      let temp_html = '';
      data.users.rows.forEach((item, index) = {
      })
      users_tbody.innerHTML = temp_html;
    }
  </script>
  <script>
    window.addEventListener('load', event => {
      // load_users();
    })
  </script> -->
</body>

</html>