<!DOCTYPE html>
<html lang="ko">

<head>
  <%- include ("../../partials/admin-header.ejs") %>
</head>

<body>
  <%- include ("../../partials/loader.ejs") %>

  <!--  BEGIN CONTENT AREA  -->
  <div class="main-container" id="container">

    <div class="overlay"></div>
    <div class="search-overlay"></div>

    <%- include ("../../partials/admin-sidebar.ejs") %>

    <%- include ("../../partials/admin-nav.ejs") %>

    <div class="container">
      <div class="row">
        <div class="col">
          <div class="title">
            <h1><%= __('admin.menu.비밀번호변경') %></h1>
          </div>
        </div>
      </div>

      <div class="form-group">
        <form method="post" action="<%= codezip.url.users.changingPassword %>">
          <div class="row mb-2">
            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
              <h6><%= __('users.changingPassword.currentPassword') %></h6>
            </div>
          </div>

          <div class="row layout-spacing">
            <div class="col-12">
              <label for="currentPassword" class="visually-hidden">Password</label>
              <input id="currentPassword" type="password" name="currentPassword" placeholder="" class="form-control" required>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
              <h6><%= __('users.changingPassword.newPassword') %></h6>
            </div>
          </div>

          <div class="row layout-spacing">
            <div class="col-12">
              <label for="newPassword" class="visually-hidden">Password</label>
              <input id="newPassword" type="password" name="newPassword" placeholder="" class="form-control" required>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-xl-12 col-md-12 col-sm-12 col-12">
              <h6><%= __('users.changingPassword.confirmPassword') %></h6>
            </div>
          </div>

          <div class="row layout-spacing">
            <div class="col-12">
              <label for="confirmPassword" class="visually-hidden">Password</label>
              <input id="confirmPassword" type="password" name="confirmPassword" placeholder="" class="form-control" required>
            </div>
          </div>

          <div class="row layout-top-spacing">
            <div class="col-12 ">
              <button class="col-1 btn btn-outline-primary mb-2 me-4"><%= __('btn.save') %></button>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>

  <%- include ("../../partials/commonScrpits.ejs") %>

  <script>
    function validataion() {
      if (confirmPassword.value != newPassword.value) {
        alert("<%= __('msg.신규비밀번호불일치') %>")
        return false;
      }

      return true
    }

    const thisForm = document.forms[0]
    thisForm.onsubmit = (e) => {
      e.preventDefault();

      if (!validataion()) return;

      fetch(thisForm.action, {
        method: thisForm.method,
        body: new URLSearchParams(new FormData(thisForm))
      }).then(res => {
        if (res.ok) {
          alert("<%= __('msg.changingPasswordSuccess') %>")
        } else if (res.status == 403) {
          alert("<%= __('msg.현재비밀번호불일치') %>")
        } else if (res.status == 404) {
          alert("<%= __('msg.이메일존재하지않음') %>")
        } else {
          console.error(res);
          throw new Error(res.statusText)
        }
      }).catch(err => {
        alert(err)
      })
    }
  </script>

</body>

</html>