<!DOCTYPE html>
<html lang="ko">

<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body class="layout-boxed">

  <%- include ("../partials/loader.ejs") %>

  <%- include ("../partials/client-nav.ejs") %>
  <%- include ("../partials/chatMark.ejs") %>

  <!--  BEGIN MAIN CONTAINER  -->
  <div class="main-container" id="container">

    <div class="overlay"></div>
    <div class="search-overlay"></div>

    <%- include ("../partials/client-sidebar.ejs") %>

    <!--  BEGIN CONTENT AREA  -->
    <div id="content" class="main-content">
      <div class="layout-px-spacing">

        <div class="middle-content  p-0">

          <!-- BREADCRUMB -->
          <div class="row px-3 mt-3">
            <div class="breadcrumb">
              <div class="p-1">
                <div class="menu">
                    <%= __('MyAccount') %>
                  </div>
              </div>
              <div class="p-1 flex-grow-1">
                <div>
                  <a href="<%= codezip.url.users.myPage %>" class="text-primary sidebar-theme px-1 br-4">
                    <i class="fa-solid fa-angle-down"></i>
                  </a>
                </div>
              </div>
              <div class="py-2 px-3 sidebar-theme br-10">
                <a href="<%= codezip.url.users.signOut %>" aria-expanded="false" class="dropdown-toggle">
                  <div class="">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" stroke="currentColor" width="24px" height="24px" stroke-width="2" stroke-linecap="round" viewBox="0 0 76 85">
                      <path d=" M4.116826,78.265404   C4.013828,55.503761 4.004358,33.174091 4.001761,10.844418   C4.001094,5.110954 5.633172,3.164078 11.493685,3.054947   C21.821774,2.862622 32.168144,2.702272 42.482834,3.120762   C48.066319,3.347296 50.111496,4.964166 50.024464,10.953341   C49.920639,18.097635 49.999989,25.244595 49.999989,32.757912   C48.379898,32.856651 46.978878,32.942039 44.999851,33.062656   C44.999851,26.376459 44.834988,19.922174 45.064762,13.481969   C45.192432,9.903473 43.832859,8.870009 40.404411,8.939007   C31.409502,9.120029 22.407000,9.094803 13.410821,8.948723   C10.272186,8.897758 8.923581,9.773623 8.943764,13.164448   C9.059805,32.660618 9.052705,52.158115 8.947888,71.654411   C8.930679,74.855194 9.904271,76.115456 13.229795,76.056175   C22.392075,75.892853 31.560974,75.895958 40.723400,76.055168   C43.999668,76.112099 45.147400,74.955482 45.053230,71.699997   C44.870495,65.382965 44.999775,59.056904 44.999775,52.369476   C46.643154,52.369476 48.139885,52.369476 49.998058,52.369476   C49.998058,60.263142 50.100910,68.066177 49.959629,75.864799   C49.874367,80.571159 45.989986,81.757523 42.545216,81.873688   C32.225281,82.221680 21.878883,82.206718 11.559663,81.848320   C9.077263,81.762108 6.660084,79.797905 4.116826,78.265404  z" />
                      <path d=" M59.014618,26.045418   C61.348267,27.193729 63.484882,28.141630 65.157600,29.615877   C67.892479,32.026257 70.339447,34.765663 72.881897,37.391415   C75.979965,40.590984 76.047028,44.575195 72.781273,47.673988   C68.716423,51.531021 64.464005,55.191494 60.245110,58.882576   C59.964554,59.128029 59.282509,58.914581 57.212154,58.914581   C58.536896,56.183857 59.391861,53.891689 60.689957,51.886368   C62.151241,49.628956 64.011978,47.630116 66.067307,45.057789   C50.499809,45.057789 35.586002,45.057789 20.322596,45.057789   C20.176996,43.435238 20.051184,42.033199 19.889898,40.235855   C35.192932,40.235855 50.269775,40.235855 66.303703,40.235855   C63.861748,37.226780 61.647526,35.077080 60.184765,32.500732   C59.138016,30.657087 59.098286,28.241688 59.014618,26.045418  z" />
                    </svg>
                    <span><%= __('Log out') %></span>
                  </div>
                </a>
              </div>
            </div>
          </div>
          
          <!-- CONTENT AREA -->
          <div class="row px-3 mt-3">
            <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
              <div class="widget mx-3">

                <form id="userAccount" class="m-5" method="post" enctype="multipart/form-data">
                  <div class="form-group p-5 pb-0">
                    <!-- Profile Image -->
                    <div class="row">
                      <div class="col-3">
                        <h6>
                          <%= __('users.myAccount.label.ProfileImage') %>
                        </h6>
                      </div>
                      <div class="col">
                        <div class="row">
                          <div class="col-4 pe-1">
                            <img id="profileImage" class="br-10 w-100" src="<%= user.profile_image_path %>">
                          </div>
                        </div>
                        <div class="mt-2 row">
                          <div class="col-4 pe-1 py-2">
                            <label class="m-0 p-0 w-100 h-100" for="profile_image_path">
                              <div class="btn btn-outline-primary w-100">
                                <%= __('users.myAccount.btn.UploadImage') %>
                              </div>
                            </label>
                            <input type="file" name="profile_image_path" id="profile_image_path" hidden>
                          </div>
                          <div class="col-4 px-1 py-2">
                            <button type="button" class="btn btn-outline-primary w-100" onclick="removeImage();">
                              <%= __('users.myAccount.btn.RemoveImage') %>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Display Name -->
                    <div class="form-group mt-3">
                      <div class="row">
                        <div class="col-3">
                          <h6>
                            <%= __('users.myAccount.label.DisplayName') %>
                          </h6>
                        </div>
                        <div class="col row">
                          <div class="col pe-1">
                            <input class="form-control" type="text" value="<%= user.first_name %>" disabled>
                          </div>
                          <div class="col ps-1">
                            <input class="form-control" type="text" value="<%= user.last_name %>" disabled>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Company Name -->
                    <div class="form-group mt-3">
                      <div class="row">
                        <div class="col-3">
                          <h6>
                            <%= __('users.myAccount.label.company_name') %>
                          </h6>
                        </div>
                        <div class="row col">
                          <div class="col">
                            <input class="form-control" type="text" name="company_name" value="<%= user.company_name %>">
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Brand Name -->
                    <div class="form-group mt-3">
                      <div class="row">
                        <div class="col-3">
                          <h6>
                            <%= __('users.myAccount.label.brand_name') %>
                          </h6>
                        </div>
                        <div class="row col">
                          <div class="col">
                            <input class="form-control" type="text" name="brand_name" value="<%= user.brand_name %>">
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Team / Position -->
                    <div class="form-group mt-3">
                      <div class="row">
                        <div class="col-3">
                          <h6>
                            <%= __('users.myAccount.label.Team/PositionName') %>
                          </h6>
                        </div>
                        <div class="row col">
                          <div class="col pe-1">
                            <input class="form-control" type="text" name="team" value="<%= user.team %>"
                            placeholder="<%= __('plzInputText.team') %>">
                          </div>
                          <div class="col ps-1">
                            <input class="form-control" type="text" name="position" value="<%= user.position %>"
                            placeholder="<%= __('plzInputText.position') %>">
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Email -->
                    <div class="form-group mt-3">
                      <div class="row">
                        <div class="col-3">
                          <h6>
                            <%= __('users.myAccount.label.EmailAddress') %>
                          </h6>
                        </div>
                        <div class="row col">
                          <div class="col">
                            <input class="form-control" type="text" value="<%= user.email %>" disabled>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Logistics Address -->
                    <div class="form-group mt-3">
                      <div class="row">
                        <div class="col-3">
                          <h6>
                            <%= __('users.myAccount.label.logistics_address') %>
                          </h6>
                        </div>
                        <div class="row col">
                          <div class="col">
                            <input class="form-control" type="text" name="logistics_address" value="<%= user.logistics_address %>">
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Company Address -->
                    <div class="form-group mt-3">
                      <div class="row">
                        <div class="col-3">
                          <h6>
                            <%= __('users.myAccount.label.company_address') %>
                          </h6>
                        </div>
                        <div class="row col">
                          <div class="col">
                            <input class="form-control" type="text" name="company_address" value="<%= user.company_address %>">
                          </div>
                        </div>
                      </div>
                    </div>
                    
                  </div>

                  <hr class="my-5">

                  <div class="form-group pb-4">
                    <div class="text-center">
                      <button class="btn btn-lg btn-outline-primary p-3 br-10">
                        <%= __('users.myAccount.btn.SaveChanges') %>
                      </button>
                    </div>
                  </div>

                </form>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!--  END CONTENT AREA  -->

    <%- include ("../partials/footer.ejs") %>

  </div>
  <!-- END MAIN CONTAINER -->

  <%- include ("../partials/commonScrpits.ejs") %>

  <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
  <script>
    let isRemoveImage = false;

    profile_image_path.addEventListener('change', (event) => {
      loadImageFile(event.target, profileImage)
      isRemoveImage = false;
    })

    function removeImage() {
      profile_image_path.value = null;
      profileImage.src = '<%= codezip.url.users.defaultProfileImage %>'
      isRemoveImage = true;
    }

    userAccount.onsubmit = async (e) => {
      e.preventDefault();

      let body = new FormData(userAccount);
      body.append("isRemoveImage", isRemoveImage);

      let response = await fetch(userAccount.action, {
        method: 'POST',
        body: body
      }).then(res => {
        if (res.ok) {
          alert("<%= __('users.MyAccount.msg.SaveSuccess') %>");
          window.location.reload();
        } else {
          alert("<%= __('users.MyAccount.msg.SaveFail') %>");
        }
        return res.json();
      }).then(result => {
        console.log(result);
      });
    }
  </script>
  <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
</body>

</html>