<!DOCTYPE html>
<html lang="ko">

<head>
  <%- include ("../partials/header.ejs") %>
  <% const numberOfProduct=codezip.numberOfProduct; %>
</head>

<body class="layout-boxed">

  <%- include ("../partials/loader.ejs") %>

  <%- include ("../partials/client-nav.ejs") %>
  <%- include ("../partials/chatMark.ejs") %>

  <!--  BEGIN MAIN CONTAINER  -->
  <div class="main-container" id="container">

    <div class="overlay"></div>
    <div class="search-overlay"></div>

    <%- include ("../partials/client-sidebar.ejs") %>

    <!--  BEGIN CONTENT AREA  -->
    <div id="content" class="main-content">
      <div class="layout-px-spacing">

        <div class="middle-content  p-0">

          <!-- BREADCRUMB -->
          <div class="row px-3">
            <div class="breadcrumb align-items-end d-flex mt-4 br-20">
              <div class="col-3">
                <h6 class="main-menu">
                  <%= __('Service') %>
                </h6>
                <h4><strong>
                    <%= __('Ingredient') %>
                  </strong></h4>
              </div>
            </div>
          </div>

          <div class="row px-3 ">
            <div class="breadcrumb align-items-start d-flex br-20">
              <div class="col-3">
                <h5><strong>
                    <%= __('users.ingredient.title') %>
                  </strong></h5>
              </div>
            </div>
          </div>

          <!-- CONTENT AREA -->
          <div class="row px-3 justify-content-center">
            <div class="col-xxl-12 col-xl-12 col-md-12 col-sm-12 breadcrumb mt-1 py-0">

              <div class="widget w-100 py-5 px-5">
                <!-- select -->
                <form id="search_ingredients">
                  <!-- 검색 폼 -->
                  <div class="form-group mx-5 px-5">
                    <!-- 통합 검색-->
                    <div class="d-flex">
                      <label class="col-2 h6 align-self-center mb-0">
                        <%= __('통합 검색') %>
                      </label>
                      <div class="col form-control d-flex p-0">
                        <input name="ingredient_name" class="col form-control" placeholder="<%= __('plzInputText') %>">
                        <button class="col-1 form-control text-primary p-0" type="button" onclick="searching_ingredients();"><i class="fa-solid fa-magnifying-glass"></i></button>
                      </div>
                    </div>
                    <!-- 종류/기능 검색-->
                    <div class="d-flex mt-3">
                      <!-- 컨셉성분 종류 -->
                      <label class="col-2 h6 align-self-center mb-0 ">
                        <%= __('ingredients.종류') %>
                      </label>
                      <!-- <input hidden name="type"> -->
                      <div class="col-4">
                        <button class="form-select text-start" type="button" id="select_type" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                          <%= __('select') %>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="select_type">
                          <% codezip.ingredient_type.forEach((code,index)=>{ %>
                          <li class="dropdown-item d-flex">
                            <input class="form-check-input mx-3 ingredient_type" name="type" type="checkbox" id="ingredient_type-<%= code %>" value="<%= code %>">
                            <label class="form-check-label flex-fill pe-3 ingredient_type-label" for="ingredient_type-<%= code %>">
                              <%= __(code) %>
                            </label>

                          </li>
                          <% }) %>
                        </ul>
                      </div>
                      <!-- 컨셉성분 기능 -->
                      <label class="col-2 h6 align-self-center mb-0 text-center">
                        <%= __('ingredients.기능') %>
                      </label>
                      <div class="col-4">
                        <button class="form-select text-start" type="button" id="select_effects" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                          <%= __('select') %>
                        </button>
                        <ul class="dropdown-menu scrollable-menu" aria-labelledby="select_effects">
                          <% codezip.effects.ingredient.forEach((code, index)=>{ %>
                          <li class="dropdown-item d-flex">
                            <input class="form-check-input mx-3 ingredient_effects" name="effects" type="checkbox" id="ingredient_effects-<%= code %>" value="<%= code %>">
                            <label class="form-check-label flex-fill pe-3 ingredient_effects-label" for="ingredient_effects-<%= code %>">
                              <%= __(code) %>
                            </label>
                          </li>
                          <% }) %>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <!-- 결과 테이블 -->
                  <div class="table-responsive mt-4 pt-4 mb-auto ">
                    <table class="table table-no-space table-bordered text-break text-center br-10">
                      <thead class="">
                        <th>
                          <%= __('ingredients.성분명') %>
                        </th>
                        <th>
                          <%= __('ingredients.원료명') %>
                        </th>
                        <th>
                          <%= __('ingredients.종류') %>
                        </th>
                        <th>
                          <%= __('ingredients.기능') %>
                        </th>
                        <th>
                          <%= __('ingredients.특징') %>
                        </th>
                      </thead>
                      <tbody class="table-group-divider bbr-15" id="ingredients_result">

                      </tbody>
                    </table>

                    <!-- pagination -->
                    <div id="ingredients_pagination">

                    </div>
                  </div>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--  END CONTENT AREA  -->

    <%- include ("../partials/footer.ejs") %>

  </div>
  <!-- END MAIN CONTAINER -->

  <%- include ("../partials/commonScrpits.ejs") %>

  <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
  <div>
    <%
    let ingredient_type_text_dict = {};
    codezip.ingredient_type.forEach((code, index)=>{
      ingredient_type_text_dict[code] = __(code);
    })
    let ingredient_effects_text_dict = {};
    codezip.effects.ingredient.forEach((code, index)=>{
      ingredient_effects_text_dict[code] = __(code);
    })
    %>
  </div>
  <script>
    const ingredient_type_text_dict = JSON.parse('<%- JSON.stringify(ingredient_type_text_dict) %>');
    const ingredient_effects_text_dict = JSON.parse('<%- JSON.stringify(ingredient_effects_text_dict) %>');

    function searching_ingredients(page = 1) {
      let search_params = new URLSearchParams(new FormData(search_ingredients))
      search_params.set('p', page)
      const url = '<%= codezip.url.users.api.ingredient %>?' + search_params;
      fetch(url).then(res => {
        ingredients_reload(res.json());
      })
    }

    search_ingredients.onsubmit = (event) => {
      event.preventDefault();
      searching_ingredients();
    }

    function ingredients_reload(res_json) {
      res_json.then(result => {
        // console.log(result);
        let ingredients = result.ingredients;
        let temp_html = "";

        ingredients.rows.forEach((item, index) => {
          let ingredient_effects = [];
          if (item.effects) {
            item.effects.split(',').forEach((code, index) => {
              ingredient_effects.push(ingredient_effects_text_dict[code])
            })
          }

          temp_html += `<tr>
            <td id="${item.id}-ingredient_name">${item.ingredient_name}</td>
            <td>${item.material_name}</td>
            <td>${ingredient_type_text_dict[item.type]}</td>
            
            <td>${ingredient_effects.join(', ')}</td>
            <td>${item.feature ? item.feature : ''}</td>
          </tr>`
        })
        ingredients_result.innerHTML = temp_html;

        //make_pagination_by_func(page, count, func_name, limit)
        ingredients_pagination.innerHTML = make_pagination_by_func(+result.page, +ingredients.count, "searching_ingredients")
      });
    }
  </script>
  <script>
    document.querySelectorAll('.ingredient_type, .ingredient_effects').forEach(el => {
      el.addEventListener("change", event => {
        searching_ingredients();
      })
    })
  </script>
  <script>
    window.addEventListener('load', event => {
      searching_ingredients();
    })
  </script>
  <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->

</body>

</html>