<!DOCTYPE html>
<html lang="ko">

<head>
  <%- include ("../../partials/admin-header.ejs") %>
  <link href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
</head>

<body class="layout-boxed">

  <%- include ("../../partials/loader.ejs") %>

  <!--  BEGIN MAIN CONTAINER  -->
  <div class="main-container" id="container" style="padding-top: 0;">

    <div class="overlay"></div>
    <div class="search-overlay"></div>

    <%- include ("../../partials/admin-sidebar.ejs") %>

    <%- include ("../../partials/admin-nav.ejs") %>

    <!--  BEGIN CONTENT AREA  -->
    <div id="content" class="main-content admin-add">
      <div class="layout-px-spacing">

        <div class="middle-content container-xxl p-0 ">

          <!-- BREADCRUMB -->
          <div class="row mt-5">
            <div class="breadcrumb justify-content-center br-20 ">
              <div class="text-center">
                <h2>
                  <strong>
                    <%= __("admin.menu.회원관리.개인정보.진행중인프로젝트.상세") %>
                  </strong>
                </h2>
              </div>
            </div>
          </div>


          <!-- CONTENT AREA -->
          <div class="row layout-top-spacing">

            <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">

              <div class="widget-content widget-content-area br-20 p-4">

                <form id="progress_project" method="post" enctype="multipart/form-data">

                  <div class="form-group p-5">
                    <div class="d-flex" style="justify-content: space-between; margin-bottom: 34px;">
                      <h3 style="display: inline-block;"><%= project.project_name %></h3>
                      <button class="btn px-5"><%= __("btn.Save") %></button>
                    </div>

                    <div class="d-flex mt-3">
                      <label class="col-4 pt-2" for="phase"><%= __("project.phase") %></label>
                      <select name="phase" id="phase" class="form-select">
                        <% for(let i=1; i< codezip.numberOfProjectState.phase+1; i++){ %>
                        <% if(project.phase==i){ %>
                        <option selected value="<%= i %>"><%= __("project_phase"+i) %></option>
                        <% }else{ %>
                        <option value="<%= i %>"><%= __("project_phase"+i) %></option>
                        <% } %>
                        <% } %>
                      </select>
                    </div>

                    <div class="d-flex mt-3"><label class="col-4 pt-2" for="detail_phase"><%= __("project.detail_phase") %></label>
                      <select name="detail_phase" id="detail_phase" class="form-select">
                        <% for(let i=0; i< codezip.numberOfProjectState.detail_phase[project.phase]; i++){ %>
                        <% if(project.detail_phase==i){ %>
                        <option selected value="<%= i %>"><%= __("project_phase"+project.phase+'.'+i) %></option>
                        <% }else{ %>
                        <option value="<%= i %>"><%= __("project_phase"+project.phase+'.'+i) %></option>
                        <% } %>
                        <% } %>
                      </select>
                    </div>

                    <div class="d-flex mt-3"><label class="col-4 pt-2" for="sample_number"><%= __("project.sample_number") %></label>
                      <input class="form-control" id="sample_number" name="sample_number" type="number" value="<%= project.sample_number %>">

                    </div>

                    <div class="d-flex mt-3 pb-5"><label class="col-4 pt-2" for="tracking_number"><%= __("project.tracking_number") %></label>
                      <input class="form-control" id="tracking_number" name="tracking_number" type="text" value="<%= project.tracking_number %>">

                    </div>

                    <hr>

                    <div class="py-5">

                      <h4 style="font-weight: 700;"><%= __("project.sample_feedback") %></h4>

                      <div class="d-flex mt-3">
                        <label class="col-4 pt-2" for="project_name"><%= __("project.project_name") %></label>
                        <input class="form-control" id="project_name" name="project_name" type="text" value="<%= project.project_name %>" disabled>
                      </div>

                      <div class="d-flex mt-3">
                        <label class="col-4 pt-2" for="brand_name"><%= __("project.brand_name") %></label>
                        <input class="form-control" id="brand_name" name="brand_name" type="text" value="<%= project.brand_name %>" disabled>
                      </div>

                      <div class="d-flex mt-3">
                        <label class="col-4 pt-2" for="category1"><%= __("project.category1") %></label>
                        <input class="form-control" id="category1" name="category1" type="text" value="<%= __('product'+project.category1+'.'+project.category2) %>" disabled>
                      </div>

                      <div class="d-flex mt-3">
                        <label class="col-4 pt-2" for="feedback"><%= __("project.feedback") %></label>
                        <textarea class="form-control" id="feedback" name="feedback" type="text" placeholder="" style="height: 150px;" disabled><%= project.feedback %></textarea>
                      </div>
                    </div>

                    <hr>

                    <div class="py-5">
                      <label for="packaging_tooltip"><%= __("project.packaging_tooltip") %></label>
                      <textarea class="form-control mt-3" id="packaging_tooltip" name="packaging_tooltip" type="text" placeholder="<%= __('placeholder.content') %>" style="height: 150px;"><%= project.packaging_tooltip %></textarea>
                    </div>

                    <hr>

                    <div class="py-5">
                      <label for="shipment_date"><%= __("project.shipment_date") %></label>
                      <input class="form-control w-auto mt-3" id="shipment_date" name="shipment_date" type="date" placeholder="" value="<%= formatDateTime(project.shipment_date,'-').slice(0,10) %>">
                    </div>

                    <hr>

                    <div class="mt-5">
                      <input class="form-control" id="title" name="title" type="text" placeholder="<%= __('documents.title') %>" value="<%= project.document.title %>">
                    </div>

                    <% if(project.document.file_paths) { %>
                    <%
                          let file = path.parse(project.document.file_paths);
                          let filename = "";
                        
                          file.name.split('-')[2].split('_').forEach((code,index)=>{
                            filename += String.fromCodePoint(parseInt(code,36));
                          })
                        %>
                    <div class="d-flex justify-content-between h6 px-3 mt-3">
                      <div class="align-self-center text-gray">
                        <i class="fa-solid fa-download"></i>
                        <span><%= filename + file.ext %></span>
                      </div>
                      <div>
                        <a download="<%= filename + file.ext %>" class="w-auto btn px-3" href="<%= project.document.file_paths %>">
                          <%= __('Download') %>
                        </a>
                      </div>
                    </div>
                    <% } %>

                    <div class="zip-upload d-flex mt-3">
                      <input class="form-control" id="file_paths" name="file_paths" type="file" accept=".zip" style="line-height: 38.5px;">
                    </div>

                    <textarea class="form-control mt-3" id="message" name="message" type="text" placeholder="<%= __('placeholder.message') %>" style="height: 200px;"><%= project.document.message %></textarea>
                  </div>

                  <div class="text-center mt-4">
                    <button class="btn btn-lg col-1 px-0 mx-3">
                      <%= __('btn.Save') %>
                    </button>

                    <a class="btn btn-lg col-1 px-0 mx-3" href="<%= codezip.url.admin.users.main +'/'+ users_id %>">
                      <%= __('btn.Cancel') %>
                    </a>
                  </div>
                </form>
              </div>
            </div>


          </div>
        </div>
      </div>

    </div>
  </div>
  </div>
  <!--  END CONTENT AREA  -->


  </div>
  <!-- END MAIN CONTAINER -->

  <%- include ("../../partials/commonScrpits.ejs") %>

  <!-- <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script> -->

  <!-- <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->

  <div>
    <%
    let detail_phase_dict = {};
    for(let i=0; i< codezip.numberOfProjectState.phase; i++){
      detail_phase_dict[i] = [];
      for(let j=0; j< codezip.numberOfProjectState.detail_phase[i]; j++){
        detail_phase_dict[i].push(__("project_phase"+i+'.'+j))
      }
    }
    %>
  </div>

  <script>
    const detail_phase_dict = JSON.parse(`<%- JSON.stringify(detail_phase_dict) %>`);

    progress_project["phase"].addEventListener("input", event => {
      load_detail_phase_list(progress_project["phase"].value);
    })

    function load_detail_phase_list(phase) {
      let temp_html = '';
      detail_phase_dict[phase].forEach((item, index) => {
        temp_html += `<option value="${index}">${item}</option>`
      })

      progress_project["detail_phase"].innerHTML = temp_html;
    }
  </script>

  <script>
    progress_project.onsubmit = (e) => {
      e.preventDefualt();

      fetch(progress_project.action, {
        method: progress_project.method,
        body: new URLSearchParams(progress_project)
      }).then(res => {
        if (res.ok) {
          alert("<%= __('msg.success') %>");
        } else {
          throw new Error(res.statusText);
        }
      }).catch(err => {
        console.error(err);
        alert("<%=  __('msg.fail') %>");
      })
    }
  </script>


</body>

</html>