<!DOCTYPE html>
<html lang="ko">

<head>
  <%- include ("../../partials/admin-header.ejs") %>

  <% const country_code2phoneNum=codezip.country.code2phoneNum; %>
  <% const country_codes=codezip.country.codes; %>
  <% let country_code2name = {}; %>

  <!-- option -->
  <% let applies_true_text_list =[]; %>
  <% let applies_false_text_list =[]; %>
  <link href="/src/assets/css/light/components/modal.css" rel="stylesheet" type="text/css" />
</head>

<body class="layout-boxed">

  <%- include ("../../partials/loader.ejs") %>

  <!--  BEGIN MAIN CONTAINER  -->
  <div class="main-container" id="container" style="padding-top: 0;">

    <div class="overlay"></div>
    <div class="search-overlay"></div>

    <%- include ("../../partials/admin-sidebar.ejs") %>

    <%- include ("../../partials/admin-nav.ejs") %>

    <!--  BEGIN CONTENT AREA  -->
    <div id="content" class="main-content admin-add">
      <div class="layout-px-spacing">

        <div class="middle-content container-xxl p-0 ">

          <!-- BREADCRUMB -->
          <div class="row mt-5">
            <div class="breadcrumb justify-content-center br-20">
              <div class="p-1 text-center">
                <h2>
                  <strong>
                    <%= __("admin.menu.회원관리.개인정보.임시저장프로젝트.상세") %>
                  </strong>
                </h2>
              </div>
            </div>
          </div>
          <!-- CONTENT AREA -->
          <div class="row layout-top-spacing">
            <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">

              <div class="widget-content widget-content-area br-20 p-4">
                <form id="temp_project" method="post">
                  <!-- moq -->
                  <div class="form-group p-5">
                    <!-- title -->
                    <!-- <div>
                      <h3>
                        <%= __('users.newProject.moq.title') %>
                      </h3>
                    </div> -->
                    <!-- 예산 입력 -->
                    <div class="mt-4">
                      <!-- <div>
                        <%= __('users.newProject.moq.budgetInput.before') %>
                      </div> -->
                      <div>
                        <%= __('project.budget') %>
                      </div>
                      <div class="form-control my-2 d-flex align-items-baseline py-0 pe-0">
                        <span class="mx-2" style="left:0px;">$</span>
                        <input type="number" class="form-control w-100 align-placeholder" name="budget" style="border: 0px;" placeholder="<%= __('users.newProject.moq.budgetInput.placeholder') %>" required value="<%= project.budget %>">
                      </div>
                      <!-- <div style="color: red;">
                        <%= __('users.newProject.moq.budgetInput.after') %>
                      </div> -->
                    </div>
                    <!-- MOQ 선택 -->
                    <div class="mt-5">
                      <!-- <div>
                        <%= __('users.newProject.moq.moqSelect.before1') %>
                      </div> -->
                      <!-- <div>
                        <%= __('users.newProject.moq.moqSelect.before2') %>
                      </div> -->
                      <div>
                        <%= __('project.moq') %>
                      </div>
                      <div>
                        <select class="form-select" name="moq" required>
                          <option value="">
                            <%= __('users.newProject.moq.moqSelect.placeholder') %>
                          </option>
                          <% for(let i=0;i< codezip.moq_select_list.length; i++) { %>
                          <% if(project.moq==+codezip.moq_select_list[i].replace(/,/g,'')){ %>
                          <option value="<%= codezip.moq_select_list[i].replace(/,/g,'') %>" selected>
                            <%= codezip.moq_select_list[i] %>
                          </option>
                          <% }else{ %>
                          <option value="<%= codezip.moq_select_list[i].replace(/,/g,'') %>">
                            <%= codezip.moq_select_list[i] %>
                          </option>
                          <% }} %>
                          <option value="0">
                            <%= __('users.newProject.moq.moqSelect.others') %>
                          </option>
                        </select>
                      </div>
                      <!-- <div style="color: red;">
                        <%- __('users.newProject.moq.moqSelect.after') %>
                      </div> -->
                    </div>
                    <!-- 개당 단가 출력 -->
                    <!-- <div class="mt-5">
                      <div>
                        <%= __('users.newProject.moq.checkUnitPrice.before') %>
                      </div>
                      <div class="form-control my-2 d-flex align-items-baseline py-0 pe-0 bg-gray">
                        <span class="ms-2" style="left:0px;">$</span>
                        <input class="form-control w-100 align-placeholder" style="border: 0px;" id="unitPrice" placeholder="<%= __('users.newProject.moq.checkUnitPrice.placeholder') %>" disabled>
                      </div>
                    </div> -->
                  </div>

                  <hr>

                  <!-- target product -->
                  <div class="form-group p-5">
                    <!-- title -->
                    <!-- <div>
                      <div class="h6">
                        <%= __('users.newProject.isTarget.question') %>
                      </div>
                      <div class="col-3 d-flex flex-nowrap">
                        <% if(project.target_url) { %>
                        <input type="radio" class="btn-check" name="have" id="have_benchmark_ture" checked>
                        <% }else{ %>
                        <input type="radio" class="btn-check" name="have" id="have_benchmark_ture">
                        <% } %>
                        <label class="col-6 btn btn-outline-primary my-0 me-4" for="have_benchmark_ture">
                          <%= __('users.newProject.basic.btn.yes') %>
                        </label>

                        <% if(project.target_url) { %>
                        <input type="radio" class="btn-check" name="have" id="have_benchmark_false">
                        <% }else{ %>
                        <input type="radio" class="btn-check" name="have" id="have_benchmark_false" checked>
                        <% } %>
                        <label class="col-6 btn btn-outline-primary my-0" for="have_benchmark_false">
                          <%= __('users.newProject.basic.btn.no') %>
                        </label>
                      </div>
                    </div> -->
                    <!-- target url input -->
                    <div>
                      <%= __('project.target_url') %>
                    </div>
                    <input type="url" class="form-control w-100 align-placeholder" name="target_url" id="target_url" placeholder="<%= __('users.newProject.isTarget.urlInput.placeholder') %>" value="<%= project.target_url %>">

                    <!-- <div class="mt-5">
                      <div class="h6">
                        <%= __('users.newProject.isTarget.urlInput.before') %>
                      </div>
                      <div class="mt-3 d-flex align-items-baseline br-15">
                        <% if(project.target_url) { %>
                        <input type="url" class="form-control w-100 align-placeholder" name="target_url" id="target_url" placeholder="<%= __('users.newProject.isTarget.urlInput.placeholder') %>" value="<%= project.target_url %>">
                        <% }else{ %>
                        <input type="url" class="form-control w-100 align-placeholder" name="target_url" id="target_url" placeholder="<%= __('users.newProject.isTarget.urlInput.placeholder') %>" value="" disabled>
                        <% } %>
                      </div>
                    </div> -->
                  </div>

                  <hr>

                  <!-- draft -->
                  <div class="form-group p-5">
                    <!-- 제품명 -->
                    <div class="row mb-3 align-items-center">
                      <div class="col col-3">
                        <h6>
                          <%= __('users.newProject.basic.project_name') %><span style="color: red;">*</span>
                        </h6>
                      </div>
                      <div class="col">
                        <input class="form-control" name="project_name" id="project_name" placeholder="<%= __('plzInputText') %>" required value="<%= project.project_name %>">
                      </div>
                    </div>

                    <!-- 브랜드명 입력 -->
                    <div class="row mb-3 align-items-center">
                      <div class="col col-3">
                        <h6>
                          <%= __('users.newProject.basic.brand_name') %><span style="color: red;">*</span>
                        </h6>
                      </div>
                      <div class="col">
                        <input type="text" class="form-control" name="brand_name" placeholder="<%= __('plzInputText') %>" required value="<%= project.brand_name %>">
                      </div>
                    </div>

                    <input hidden id="formulas_id" value="<%= project.formulas_id %>">

                    <!-- 카테고리 선택 -->
                    <div class="row mb-3 align-items-center">
                      <div class="col col-3">
                        <h6>
                          <%= __('users.newProject.basic.category1') %><span style="color: red;">*</span>
                        </h6>
                      </div>
                      <div class="col">
                        <input hidden type="text" name="category1" required>
                        <input type="text" class="form-control" id="category1_print" placeholder="<%= __('Select') %>" readonly required>
                      </div>
                      <div class="col col-3">
                        <button class="form-select text-start" type="button" id="select_category1" data-bs-toggle="dropdown" aria-expanded="false">
                          <%= __('Select') %>
                        </button>
                        <ul class="dropdown-menu scrollable-menu" aria-labelledby="select_category1">
                          <% for(let i=0; i< codezip.numberOfProduct.category1; i++) { %>
                          <li>
                            <a class="dropdown-item" href="javascript:void(0);" onclick="select_category1_func('<%= i %>');">
                              <%= __('product'+i) %>
                            </a>
                          </li>
                          <% } %>
                        </ul>
                      </div>
                    </div>

                    <!-- 품목 선택 -->
                    <div class="row mb-3 align-items-center">
                      <div class="col col-3">
                        <h6>
                          <%= __('users.newProject.basic.category2') %><span style="color: red;">*</span>
                        </h6>
                      </div>
                      <div class="col">
                        <input hidden type="text" name="category2" required>
                        <input type="text" class="form-control" id="category2_print" placeholder="<%= __('Select') %>" readonly required>
                      </div>
                      <div class="col col-3">
                        <button class="form-select text-start" type="button" id="select_category2" data-bs-toggle="dropdown" aria-expanded="false">
                          <%= __('Select') %>
                        </button>
                        <ul id="category2_list" class="dropdown-menu scrollable-menu" aria-labelledby="select_category2">
                          <li>
                            <%= __('users.newProject.basic.msg.먼저 카테고리를 선택해주세요.') %>
                          </li>
                        </ul>
                      </div>
                    </div>

                    <!-- 용량 선택 -->
                    <div class="row mb-3 align-items-center">
                      <div class="col col-3">
                        <h6>
                          <%= __('users.newProject.basic.capacity') %><span style="color: red;">*</span>
                        </h6>
                      </div>
                      <div class="col">
                        <input type="number" class="form-control" name="capacity" placeholder="<%= __('placeholder.capacity') %>" required value="<%= project.capacity ? project.capacity.split(' ')[0] : '' %>">
                      </div>
                      <div class="col col-3">
                        <%# console.log("??",project.capacity.split(' ')[1],"??") %>
                        <input hidden type="text" id="capacity_unit" value="<%= project.capacity ? project.capacity.split(' ')[1] : '' %>">
                        <button class="form-select text-start" type="button" id="select_capacity_unit" data-bs-toggle="dropdown" aria-expanded="false">
                          <%= project.capacity&&project.capacity.split(' ')[1] ? project.capacity.split(' ')[1] : __('Select') %>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="capacity_unit">
                          <% codezip.capacity_unit.forEach((item,index)=>{ %>
                          <li class="dropdown-item capacity_unit">
                            <%= item %>
                          </li>
                          <% }) %>
                        </ul>
                      </div>
                    </div>

                    <!-- 대상연령 입력 -->
                    <div class="row mb-3 align-items-center">
                      <div class="col col-3">
                        <h6>
                          <%= __('users.newProject.basic.target_age') %><span style="color: red;">*</span>
                        </h6>
                      </div>
                      <div class="col">
                        <input hidden type="text" name="target_age" required>
                        <input type="text" class="form-control text-ellipsis" id="target_age_print" placeholder="<%= __('placeholder.target_age') %>" readonly required>
                      </div>
                      <div class="col col-3">
                        <button class="form-select text-start" type="button" id="select_age" data-bs-toggle="dropdown" data-bs-auto-close="outside">
                          <%= __('Select') %>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="select_age">
                          <% for(let i=0; i< 9; i++) { %>
                          <li class="dropdown-item d-flex">
                            <input class="form-check-input age me-3" type="checkbox" id="age<%= i %>">
                            <label class="form-check-label flex-grow-1 target_age_label" for="age<%= i %>">
                              <%= __('age'+i) %>
                            </label>
                          </li>
                          <% } %>
                        </ul>
                      </div>
                    </div>

                    <!-- 성별 입력 -->
                    <div class="row mb-3 align-items-center">
                      <div class="col col-3">
                        <h6>
                          <%= __('users.newProject.basic.target_gender') %><span style="color: red;">*</span>
                        </h6>
                      </div>
                      <div class="col">
                        <input hidden type="text" name="target_gender" required>
                        <input type="text" class="form-control text-ellipsis" id="target_gender_print" placeholder="<%= __('placeholder.target_gender') %>" readonly required>
                      </div>
                      <div class="col col-3">
                        <button class="form-select text-start" type="button" id="select_gender" data-bs-toggle="dropdown" data-bs-auto-close="outside">
                          <%= __('Select') %>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="select_gender">
                          <% for(let i=0; i< 2; i++) { %>
                          <li class="dropdown-item d-flex">
                            <input class="form-check-input gender me-3" type="checkbox" id="gender<%= i %>">
                            <label class="form-check-label flex-grow-1 target_gender_label" for="gender<%= i %>">
                              <%= __('gender'+i) %>
                            </label>
                          </li>
                          <% } %>
                        </ul>
                      </div>
                    </div>

                    <!-- 판매국가 입력 -->
                    <div class="row mb-3 align-items-center">
                      <div class="col col-3">
                        <h6>
                          <%= __('users.newProject.basic.target_country') %>
                          <span style="color: red;">*</span>
                        </h6>
                      </div>
                      <div class="col">
                        <input hidden type="text" name="target_country" value="">
                        <input type="text" class="form-control text-ellipsis" id="target_country_print" placeholder="<%= __('placeholder.target_country') %>" readonly required>
                      </div>
                      <div class="col col-3">
                        <button class="form-select text-start" type="button" id="select_country" data-bs-toggle="dropdown" data-bs-auto-close="outside">
                          <%= __('Select') %>
                        </button>
                        <ul class="dropdown-menu scrollable-menu" aria-labelledby="select_country">
                          <% country_codes.forEach((item,index)=>{ country_code2name[item] = __(item); %>
                          <li class="dropdown-item">
                            <div class="d-flex">
                              <input class="form-check-input country me-3" type="checkbox" id="country-<%= item %>">
                              <img class="me-2" src="/images/flag/<%= item %>.png">
                              <label class="form-check-label flex-grow-1 target_country_label" for="country-<%= item %>">
                                <%= __(item) %>
                              </label>
                            </div>
                          </li>
                          <% }) %>
                        </ul>
                      </div>
                    </div>

                    <!-- 유통채널 입력 -->
                    <div class="row mb-3 align-items-center">
                      <div class="col col-3">
                        <h6>
                          <%= __('users.newProject.basic.distribution_channel') %>
                          <span style="color: red;">*</span>
                        </h6>
                      </div>
                      <div class="col">
                        <input type="text" class="form-control" name="distribution_channel" id="distribution_channel" placeholder="<%= __('placeholder.distribution_channel') %>" value="<%= project.distribution_channel %>">
                      </div>
                    </div>

                    <!-- 해외 인증 여부 입력 -->
                    <div class="row mb-3 align-items-center">
                      <div class="col col-3">
                        <h6>
                          <%= __('users.newProject.basic.overseas_certifications') %>
                        </h6>
                      </div>
                      <div class="col">
                        <input type="text" class="form-control" name="overseas_certifications" id="overseas_certifications" placeholder="<%= __('placeholder.overseas_certifications') %>" value="<%= project.overseas_certifications %>">
                      </div>
                    </div>


                    <!-- 한국 기능성 인증 진행 여부 -->
                    <div class="row mb-3 align-items-center">
                      <div class="col col-3">
                        <h6>
                          <%= __('users.newProject.basic.korea_certification') %>
                        </h6>
                      </div>
                      <div class="col col-9 col-xxl-6 d-flex align-items-baseline">
                        <% if(project.korea_certification=="1") { %>
                        <input type="radio" class="btn-check" name="korea_certification" id="korea_certification_true" autocomplete="off" value="1" checked>
                        <% }else{ %>
                        <input type="radio" class="btn-check" name="korea_certification" id="korea_certification_true" autocomplete="off" value="1">
                        <% } %>

                        <label class="col-5 btn btn-outline-primary my-0 me-4" for="korea_certification_true">
                          <%= __('users.newProject.basic.btn.yes') %>
                        </label>

                        <% if(project.korea_certification=="0") { %>
                        <input type="radio" class="btn-check" name="korea_certification" id="korea_certification_false" autocomplete="off" value="0" checked>
                        <% }else{ %>
                        <input type="radio" class="btn-check" name="korea_certification" id="korea_certification_false" autocomplete="off" value="0">
                        <% } %>

                        <label class="col-5 btn btn-outline-primary my-0" for="korea_certification_false">
                          <%= __('users.newProject.basic.btn.no') %>
                        </label>
                      </div>
                    </div>


                    <!-- 부자재 입고 유무 -->
                    <div class="row mb-3 align-items-center">
                      <div class="col col-3">
                        <h6>
                          <%= __('users.newProject.basic.sourcing_of_packaging') %>
                        </h6>
                      </div>
                      <div class="col col-9 col-xxl-4 d-flex align-items-baseline">
                        <% if(project.sourcing_of_packaging=="1") { %>
                        <input type="radio" class="btn-check" name="sourcing_of_packaging" id="sourcing_of_packaging_true" autocomplete="off" value="1" checked>
                        <% }else{ %>
                        <input type="radio" class="btn-check" name="sourcing_of_packaging" id="sourcing_of_packaging_true" autocomplete="off" value="1">
                        <% } %>

                        <label class="col-5 btn btn-outline-primary my-0 me-4" for="sourcing_of_packaging_true">
                          <%= __('users.newProject.basic.sourcing_of_packaging.btn.yes') %>
                        </label>

                        <% if(project.sourcing_of_packaging=="0") { %>
                        <input type="radio" class="btn-check" name="sourcing_of_packaging" id="sourcing_of_packaging_false" autocomplete="off" value="0" checked>
                        <% }else{ %>
                        <input type="radio" class="btn-check" name="sourcing_of_packaging" id="sourcing_of_packaging_false" autocomplete="off" value="0">
                        <% } %>

                        <label class="col-5 btn btn-outline-primary my-0" for="sourcing_of_packaging_false">
                          <%= __('users.newProject.basic.sourcing_of_packaging.btn.no') %>
                        </label>
                      </div>
                    </div>


                    <!-- option -->

                    <!-- 제품 효과 -->
                    <div class="row mt-3 align-items-center">
                      <div class="col-3">
                        <h6>
                          <%= __('users.newProject.option.efficacy') %>
                        </h6>
                      </div>
                      <div class="col col-5">
                        <input hidden type="text" name="efficacy" value="<%= project.efficacy %>">
                        <button class="form-control text-start text-ellipsis pe-2-5 d-flex" type="button" data-bs-toggle="modal" data-bs-target="#select_efficacy" aria-controls="select_efficacy">
                          <div class="flex-fill" id="efficacy_print">
                            <%= __('Select') %>
                          </div>
                          <div class="text-primary">
                            <i class="fa-solid fa-plus"></i>
                          </div>
                        </button>
                        <!-- 제품효과 모달창 -->
                        <div class=" modal" id="select_efficacy" aria-labelledby="" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered col-7">
                            <div class="modal-content br-15">
                              <div class="modal-header justify-content-end text-gray p-3">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                  <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
                                    <line x1="18" y1="6" x2="6" y2="18"></line>
                                    <line x1="6" y1="6" x2="18" y2="18"></line>
                                  </svg>
                                </button>
                              </div>
                              <div class="modal-title fs-5 text-black text-center form-control mx-5 py-4 w-auto">
                                <%= __('users.newProject.option.efficacy') %>
                              </div>
                              <div class="modal-body mx-5 mt-0 pt-0 text-gray">
                                <div class="d-flex flex-wrap">
                                  <!-- 일반 제품효과 -->
                                  <% codezip.effects.product.forEach((item, index)=>{ %>
                                  <div class="col-4 py-3 border-bottom">
                                    <div class="d-flex dropdown-item">
                                      <input class="efficacy form-check-input mx-3 my-auto" type="checkbox" id="<%= item %>">
                                      <label for="<%= item %>" class="efficacyLabel flex-fill m-0 py-1">
                                        <%= __(item)%>
                                      </label>
                                    </div>
                                  </div>
                                  <% }) %>

                                  <!-- 선케어 제품효과-->
                                  <% codezip.effects.suncare.forEach((item, index)=>{ %>
                                  <% if(project.category1&&(project.category1==3)) { %>
                                  <div class="col-4 py-3 border-bottom">
                                    <div class="d-flex dropdown-item">
                                      <input class="efficacy form-check-input mx-3 my-auto" type="checkbox" id="<%= item %>">
                                      <label for="<%= item %>" class="efficacyLabel flex-fill m-0 py-1">
                                        <%= __(item) %>
                                      </label>
                                    </div>
                                  </div>
                                  <% }else{ %>
                                  <div class="col-4 py-3 border-bottom">
                                    <div class="d-flex text-nowrap">
                                      <input class="efficacy form-check-input mx-3 my-auto" type="checkbox" id="<%= item %>" disabled>
                                      <label for="<%= item %>" class="efficacyLabel flex-fill m-0 py-1 form-check-label">
                                        <%= __(item) %>
                                      </label>
                                    </div>
                                  </div>
                                  <% } %>
                                  <% }) %>

                                  <!-- 기타 -->
                                  <div class="col-4 py-3 border-bottom">
                                    <div class="d-flex dropdown-item">
                                      <% if(project.etc_efficacy) { %>
                                      <input class="etc_efficacy form-check-input mx-3 my-auto" type="checkbox" id="etc_efficacy_check" checked>
                                      <% }else{ %>
                                      <input class="etc_efficacy form-check-input mx-3 my-auto" type="checkbox" id="etc_efficacy_check">
                                      <% } %>
                                      <label for="etc_efficacy_check" class="flex-fill m-0 py-1">
                                        <%= __("기타")%>
                                      </label>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <!-- <div class="modal-footer text-center my-3">
                              <button type="button" class="btn-outline-gray  br-15 p-3 px-5" data-bs-dismiss="modal">
                                <%= __('users.newProject.option.btn.확인') %>
                              </button>
                            </div> -->
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <% if(project.etc_efficacy) { %>
                        <input type="text" class="form-control" name="etc_efficacy" placeholder="<%= __('기타') %>" value="<%= project.etc_efficacy %>">
                        <% }else{ %>
                        <input hidden type="text" class="form-control" name="etc_efficacy" placeholder="<%= __('기타') %>">
                        <% } %>
                      </div>
                    </div>

                    <!-- 컨셉성분 -->
                    <div class="row mt-3 align-items-center">
                      <div class="col-3">
                        <h6>
                          <%= __('users.newProject.option.ingredients') %>
                        </h6>
                      </div>
                      <div class="col-9">
                        <input hidden type="text" name="ingredients" value="<%= project.ingredients %>">
                        <button class="form-control text-start text-ellipsis pe-2-5 d-flex" type="button" data-bs-toggle="modal" data-bs-target="#select_ingredients" aria-controls="select_ingredients">
                          <div class="flex-grow-1" id="ingredients_print">
                            <%= project.concept_ingredients || __('통합 검색') %>
                          </div>
                          <div class="text-primary">
                            <i class="fa-solid fa-magnifying-glass"></i>
                          </div>
                        </button>
                      </div>
                    </div>


                    <!-- 제형 선택 -->
                    <div class="row mt-3 align-items-center">
                      <div class="col-3">
                        <h6>
                          <%= __('users.newProject.option.viscosity') %>
                        </h6>
                      </div>
                      <div class="col">
                        <select class="form-select" name="viscosity">
                          <option value="">
                            <%= __('Select') %>
                          </option>
                          <% codezip.viscosity.forEach((item,index)=>{ %>
                          <% if(project.viscosity==item.slice(0,-1)) { %>"
                          <option value="<%= item.slice(0,-1) %>" selected>
                            <% }else{ %>
                          <option value="<%= item.slice(0,-1) %>">
                            <% } %>
                            <%= item %>
                          </option>

                          <% }) %>
                        </select>
                      </div>
                    </div>


                    <!-- 사용감 입력 -->
                    <div class="row mt-3 align-items-center">
                      <div class="col-3">
                        <h6>
                          <%= __('users.newProject.option.applies') %>
                        </h6>
                      </div>
                      <div class="col-9">
                        <input hidden type="text" name="applies" value="<%= project.applies %>">
                        <button class="form-control text-start text-ellipsis pe-2-5 d-flex" type="button" data-bs-toggle="modal" data-bs-target="#select_applies" aria-controls="select_applies">
                          <div class="flex-fill" id="applies_print">
                            <%= __('Select') %>
                          </div>
                          <div class="text-primary">
                            <i class="fa-solid fa-plus"></i>
                          </div>
                        </button>
                        <!-- 사용감 모달창 -->
                        <div class="modal br-15" id="select_applies" data-bs-scroll="true" data-bs-backdrop="true">
                          <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
                            <div class="modal-content br-15 w-100">
                              <div class="modal-header justify-content-end text-gray p-3">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                  <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
                                    <line x1="18" y1="6" x2="6" y2="18"></line>
                                    <line x1="6" y1="6" x2="18" y2="18"></line>
                                  </svg>
                                </button>
                              </div>
                              <div class="modal-title fs-5 text-black text-center form-control mx-5 py-4 w-auto">
                                <%= __('users.newProject.option.applies') %>
                              </div>
                              <div class="modal-body mx-5 pt-0 pb-5">
                                <div>
                                  <% codezip.effects.use.boolean.forEach((item,index)=> { %>
                                  <div class="row py-3 border-bottom">
                                    <div class="col-4 align-self-center">
                                      <h6>
                                        <%= __("use_effects."+item) %>
                                      </h6>
                                    </div>
                                    <% applies_true_text_list.push(__("use_effects."+item+".true")) %>
                                    <% applies_false_text_list.push(__("use_effects."+item+".false")) %>
                                    <div class="col row">
                                      <div class="col d-flex dropdown-item p-0">
                                        <input class="applies_bool form-check-input mx-3" type="checkbox" id="applies-<%= index %>-1">
                                        <label for="applies-<%= index %>-1" class="flex-fill applies_bool-label fs-6">
                                          <%= __("use_effects."+item+".true") %>
                                        </label>
                                      </div>
                                      <div class="col d-flex dropdown-item p-0">
                                        <input class="applies_bool form-check-input mx-3" type="checkbox" id="applies-<%= index %>-0">
                                        <label for="applies-<%= index %>-0" class="flex-fill applies_bool-label fs-6">
                                          <%= __("use_effects."+item+".false") %>
                                        </label>
                                      </div>
                                    </div>
                                  </div>
                                  <% }) %>
                                </div>
                                <!-- Other effects -->
                                <div class="row py-3 border-bottom">
                                  <div class="col-4">
                                    <h6>
                                      <%= __("use_effects.OtherEffects") %>
                                    </h6>
                                    <p style="color: red;">
                                      * <%= __("use_effects.중복선택가능") %>
                                    </p>
                                  </div>
                                  <div class="col row">
                                    <% for(let i=0; i< codezip.effects.use.other; i++){ %>
                                    <% applies_true_text_list.push(__("use_effects."+i)) %>
                                    <div class="col d-flex dropdown-item p-0">
                                      <input class="applies_other form-check-input mx-3" type="checkbox" id="applies-<%= codezip.effects.use.boolean.length +i %>-1">
                                      <label for="applies-<%= codezip.effects.use.boolean.length +i %>-1" class="applies_other-label flex-fill fs-6">
                                        <%= __("use_effects."+i) %>
                                      </label>
                                    </div>
                                    <% if(i%2==1){ %>
                                    <div></div>
                                    <% } %>
                                    <% } %>
                                  </div>
                                </div>
                              </div>
                              <!-- <div class="modal-footer text-center my-3">
                              <button type="button" class="btn-outline-gray  br-15 p-3 px-5" data-bs-dismiss="modal">
                                <%= __('users.newProject.option.btn.확인') %>
                              </button>
                            </div> -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>


                    <!-- 색상 입력 -->
                    <div class="row mt-3 align-items-center">
                      <div class="col-3">
                        <h6>
                          <%= __('users.newProject.option.color') %>
                        </h6>
                      </div>
                      <div class="col">
                        <input type="text" class="form-control" name="color" id="color" placeholder="<%= __('plzInputText') %>" value="<%= project.color %>">
                      </div>
                    </div>


                    <!-- 향 입력 -->
                    <div class="row mt-3 align-items-center">
                      <div class="col-3">
                        <h6>
                          <%= __('users.newProject.option.fragrance') %>
                        </h6>
                      </div>
                      <div class="col">
                        <input type="text" class="form-control" name="fragrance" id="fragrance" placeholder="<%= __('plzInputText') %>" value="<%= project.fragrance %>">
                      </div>
                    </div>


                    <!-- 추가사항 입력 -->
                    <div class="row mt-3 align-items-center">
                      <div class="col-3">
                        <h6>
                          <%= __('users.newProject.option.etc') %>
                        </h6>
                      </div>
                      <div class="col">
                        <input type="text" class="form-control" name="others" id="others" placeholder="<%= __('placeholder.options') %>" value="<%= project.others %>">
                      </div>
                    </div>

                  </div>

                  <hr>

                  <!-- order -->
                  <div class="form-group p-5" style="padding: 0 5vmax;">
                    <!-- 출시국가 -->
                    <div class="row align-items-center">
                      <div class="col-3">
                        <h6>
                          <%= __('users.newProject.order.출시국가') %>
                          <span style="color: red;">*</span>
                        </h6>
                      </div>
                      <div class="col">
                        <div class="dropdown">
                          <input hidden name="country" id="country">
                          <button class="form-select text-start" type="button" id="select_country" data-bs-toggle="dropdown" aria-expanded="false">
                            <%= __('placeholder.country') %>
                          </button>
                          <ul class="dropdown-menu scrollable-menu" aria-labelledby="select_country">
                            <% for(let i=0; i< country_codes.length; i++) { %>
                            <li>
                              <a class="dropdown-item" href="javascript:void(0);" onclick="select_country_func('<%= country_codes[i] %>','<%= __(country_codes[i]) %>');">
                                <img class="me-2" src="/images/flag/<%= country_codes[i] %>.png">
                                <%= __(country_codes[i]) %>
                              </a>
                            </li>
                            <% } %>
                          </ul>
                        </div>
                      </div>
                    </div>

                    <!-- 수취인명 -->
                    <div class="row align-items-center mt-3">
                      <div class="col-3">
                        <h6>
                          <%= __('users.newProject.order.수취인명') %>
                          <span style="color: red;">*</span>
                        </h6>
                      </div>
                      <div class="col">
                        <input class="form-control" name="receiver_name" id="receiver_name" placeholder="<%= __('plzInputText') %>">
                      </div>
                    </div>

                    <!-- 연락처 -->
                    <div class="row align-items-center mt-3">
                      <div class="col-3">
                        <h6>
                          <%= __('users.newProject.order.연락처') %>
                          <span style="color: red;">*</span>
                        </h6>
                      </div>
                      <div class="col col-2">
                        <div class="dropdown">
                          <input hidden name="country_number" id="country_number">
                          <button class="form-select text-start" type="button" id="select_country_number" data-bs-toggle="dropdown" aria-expanded="false">
                            <%= __('Select') %>
                          </button>
                          <ul class="dropdown-menu scrollable-menu" aria-labelledby="select_country_number">
                            <% for(let i=0; i< country_codes.length; i++) { %>
                            <li>
                              <a class="dropdown-item d-flex" href="javascript:void(0);" onclick="select_mobile_func('<%= country_codes[i] %>','<%= country_code2phoneNum[country_codes[i]] %>');">
                                <div class="col-1">
                                  <img class="me-2" src="/images/flag/<%= country_codes[i] %>.png">
                                </div>
                                <div class="col-3">
                                  <%= country_code2phoneNum[country_codes[i]] %>
                                </div>
                                <div>
                                  <%= __(country_codes[i]) %>
                                </div>
                              </a>
                            </li>
                            <% } %>
                          </ul>
                        </div>
                      </div>
                      <div class="col ">
                        <input type="text" class="form-control" name="phone_num" id="phone_num" placeholder="<%= __('placeholder.mobilePhone') %>" required>
                      </div>
                    </div>
                    <!-- 연락처 warning-->
                    <!-- <div class="row align-items-center mt-3">
                      <div class="col-3">
                      </div>
                      <div class="col fs-8" style="color: red; white-space: pre-line;"><%= __('users.newProject.order.연락처.warning') %></div>
                    </div> -->

                    <!-- 주소 -->
                    <div class="row align-items-center mt-4">
                      <div class="col-3">
                        <h6>
                          <%= __('users.newProject.order.주소') %>
                          <span style="color: red;">*</span>
                        </h6>
                      </div>
                      <div class="col">
                        <input class="form-control" name="street" id="street" placeholder="<%= __('users.newProject.order.주소.warning') %>">
                      </div>
                    </div>

                    <!-- 도시 -->
                    <div class="row align-items-center mt-3">
                      <div class="col-3">
                        <h6>
                          <%= __('users.newProject.order.도시') %>
                          <span style="color: red;">*</span>
                        </h6>
                      </div>
                      <div class="col">
                        <input class="form-control" name="city" id="city" placeholder="<%= __('plzInputText') %>">
                      </div>
                    </div>

                    <!-- 주/도 -->
                    <div class="row align-items-center mt-3">
                      <div class="col-3">
                        <h6>
                          <%= __('users.newProject.order.주/도') %>
                        </h6>
                      </div>
                      <div class="col">
                        <input class="form-control" name="state" id="state" placeholder="<%= __('plzInputText') %>">
                      </div>
                    </div>

                    <!-- 우편번호 -->
                    <div class="row align-items-center mt-3">
                      <div class="col-3">
                        <h6>
                          <%= __('users.newProject.order.우편번호') %>
                        </h6>
                      </div>
                      <div class="col">
                        <input class="form-control" name="zip_code" id="zip_code" placeholder="<%= __('plzInputText') %>">
                      </div>
                      <div class="col fs-8" style="color: red; white-space: pre-line;"><%= __('users.newProject.order.우편번호.warning') %></div>
                    </div>

                    <!-- 이메일 -->
                    <div class="row align-items-center mt-3">
                      <div class="col-3">
                        <h6>
                          <%= __('users.newProject.order.이메일') %>
                        </h6>
                      </div>
                      <div class="col">
                        <input class="form-control" name="email" id="email" placeholder="<%= __('plzInputText') %>">
                      </div>
                    </div>

                  </div>

                  <hr>

                  <div class="text-center mt-4">
                    <button class="btn btn-lg px-5">
                      <%= __('btn.수정') %>
                    </button>
                  </div>
                </form>
              </div>
            </div>


          </div>
        </div>
      </div>

    </div>
    <!--  END CONTENT AREA  -->


  </div>
  <!-- END MAIN CONTAINER -->

  <!-- 컨셉성분 모달창 -->
  <div class="modal" id="select_ingredients" data-bs-scroll="true" data-bs-backdrop="true">
    <div class="modal-dialog modal-dialog-scrollable col-8 mw-100">
      <div class="modal-content br-15 w-100">
        <div class="modal-header justify-content-end text-gray p-3">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
              <line x1="18" y1="6" x2="6" y2="18"></line>
              <line x1="6" y1="6" x2="18" y2="18"></line>
            </svg>
          </button>
        </div>
        <div class="modal-body mx-5 mt-0 pt-0" style="border-top:0px;">
          <form id="search_ingredients">
            <!-- 통합 검색-->
            <div class="d-flex">
              <label class="col-2 h6 align-self-center mb-0">
                <%= __('통합 검색') %>
              </label>
              <div class="col form-control d-flex p-0">
                <input name="ingredient_name" class="col form-control" placeholder="<%= __('plzInputText') %>">
                <button class="col-1 form-control text-primary p-0" type="button" onclick="searching_ingredients();"><i class="fa-solid fa-magnifying-glass"></i></button>
              </div>
            </div>
            <!-- 종류/기능 검색-->
            <div class="d-flex mt-3">
              <!-- 컨셉성분 종류 -->
              <label class="col-2 h6 align-self-center mb-0 ">
                <%= __('ingredients.종류') %>
              </label>
              <!-- <input hidden name="type"> -->
              <div class="col-4">
                <button class="form-select text-start" type="button" id="select_type" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                  <%= __('select') %>
                </button>
                <ul class="dropdown-menu" aria-labelledby="select_type">
                  <% codezip.ingredient_type.forEach((code,index)=>{ %>
                  <li class="dropdown-item d-flex">
                    <input class="form-check-input mx-3 ingredient_type" name="type" type="checkbox" id="ingredient_type-<%= code %>" value="<%= code %>">
                    <label class="form-check-label flex-fill pe-3 ingredient_type-label" for="ingredient_type-<%= code %>">
                      <%= __(code) %>
                    </label>

                  </li>
                  <% }) %>
                </ul>
              </div>
              <!-- 컨셉성분 기능 -->
              <label class="col-2 h6 align-self-center mb-0 text-center">
                <%= __('ingredients.기능') %>
              </label>
              <div class="col-4">
                <button class="form-select text-start" type="button" id="select_effects" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                  <%= __('select') %>
                </button>
                <ul class="dropdown-menu scrollable-menu" aria-labelledby="select_effects">
                  <% codezip.effects.ingredient.forEach((code, index)=>{ %>
                  <li class="dropdown-item d-flex">
                    <input class="form-check-input mx-3 ingredient_effects" name="effects" type="checkbox" id="ingredient_effects-<%= code %>" value="<%= code %>">
                    <label class="form-check-label flex-fill pe-3 ingredient_effects-label" for="ingredient_effects-<%= code %>">
                      <%= __(code) %>
                    </label>
                  </li>
                  <% }) %>
                </ul>
              </div>
            </div>
            <!-- 결과 테이블 -->
            <div class="table-responsive mt-4 pt-4 mb-auto ">
              <table class="table table-no-space table-bordered table-hover text-break text-center br-10">
                <thead class="">
                  <th>
                  </th>
                  <th>
                    <%= __('ingredients.성분명') %>
                  </th>
                  <th>
                    <%= __('ingredients.원료명') %>
                  </th>
                  <th>
                    <%= __('ingredients.종류') %>
                  </th>
                  <th>
                    <%= __('ingredients.기능') %>
                  </th>
                  <th>
                    <%= __('ingredients.특징') %>
                  </th>
                </thead>
                <tbody class="table-group-divider bbr-15" id="ingredients_result">

                </tbody>
              </table>

              <!-- pagination -->
              <div id="ingredients_pagination">

              </div>
            </div>
        </div>
      </div>
    </div>
  </div>

  <%- include ("../../partials/commonScrpits.ejs") %>

  <div>
    <% let category1_name_list=[]; %>
    <% let category2_name_list={} %>
    <% for (let i=0; i < codezip.numberOfProduct.category1; i++) { %>
    <% category1_name_list.push(__('product'+i)); %>
    <% category2_name_list[i]={}; %>
    <% for (let j=0; j < codezip.numberOfProduct.category2[i]; j++) { %>
    <% category2_name_list[i][j]=__('product'+i+'.'+j); %>
    <% } } %>
  </div>
  <script>
    const numberOfProduct = JSON.parse('<%- JSON.stringify(codezip.numberOfProduct) %>');
    const category1_name_list = JSON.parse('<%- JSON.stringify(category1_name_list) %>');
    const category2_name_list = JSON.parse('<%- JSON.stringify(category2_name_list) %>');
    const country_codes = JSON.parse('<%- JSON.stringify(country_codes) %>');
    const target_country_dict = JSON.parse(`<%- JSON.stringify(country_code2name) %>`);
    let target_age_list = [];
    let target_gender_list = [];

    function print_target_country(value) {
      let text_list = [];
      if (!value) {
        target_country_print.value = ''
        return;
      }
      value.split(',').forEach((code, index) => {
        text_list.push(target_country_dict[code])
        document.getElementById('country-' + code).checked = true;
      })
      target_country_print.value = text_list.join(', ')
    }

    function print_target_gender(value) {
      let text_list = [];
      for (let i = 0; i < target_gender_list.length; i++) {
        if (value & (1 << i)) {
          text_list.push(target_gender_list[i]);
          document.getElementById('gender' + i).checked = true;
        }
      }
      target_gender_print.value = text_list.join(', ')
    }

    function print_target_age(value) {
      let text_list = [];
      for (let i = 0; i < target_age_list.length; i++) {
        if (value & (1 << i)) {
          text_list.push(target_age_list[i]);
          document.getElementById('age' + i).checked = true;
        }
      }
      target_age_print.value = text_list.join(', ')
    }

    function select_category1_func(value) {
      // console.log("v:", value, "p", printName);
      if (document.forms[0]['category1'].value != value) {
        document.forms[0]['category2'].value = "";
        category2_print.value = "";
      }
      document.forms[0]['category1'].value = value;
      category1_print.value = category1_name_list[value];
      let temp_html = "";
      let category2_n = numberOfProduct.category2[value];
      for (let i = 0; i < category2_n; i++) {
        temp_html += `<li>
                        <a class="dropdown-item" href="javascript:void(0);"
                          onclick="select_category2_func('${i}');">
                          ${category2_name_list[value][i]}
                        </a>
                      </li>`
      }
      category2_list.innerHTML = temp_html;
      //checkValues();
    }

    function select_category2_func(value) {
      // console.log("v:", value, "p", printName);
      let category = document.forms[0]['category1'].value;
      document.forms[0]["category2"].value = value;
      category2_print.value = category2_name_list[category][value];
      //checkValues();
    }

    document.forms[0].getElementsByClassName('age').forEach((item, index) => {
      item.addEventListener("change", (event) => {
        const obj = document.forms[0]['target_age'];
        let value = +obj.value;

        if (event.target.checked) {
          value += 1 << index;
          obj.value = value;
        } else {
          value -= 1 << index;
          obj.value = value || '';
        }
        print_target_age(obj.value);
      })
    })

    document.forms[0].getElementsByClassName('gender').forEach((item, index) => {
      item.addEventListener("change", (event) => {
        const obj = document.forms[0]['target_gender'];
        let value = +obj.value;

        if (event.target.checked) {
          value += 1 << index;
          obj.value = value;
        } else {
          value -= 1 << index;
          obj.value = value || '';
        }
        print_target_gender(obj.value);
      })
    })

    document.forms[0].getElementsByClassName('country').forEach((item, index) => {
      item.addEventListener("change", (event) => {
        const obj = document.forms[0]['target_country'];
        let values = obj.value ? obj.value.split(',') : [];
        let code = country_codes[index];

        //console.log(values)
        if (event.target.checked) {
          values.push(code);
        } else {
          values.splice(values.indexOf(code), 1);
        }
        //console.log(values)
        obj.value = values.join(',')
        print_target_country(obj.value);
      })
    })

    function temp_project_body() {
      let body = new FormData(temp_project);
      body.set('capacity', temp_project.capacity.value + ' ' + capacity_unit.value);
      return body;
    }

    function save() {
      let body = temp_project_body();

      fetch(temp_project.action, {
        method: "post",
        body: new URLSearchParams(body)
      }).then(res => {
        if (res.ok) {
          alert("<%= __('users.msg.SuccessSave') %>");
        } else {
          throw new Error(res.status);
        }
      }).catch(err => {
        console.error(err);
        alert("<%= __('users.msg.FailSave') %>");
      })
    }

    function next() {
      if (!checkRequired()) return alert("<%= __('users.msg.need_to_check_rquired_field') %>");

      let body = temp_project_body();
      body.set('detail_phase', 5)

      fetch(temp_project.action, {
        method: "post",
        body: new URLSearchParams(body)
      }).then(res => {
        if (res.ok) {
          // alert("<%= __('users.msg.SuccessSave') %>");
          location.replace('<%= codezip.url.users.newProject._ %>' + location.search);
        } else {
          throw new Error(res.status);
        }
      }).catch(err => {
        console.error(err);
        alert("<%= __('users.msg.FailSave') %>");
      })
    }

    document.getElementsByClassName('capacity_unit').forEach((item, index) => {
      item.addEventListener('click', (event) => {
        const text = event.target.innerText;
        select_capacity_unit.innerText = text;
        capacity_unit.value = text;
      })
    })
  </script>
  <script>
    window.addEventListener('load', event => {
      select_category1_func('<%= project.category1 %>')
      select_category2_func('<%= project.category2 %>')

      document.getElementsByClassName('target_gender_label').forEach((item, index) => {
        let text = item.innerText.trim();
        target_gender_list.push(text);
      })

      document.getElementsByClassName('target_age_label').forEach((item, index) => {
        let text = item.innerText.trim();
        target_age_list.push(text);
      })

      let target_age = '<%= project.target_age %>';
      print_target_age(target_age);
      temp_project['target_age'].value = target_age;

      let target_gender = '<%= project.target_gender %>';
      print_target_gender(target_gender);
      temp_project['target_gender'].value = target_gender;

      let target_country = '<%= project.target_country %>';
      print_target_country(target_country);
      temp_project['target_country'].value = target_country;
    })
  </script>

  <!-- option -->
  <script>
    const option = document.forms[0];
    const effects = JSON.parse('<%- JSON.stringify(codezip.effects) %>');
    const applies_true_text_list = JSON.parse('<%- JSON.stringify(applies_true_text_list) %>');
    const applies_false_text_list = JSON.parse('<%- JSON.stringify(applies_false_text_list) %>');
    let product_effect = {};
  </script>
  <script>
    function print_applies(value) {
      let text_list = [];
      for (let i = 0; i < applies_true_text_list.length; i++) {
        if (value & 1 << i) {
          text_list.push(applies_true_text_list[i])
          document.getElementById('applies-' + i + '-1').checked = true;
        } else if (i < applies_false_text_list.length) {
          text_list.push(applies_false_text_list[i])
          document.getElementById('applies-' + i + '-0').checked = true;
        }
      }

      applies_print.innerText = text_list.join(', ')
    }
  </script>
  <script>
    function print_efficacy(value) {
      if (!value) return efficacy_print.innerText = "<%= __('Select') %>"

      let text_list = [];
      value.split(',').forEach((code, index) => {
        text_list.push(product_effect[code]);
        document.getElementById(code).checked = true;
      })

      efficacy_print.innerText = text_list.join(', ')
    }
  </script>
  <script>
    etc_efficacy_check.addEventListener('change', (event) => {
      if (event.target.checked) {
        option['etc_efficacy'].hidden = false;
      } else {
        option['etc_efficacy'].hidden = true;
      }

    })
  </script>
  <script>
    // 제품 효과 추가/제거
    document.forms[0].getElementsByClassName('efficacy').forEach((item, index) => {
      let code = null;
      if (index < effects.product.length) {
        code = effects.product[index];
      } else {
        index -= effects.product.length;
        code = effects.suncare[index];
      }
      product_effect[code] = document.getElementsByClassName('efficacyLabel')[index].innerText.trim();
      item.addEventListener("change", (e) => {
        const obj = option['efficacy'];
        let values = obj.value ? obj.value.split(',') : [];

        if (e.target.checked) {
          values.push(code);
        } else {
          values.splice(values.indexOf(code), 1);
        }
        obj.value = values.join(',');
        print_efficacy(obj.value);
      })
    })
  </script>
  <script>
    // 사용감 추가/제거 1
    document.forms[0].getElementsByClassName('applies_bool').forEach((item, index) => {
      item.addEventListener("change", (e) => {
        const obj = option['applies'];
        let value = +obj.value;
        const code = 1 << parseInt(index / 2);

        let info = item.id.split('-');
        let item_bool = parseInt(info.pop())
        info.push(item_bool ? '0' : '1');
        const opposition = document.getElementById(info.join('-'));

        if (e.target.checked) {
          opposition.checked = false;
          obj.value = item_bool ? value | code : value & ~code;
        } else {
          opposition.checked = true;
          obj.value = item_bool ? value & ~code : value | code;
        }

        print_applies(obj.value);
      })
    })

    // 사용감 추가/제거 2
    document.forms[0].getElementsByClassName('applies_other').forEach((item, index) => {
      item.addEventListener("change", (e) => {
        const obj = option['applies'];
        const code = 1 << effects.use.boolean.length + index;
        let value = +obj.value;

        if (e.target.checked) {
          obj.value = value + code;
        } else {
          obj.value = value - code;
        }

        print_applies(obj.value);
      })
    })
  </script>
  <div>
    <%
let ingredient_type_text_dict = {};
codezip.ingredient_type.forEach((code, index)=>{
  ingredient_type_text_dict[code] = __(code);
})
let ingredient_effects_text_dict = {};
codezip.effects.ingredient.forEach((code, index)=>{
  ingredient_effects_text_dict[code] = __(code);
})
%>
  </div>
  <script>
    const ingredient_type_text_dict = JSON.parse('<%- JSON.stringify(ingredient_type_text_dict) %>');
    const ingredient_effects_text_dict = JSON.parse('<%- JSON.stringify(ingredient_effects_text_dict) %>');

    function searching_ingredients(page = 1) {
      let search_params = new URLSearchParams(new FormData(search_ingredients))
      search_params.set('p', page)
      const url = '<%= codezip.url.users.api.ingredient %>?' + search_params;
      fetch(url).then(res => {
        ingredients_reload(res.json());
      })
    }

    search_ingredients.onsubmit = (event) => {
      event.preventDefault();
      searching_ingredients();
    }

    function ingredients_reload(res_json) {
      res_json.then(result => {
        // console.log(result);
        let ingredients = result.ingredients;
        let temp_html = "";

        ingredients.rows.forEach((item, index) => {
          let ingredient_effects = [];
          if (item.effects) {
            item.effects.split(',').forEach((code, index) => {
              ingredient_effects.push(ingredient_effects_text_dict[code])
            })
          }

          temp_html += `<tr onclick="select_ingredient('${item.id}');">
        <td><input type="checkbox" class="form-check-input ingredient-checkbox opacity-100" id="ingredient-${item.id}" disabled></td>
        <td id="${item.id}-ingredient_name">${item.ingredient_name}</td>
        <td>${item.material_name}</td>
        <td>${ingredient_type_text_dict[item.type]}</td>
        
        <td>${ingredient_effects.join(', ')}</td>
        <td>${item.feature ? item.feature : ''}</td>
      </tr>`
        })
        ingredients_result.innerHTML = temp_html;

        let values = option.ingredients.value ? option.ingredients.value.split(',') : [];
        values.forEach((id, index) => {
          const target = document.getElementById(`ingredient-${id}`);
          if (!target) return;
          else target.checked = true;
        })


        //make_pagination_by_func(page, count, func_name, limit)
        ingredients_pagination.innerHTML = make_pagination_by_func(+result.page, +ingredients.count, "searching_ingredients")
      });
    }
  </script>
  <script>
    document.querySelectorAll('.ingredient_type, .ingredient_effects').forEach(el => {
      el.addEventListener("change", event => {
        searching_ingredients();
      })
    })
  </script>
  <script>
    function select_ingredient(id) {
      const target = document.getElementById(`ingredient-${id}`);
      const target_name = document.getElementById(`${id}-ingredient_name`).innerText;
      if (!target) return;

      target.checked = !target.checked;
      let values = option.ingredients.value ? option.ingredients.value.split(',') : [];
      let text_list = option.ingredients.value ? ingredients_print.innerText.split(', ') : [];
      if (target.checked) {
        values.push(id);
        text_list.push(target_name)
      } else {
        values.splice(values.indexOf(id), 1);
        text_list.splice(text_list.indexOf(target_name), 1);
      }
      option.ingredients.value = values.join(',');
      if (values.length) {
        ingredients_print.innerText = text_list.join(', ');
      } else {
        ingredients_print.innerText = "<%= __('통합 검색') %>";
      }
    }
  </script>

  <script>
    function unitPriceCalc() {
      if (temp_project["moq"].value == '0') {
        unitPrice.value = "<%= __('챗봇으로 문의해주세요.') %>"
        return;
      }
      if (+temp_project["budget"].value && +temp_project["moq"].value) {
        unitPrice.value = parseInt(+temp_project["budget"].value / +temp_project["moq"].value)
      }
    }

    temp_project["moq"].addEventListener('input', (event) => {
      unitPriceCalc()
    })
    temp_project["budget"].addEventListener('input', (event) => {
      unitPriceCalc()
    })
  </script>

  <script>
    function select_mobile_func(code, number) {
      let country_number = document.getElementById('country_number');
      let select_country_number = document.getElementById('select_country_number');

      country_number.value = number;
      select_country_number.innerHTML = `<img class="me-2" src="/images/flag/${code}.png">${number}`
    }
  </script>

  <script>
    window.addEventListener('load', event => {
      print_efficacy(option.efficacy.value);
      print_applies(option.applies.value);
      searching_ingredients();


      // unitPriceCalc()
    })
  </script>

</body>

</html>