<div class="stepper-wrapper">
  <div class="stepper-item _0 completed">
    <div class="step-counter"></div>
    <div class="step-name"><%= __('project_phase0') %></div>
  </div>
  <div class="stepper-item _1 completed">
    <div class="step-counter"></div>
    <div class="step-name"><%= __('project_phase1') %></div>
  </div>
  <div class="stepper-item _2 completed">
    <div class="step-counter"></div>
    <div class="step-name"><%= __('project_phase2') %></div>
  </div>
  <div class="stepper-item _3 completed">
    <div class="step-counter"></div>
    <div class="step-name"><%= __('project_phase3') %></div>
  </div>
  <div class="stepper-item _4 completed">
    <div class="step-counter"></div>
    <div class="step-name"><%= __('project_phase4') %></div>
  </div>
  <div class="stepper-item _5 active">
    <div class="step-counter"></div>
    <div class="step-name"><%= __('project_phase5') %></div>
  </div>
  <div class="stepper-item _6">
    <div class="step-counter"></div>
    <div class="step-name"><%= __('project_phase6') %></div>
  </div>
  <div class="stepper-item _7">
    <div class="step-counter"></div>
    <div class="step-name"><%= __('project_phase7') %></div>
  </div>
  <div class="stepper-item _8">
    <div class="step-counter"></div>
    <div class="step-name"><%= __('project_phase8') %></div>
  </div>
</div>