<!DOCTYPE html>
<html lang="ko">

<head>
  <%- include ("../../partials/admin-header.ejs") %>
</head>

<body class="layout-boxed">

  <%- include ("../../partials/loader.ejs") %>

  <!--  BEGIN MAIN CONTAINER  -->
  <div class="main-container" id="container" style="padding-top: 0;">

    <div class="overlay"></div>
    <div class="search-overlay"></div>

    <%- include ("../../partials/admin-sidebar.ejs") %>

    <%- include ("../../partials/admin-nav.ejs") %>

    <!--  BEGIN CONTENT AREA  -->
    <div id="content" class="main-content admin-add">
      <div class="layout-px-spacing">

        <div class="middle-content container-xxl p-0 ">

          <!-- BREADCRUMB -->
          <div class="row">
            <div class="breadcrumb align-datas-start d-flex br-20 ">
              <div class="p-1 col-4 ">
                <h4>
                  <strong>
                    <% if(package.id) { %>
                    <%= __('admin.menu.제품관리.내용물.수정') %>
                    <% }else{ %>
                    <%= __('admin.menu.제품관리.내용물.추가') %>
                    <% } %>
                  </strong>
                </h4>
              </div>
            </div>
          </div>
          <!-- CONTENT AREA -->
          <div class="row layout-top-spacing">
            <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">

              <div class="widget-content widget-content-area br-20 p-4">
                <form id="package" method="post" enctype="multipart/form-data">
                  <!-- sort -->
                  <div class="row">

                    <div class="d-flex mt-3">
                      <label class="col-3" for="packaging_name"><%= __('packages.packaging_name') %></label>
                      <input class=" form-control" id="packaging_name" name="packaging_name" type="text" value="<%= package.packaging_name %>" required>
                    </div>

                    <div class="d-flex mt-3">
                      <label class="col-3" for="packaging_type"><%= __('packages.packaging_type') %></label>
                      <select name="packaging_type" id="packaging_type" class="form-select" required>
                        <% for(let i=0; i< codezip.numberOfPackaging.length; i++) { %>
                        <% if(i==package.packaging_type) { %>
                        <option selected value="<%= i %>"><%= __('packaging'+i) %></option>
                        <% }else{ %>
                        <option value="<%= i %>"><%= __('packaging'+i) %></option>
                        <% } %>
                        <% } %>
                      </select>
                    </div>

                    <div class="d-flex mt-3">
                      <label class="col-3" for="category1"><%= __('packages.category1') %></label>
                      <select name="category1" id="category1" class="form-select" required>
                      </select>
                    </div>

                    <div class="d-flex mt-3">
                      <label class="col-3" for="category2"><%= __('packages.category2') %></label>
                      <select name="category2" id="category2" class="form-select" required>
                      </select>
                    </div>

                    <div class="d-flex mt-3">
                      <label class="col-3" for="category3"><%= __('packages.category3') %></label>
                      <select name="category3" id="category3" class="form-select" required>
                      </select>
                    </div>

                    <div class="d-flex mt-3">
                      <label class="col-3" for="capacity"><%= __('packages.capacity') %></label>
                      <input class="form-control" id="capacity" name="capacity" type="text" value="<%= package.capacity %>">
                    </div>

                    <div class="d-flex mt-3">
                      <label class="col-3" for="use"><%= __('packages.use') %></label>
                      <input class="form-control" id="use" name="use" type="text" value="<%= package.use %>">
                    </div>

                    <div class="d-flex mt-3" style="min-height: 90px;">
                      <label class="col-3"><%= __('packages.image_paths') %></label>

                      <div class="inputImage">
                        <input id="image" name="images" type="file" accept=".jpg, .png, .gif" style="display: none;">

                        <ul id="Preview" class="d-flex sortable">
                          <% if(package.image_paths) { %>
                          <% package.image_paths.split(',').forEach((item, index)=>{ %>
                          <li class="ui-state-default mx-1 position-relative">
                            <img src="<%= item %>" width=80 height=80>
                          </li>
                          <% }) %>
                          <% } %>
                        </ul>
                      </div>
                    </div>

                    <div class="text-center mt-3">
                      <label for="image" class="addImgBtn btn px-3"><%= __('btn.파일등록') %></label>
                    </div>

                  </div>

                  <div class="text-center mt-4">
                    <button class="btn btn-lg px-5">
                      <% if(package.id) { %>
                      <%= __('btn.수정') %>
                      <% }else{ %>
                      <%= __('btn.추가') %>
                      <% } %>
                    </button>
                  </div>
                </form>
              </div>
            </div>


          </div>
        </div>
      </div>

    </div>
  </div>
  </div>
  <!--  END CONTENT AREA  -->


  </div>
  <!-- END MAIN CONTAINER -->

  <%- include ("../../partials/commonScrpits.ejs") %>

  <!-- <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script> -->

  <!-- <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->

  <script>
    $(function() {
      //드래그 앤 드롭
      $(".sortable").sortable();

      //이미지 등록
      $("#image").change(function(e) {
        //div 내용 비워주기
        $('#Preview').empty();

        var files = e.target.files;
        var arr = Array.prototype.slice.call(files);

        if (files.length > 5) {
          alert('이미지 개수가 초과되었습니다.');
          image.value = '';
          return false;
        }
        //업로드 가능 파일인지 체크
        for (var i = 0; i < files.length; i++) {
          if (!checkExtension(files[i].name, files[i].size)) {
            return false;
          }
        }
        preview(arr);

        function checkExtension(fileName, fileSize) {
          var regex = new RegExp("(.*?)\.(exe|sh|zip|alz)$");
          var maxSize = 5 * 1024 * 1024; // 5 MB

          if (fileSize >= maxSize) {
            alert('이미지 크기가 초과되었습니다.');
            image.value = '';
            $("#image").val(""); //파일 초기화
            return false;
          }

          if (regex.test(fileName)) {
            alert('확장자명을 확인해주세요.');
            image.value = '';
            $("#image").val(""); //파일 초기화
            return false;
          }
          return true;
        }

        function preview(arr) {
          arr.forEach(function(f) {
            //파일명이 길면 파일명...으로 처리
            /*
            var fileName = f.name;
            if(fileName.length > 10){
                fileName = fileName.substring(0,7)+"...";
            }
            */

            //div에 이미지 추가
            var str = '<li class="ui-state-default mx-1 position-relative">';
            //str += '<span>'+fileName+'</span><br>';

            //이미지 파일 미리보기
            if (f.type.match('image.*')) {
              //파일을 읽기 위한 FileReader객체 생성
              var reader = new FileReader();
              reader.onload = function(e) {
                //파일 읽어들이기를 성공했을때 호출되는 이벤트 핸들러
                str += '<img src="' + e.target.result + '" title="' + f.name + '" width=80 height=80>';
                // str += '<div class="imgDelBtn" onclick="delImg(this)">x</div>';
                str += '</li>';
                document.getElementById("Preview").innerHTML += str;
              }
              reader.readAsDataURL(f);
            } else {
              //이미지 파일 아닐 경우 대체 이미지
              /*
              str += '<img src="/resources/img/fileImg.png" title="'+f.name+'" width=60 height=60 />';
              $(str).appendTo('#Preview');
              */
            }
          })
        }
      })
    })

    //이미지 삭제
    /*
    function delImg(_this) {
      $(_this).parent('li').remove()
    }
    */
  </script>
  <div>
    <%
    let category1_name_list={};
    let category2_name_list={};
    let category3_name_list={};
    for (let i=0; i < codezip.numberOfPackaging.length; i++) {
      let info = codezip.numberOfPackaging[i];

      category1_name_list[i]=[];
      category2_name_list[i]=[];
      category3_name_list[i]=[];

      for (let j=0; j < info.category1; j++) { 
        category1_name_list[i].push(__('packaging'+i+'.category1.'+j));
      }
      for (let j=0; j < info.category2; j++) { 
        category2_name_list[i].push(__('packaging'+i+'.category2.'+j));
      }
      for (let j=0; j < info.category3; j++) { 
        category3_name_list[i].push(__('packaging'+i+'.category3.'+j));
      }
    }
    %>
  </div>
  <script>
    const numberOfPackaging = JSON.parse('<%- JSON.stringify(codezip.numberOfPackaging) %>');
    const category1_name_list = JSON.parse('<%- JSON.stringify(category1_name_list) %>');
    const category2_name_list = JSON.parse('<%- JSON.stringify(category2_name_list) %>');
    const category3_name_list = JSON.parse('<%- JSON.stringify(category3_name_list) %>');
  </script>
  <script>
    function load_category1_menu(value) {
      let temp_html = "";
      let n = numberOfPackaging[value].category1;
      for (let i = 0; i < n; i++) {
        temp_html += `<option value="${i}">
                          ${category1_name_list[value][i]}
        </option>`
      }
      category1.innerHTML = temp_html;
    }

    function load_category2_menu(value) {
      let temp_html = "";
      let n = numberOfPackaging[value].category2;
      for (let i = 0; i < n; i++) {
        temp_html += `<option value="${i}">
                          ${category2_name_list[value][i]}
        </option>`
      }
      category2.innerHTML = temp_html;
    }

    function load_category3_menu(value) {
      let temp_html = "";
      let n = numberOfPackaging[value].category3;
      for (let i = 0; i < n; i++) {
        temp_html += `<option value="${i}">
                          ${category3_name_list[value][i]}
        </option>`
      }
      category3.innerHTML = temp_html;
    }

    package.packaging_type.addEventListener('change', e => {
      let value = +category1.value;
      load_category2_menu(value);
    })

    window.addEventListener('load', e => {
      load_category1_menu('<%= package.packaging_type %>' || 0);
      load_category2_menu('<%= package.packaging_type %>' || 0);
      load_category3_menu('<%= package.packaging_type %>' || 0);
      category1.value = '<%= package.category1 %>' || 0;
      category2.value = '<%= package.category2 %>' || 0;
      category3.value = '<%= package.category3 %>' || 0;
    })
  </script>
</body>

</html>