<!DOCTYPE html>
<html lang="ko">

<head>
  <%- include ("../../partials/admin-header.ejs") %>
</head>

<body>
  <%- include ("../../partials/loader.ejs") %>

  <!--  BEGIN CONTENT AREA  -->
  <div class="main-container" id="container">
    <div class="overlay"></div>
    <div class="search-overlay"></div>

    <%- include ("../../partials/admin-sidebar.ejs") %>

    <%- include ("../../partials/admin-nav.ejs") %>

    <div class="container">
      <div class="row">
        <div class="col">
          <div class="title">
            <h1><%= __('admin.menu.제품관리.용기') %></h1>
          </div>
        </div>
      </div>

      <div class="search">
        <form id="search">
          <div class="row">
            <div class="col-11" style="padding-right: 0 !important;">
              <input name="q" type="text" placeholder="<%= __('placeholder.admin.package.search') %>" value="<%= word %>">
            </div>
            <div class="col-1" style="padding-left: 0 !important;">
              <button><%= __('btn.검색') %></button>
            </div>
          </div>
        </form>
      </div>

      <table class="table table-hover">
        <thead class="table-header">
          <tr>
            <th scope="col"><%= __("table.head.용기.용기명") %></th>
            <th scope="col"><%= __("table.head.용기.용기종류") %></th>
            <th scope="col"><%= __("table.head.용기.대분류") %></th>
            <th scope="col"><%= __("table.head.용기.중분류") %></th>
            <th scope="col"><%= __("table.head.용기.소분류") %></th>
            <th scope="col"><%= __("table.head.용기.용도") %></th>
            <th scope="col"><%= __("table.head.삭제/복구") %></th>
          </tr>
          <tr aria-hidden="true" class="mt-3 d-block table-row-hidden"></tr>
        </thead>

        <tbody class="table-body">
          <% packages.rows.forEach((item,index)=>{ %>
          <tr onclick="location.href='<%= codezip.url.admin.packaging.main %>/<%= item.id %>';">
            <td><%= item.packaging_name %></td>
            <td><%= __('packaging' + item.packaging_type) %></td>
            <td><%= __('packaging' + item.packaging_type + '.category1.' + item.category1) %></td>
            <td><%= __('packaging' + item.packaging_type + '.category2.' + item.category2) %></td>
            <td><%= __('packaging' + item.packaging_type + '.category3.' + item.category3) %></td>
            <td><%= item.use %></td>
            <td>
              <div id="action_btn-<%= item.id %>" class="hover">
                <% if(item.delete_date) { %>
                <div onclick="recovery_package('<%= item.id %>');"><%= __('btn.복구') %></div>
                <% }else{ %>
                <div onclick="delete_package('<%= item.id %>');"><%= __('btn.삭제') %></div>
                <% } %>
              </div>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <!-- pagination-->
      <div class="d-flex justify-content-between pt-5">
        <div></div>
        <%-
      make_pagination_by_href(
        __,
        +page,
        +packages.count,
        codezip.url.admin.packaging.main,
        10,
        word
      )
    %>
        <div>
          <button type="button" class="px-3 py-2 br-10" onclick="location.href='<%= codezip.url.admin.packaging.add %>';"><%= __('btn.추가') %></button>
        </div>
      </div>


    </div>
  </div>

  <%- include ("../../partials/commonScrpits.ejs") %>

  <script>
    function recovery_package(id) {
      event.stopPropagation();

      const url = '<%= codezip.url.admin.packaging.recovery %>/' + id;
      fetch(url)
        .then(res => {
          if (res.ok) {
            document.getElementById("action_btn-" + id).innerHTML = `<div onclick="delete_package(${id});"><%= __('btn.삭제') %></div>`;
          } else {
            alert("<%= __('msg.fail') %>");
            location.reload();
          }
        })
    }

    function delete_package(id) {
      event.stopPropagation();

      const url = '<%= codezip.url.admin.packaging.delete %>/' + id;
      fetch(url)
        .then(res => {
          if (res.ok) {
            document.getElementById("action_btn-" + id).innerHTML = `<div onclick="recovery_package(${id});"><%= __('btn.복구') %></div>`
          } else {
            alert("<%= __('msg.fail') %>");
            location.reload();
          }
        })
    }
  </script>

</body>

</html>