  <div class="l-navbar" id="navbar">
    <nav class="nav">
      <div>
        <div class="nav__brand">
          <i class="nav__toggle fa-solid fa-bars" id="nav-toggle"></i>
          <a href="#" class="nav__logo"><%= __('web.title') %></a>

          <!-- <div class="navbar-btn p-2 text-center">
            <button type="button">
              >>
            </button>
          </div> -->
        </div>



        <div class="nav__list">

          <div class="nav__toggle">
            <i class="fa-solid fa-user-group"></i>
            <span class="nav_name"><%= __('admin.menu.회원관리') %></span>

            <ul class="menu">
              <li><a href="<%= codezip.url.admin.users.main %>" class="sublink"><%= __('admin.menu.회원관리.개인정보') %></a></li>
            </ul>
          </div>


          <div class="nav__toggle">
            <i class="fa-solid fa-list-check"></i>
            <span class="nav_name"><%= __('admin.menu.제품관리') %></span>


            <ul class="menu">
              <li><a href="<%= codezip.url.admin.formula.main %>" class="sublink"><%= __('admin.menu.제품관리.내용물') %></a></li>
              <li><a href="<%= codezip.url.admin.packaging.main %>" class="sublink"><%= __('admin.menu.제품관리.용기') %></a></li>
              <li><a href="<%= codezip.url.admin.ingredient.main %>" class="sublink"><%= __('admin.menu.제품관리.원료') %></a></li>
            </ul>
          </div>

          <a href="<%= codezip.url.admin.news.main %>" class="nav__link">
            <i class="fa-regular fa-rectangle-list"></i>
            <span class="nav_name"><%= __('admin.menu.공지사항') %></span>
          </a>
          <a href="<%= codezip.url.admin.community.main %>" class="nav__link">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 76 79" fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" enable-background="new 0 0 76 79" xml:space="preserve" width="1.25rem" height="1.25rem">
              <path d=" M25.155777,7.963665   C40.179207,1.803350 56.967968,5.884442 67.349892,19.030041   C75.288773,29.082272 78.133476,43.187805 71.355103,57.284161   C60.718136,79.404892 32.602779,84.636047 14.266804,68.624016   C0.376286,56.494022 -1.421734,33.007725 10.068897,19.704878   C14.085155,15.055204 19.818537,11.888733 25.155777,7.963665  M9.988409,50.330986   C10.614675,52.129116 11.240939,53.927250 11.878201,55.756958   C15.772941,54.193386 19.303852,52.775875 22.998999,51.292431   C22.998999,45.801323 23.174013,40.314350 22.879189,34.852741   C22.802971,33.440804 21.561731,31.587959 20.315285,30.848539   C17.770979,29.339199 14.859478,28.448845 11.887424,27.215633   C9.102835,34.705311 6.474442,41.822758 9.988409,50.330986  M54.419350,50.869911   C58.044697,52.598644 61.670048,54.327381 65.422432,56.116692   C70.344208,46.158077 70.480667,36.571697 65.362221,26.990536   C62.012985,28.492199 59.098633,29.573059 56.450363,31.111847   C55.554176,31.632578 54.953251,33.283699 54.865574,34.466290   C54.479561,39.672844 54.330376,44.896961 54.419350,50.869911  M29.000019,45.317944   C29.069941,46.782242 29.139864,48.246544 29.199562,49.496742   C35.917248,49.496742 42.325184,49.496742 48.644768,49.496742   C48.644768,43.936329 48.644768,38.539474 48.644768,33.510284   C41.986240,33.510284 35.689625,33.510284 29.000000,33.510284   C29.000000,37.091839 29.000000,40.728218 29.000019,45.317944  M33.934887,15.591733   C32.560493,19.175898 31.186102,22.760061 29.193863,27.955452   C35.082687,27.955452 39.953918,28.105547 44.797215,27.805231   C45.589005,27.756138 47.097878,25.448475 46.839233,24.649736   C45.653259,20.987312 44.503853,17.100006 42.312244,14.027460   C39.220207,9.692543 37.554916,10.143115 33.934887,15.591733  M46.097496,60.601860   C47.781860,58.180210 47.363861,55.720730 44.532711,55.392693   C39.796650,54.843937 34.950794,55.242779 29.302038,55.242779   C32.291130,62.277779 32.300404,69.200844 40.347008,72.575691   C42.289185,68.742332 44.147812,65.073875 46.097496,60.601860  M59.958549,21.454937   C56.921970,18.913721 53.885387,16.372503 50.848808,13.831286   C50.607891,14.069037 50.366974,14.306789 50.126057,14.544541   C51.261078,18.218292 52.396103,21.892044 53.714096,26.158005   C56.133530,24.654329 58.272324,23.325075 59.958549,21.454937  M57.964096,63.548122   C58.886665,62.521103 59.809231,61.494083 60.951797,60.222157   C58.154640,59.133457 55.763325,58.202721 53.553574,57.342651   C52.431568,61.140038 51.350395,64.799225 49.993244,69.392464   C52.892952,67.310020 55.169827,65.674873 57.964096,63.548122  M26.812880,16.663057   C27.035858,15.843527 27.258837,15.023997 27.845175,12.868990   C23.555183,16.555702 20.271193,19.377882 16.757700,22.397289   C19.405811,23.670071 21.522028,24.687204 23.886675,25.823740   C24.746155,22.767651 25.527218,19.990389 26.812880,16.663057  M27.258713,67.753708   C26.504751,65.461395 25.549980,63.212063 25.047802,60.865860   C24.424034,57.951580 23.172165,57.219532 20.589867,58.829437   C19.570868,59.464722 18.418732,59.886448 16.016214,61.028751   C20.464281,63.804764 24.080881,66.061867 27.258713,67.753708  z" />
            </svg>
            <span class="nav_name"><%= __('admin.menu.커뮤니티') %></span>
          </a>

          <a href="<%= codezip.url.users.signOut %>" class="nav__link">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" stroke="currentColor" width="24px" height="24px" stroke-width="2" stroke-linecap="round" viewBox="0 0 76 85">
              <path d=" M4.116826,78.265404   C4.013828,55.503761 4.004358,33.174091 4.001761,10.844418   C4.001094,5.110954 5.633172,3.164078 11.493685,3.054947   C21.821774,2.862622 32.168144,2.702272 42.482834,3.120762   C48.066319,3.347296 50.111496,4.964166 50.024464,10.953341   C49.920639,18.097635 49.999989,25.244595 49.999989,32.757912   C48.379898,32.856651 46.978878,32.942039 44.999851,33.062656   C44.999851,26.376459 44.834988,19.922174 45.064762,13.481969   C45.192432,9.903473 43.832859,8.870009 40.404411,8.939007   C31.409502,9.120029 22.407000,9.094803 13.410821,8.948723   C10.272186,8.897758 8.923581,9.773623 8.943764,13.164448   C9.059805,32.660618 9.052705,52.158115 8.947888,71.654411   C8.930679,74.855194 9.904271,76.115456 13.229795,76.056175   C22.392075,75.892853 31.560974,75.895958 40.723400,76.055168   C43.999668,76.112099 45.147400,74.955482 45.053230,71.699997   C44.870495,65.382965 44.999775,59.056904 44.999775,52.369476   C46.643154,52.369476 48.139885,52.369476 49.998058,52.369476   C49.998058,60.263142 50.100910,68.066177 49.959629,75.864799   C49.874367,80.571159 45.989986,81.757523 42.545216,81.873688   C32.225281,82.221680 21.878883,82.206718 11.559663,81.848320   C9.077263,81.762108 6.660084,79.797905 4.116826,78.265404  z" />
              <path d=" M59.014618,26.045418   C61.348267,27.193729 63.484882,28.141630 65.157600,29.615877   C67.892479,32.026257 70.339447,34.765663 72.881897,37.391415   C75.979965,40.590984 76.047028,44.575195 72.781273,47.673988   C68.716423,51.531021 64.464005,55.191494 60.245110,58.882576   C59.964554,59.128029 59.282509,58.914581 57.212154,58.914581   C58.536896,56.183857 59.391861,53.891689 60.689957,51.886368   C62.151241,49.628956 64.011978,47.630116 66.067307,45.057789   C50.499809,45.057789 35.586002,45.057789 20.322596,45.057789   C20.176996,43.435238 20.051184,42.033199 19.889898,40.235855   C35.192932,40.235855 50.269775,40.235855 66.303703,40.235855   C63.861748,37.226780 61.647526,35.077080 60.184765,32.500732   C59.138016,30.657087 59.098286,28.241688 59.014618,26.045418  z" />
            </svg>
            <span class="nav_name"><%= __('Log out') %></span>
          </a>
        </div>

        <div class="py-5"></div>
      </div>
    </nav>
  </div>

  <!-- JS -->
  <script>
    /* EXPANDER MENU */
    const showMenu = (toggleClass, navbarId, bodyId) => {
      const navbar = document.getElementById(navbarId);

      document.querySelectorAll('.' + toggleClass).forEach(el => {
        if (navbar) {
          el.addEventListener('click', () => {
            navbar.classList.toggle('expander');
          })
        }
      })
    }

    showMenu('nav__toggle', 'navbar')

    /* LINK ACTIVE */
    const linkColor = document.querySelectorAll('.nav__link')

    function colorLink() {
      linkColor.forEach(l => l.classList.remove('active'))
      this.classList.add('active')
    }
    linkColor.forEach(l => l.addEventListener('click', colorLink))
  </script>