<!DOCTYPE html>
<html lang="ko">

<head>
  <%- include ("../../partials/admin-header.ejs") %>
</head>

<body class="layout-boxed">

  <%- include ("../../partials/loader.ejs") %>

  <!--  BEGIN MAIN CONTAINER  -->
  <div class="main-container" id="container" style="padding-top: 0;">

    <div class="overlay"></div>
    <div class="search-overlay"></div>

    <%- include ("../../partials/admin-sidebar.ejs") %>

    <%- include ("../../partials/admin-nav.ejs") %>

    <!--  BEGIN CONTENT AREA  -->
    <div id="content" class="main-content admin-add">
      <div class="layout-px-spacing">

        <div class="middle-content container-xxl p-0 ">

          <!-- BREADCRUMB -->
          <div class="row">
            <div class="breadcrumb align-datas-start d-flex br-20 ">
              <div class="p-1 col-4 ">
                <h5>
                  <strong>
                    <% if(formula.id) { %>
                    <%= __('admin.menu.제품관리.내용물.수정') %>
                    <% }else{ %>
                    <%= __('admin.menu.제품관리.내용물.추가') %>
                    <% } %>
                  </strong>
                </h5>
              </div>
            </div>
          </div>
          <!-- CONTENT AREA -->
          <div class="row layout-top-spacing">
            <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">

              <div class="widget-content widget-content-area br-20 p-4">
                <form id="formula" method="post" enctype="multipart/form-data">
                  <!-- sort -->
                  <div class="row">
                    <div class="d-flex mt-3">
                      <label class="col-3" for="top_or_new"><%= __('formulas.top_or_new') %></label>
                      <select name="top_or_new" id="top_or_new" class="form-select" required>
                        <% for(let i=0; i< 2; i++) { %>
                        <% if(i==formula.top_or_new) { %>
                        <option selected value="<%= i %>"><%= __('top_or_new.'+i) %></option>
                        <% }else{ %>
                        <option value="<%= i %>"><%= __('top_or_new.'+i) %></option>
                        <% } %>
                        <% } %>
                      </select>
                    </div>

                    <div class="d-flex mt-3">
                      <label class="col-3" for="product_name"><%= __('formulas.product_name') %></label>
                      <input class=" form-control" id="product_name" name="product_name" type="text" value="<%= formula.product_name %>" required>
                    </div>
                    <div class="d-flex mt-3">
                      <label class="col-3" for="award"><%= __('formulas.award') %></label>
                      <input class=" form-control" id="award" name="award" type="text" value="<%= formula.award %>">
                    </div>
                    <div class="d-flex mt-3">
                      <label class="col-3" for="category1"><%= __('formulas.category1') %></label>
                      <select name="category1" id="category1" class="form-select" required>
                        <% for(let i=0; i< codezip.numberOfProduct.category1; i++) { %>
                        <% if(formula.category1==i){ %>
                        <option selected value="<%= i %>">
                          <% }else{ %>
                        <option value="<%= i %>">
                          <% } %>
                          <%= __('product'+i) %>
                        </option>
                        <% } %>
                      </select>
                    </div>
                    <div class="d-flex mt-3">
                      <label class="col-3" for="category2"><%= __('formulas.category2') %></label>
                      <select name="category2" id="category2" class="form-select" required>
                        <option value="">선택</option>
                        <option value="test">test</option>

                      </select>
                    </div>
                    <div class="d-flex mt-3">
                      <label class="col-3" for="efficacy"><%= __('formulas.efficacy') %></label>
                      <textarea rows="5" maxlength="100" class="form-control" id="efficacy" name="efficacy"><%= formula.efficacy %></textarea>
                    </div>
                    <div class="d-flex mt-3">
                      <label class="col-3" for="ingredients"><%= __('formulas.ingredients') %></label>
                      <textarea rows="5" maxlength="100" class="form-control" id="ingredients" name="ingredients"><%= formula.ingredients %></textarea>
                    </div>
                    <div class="d-flex mt-3">
                      <label class="col-3" for="viscosity"><%= __('formulas.viscosity') %></label>
                      <input class="form-control" id="viscosity" name="viscosity" type="number" value="<%= formula.viscosity %>">
                    </div>
                    <div class="d-flex mt-3">
                      <label class="col-3" for="applies"><%= __('formulas.applies') %></label>
                      <textarea rows="5" maxlength="100" class="form-control" id="applies" name="applies"><%= formula.applies %></textarea>
                    </div>
                    <div class="d-flex mt-3">
                      <label class="col-3" for="color"><%= __('formulas.color') %></label>
                      <input class="form-control" id="color" name="color" type="text" value="<%= formula.color %>">
                    </div>
                    <div class="d-flex mt-3">
                      <label class="col-3" for="fragrance"><%= __('formulas.fragrance') %></label>
                      <input class="form-control" id="fragrance" name="fragrance" type="text" value="<%= formula.fragrance %>">
                    </div>

                    <div class="d-flex mt-3" style="min-height: 90px;">
                      <label class="col-3"><%= __('formulas.image_paths') %></label>

                      <div class="inputImage">
                        <input id="image" name="images" type="file" accept=".jpg, .png, .gif" style="display: none;" multiple>

                        <ul id="Preview" class="d-flex sortable">
                          <% if(formula.image_paths) { %>
                          <% formula.image_paths.split(',').forEach((item, index)=>{ %>
                          <li class="ui-state-default mx-1 position-relative">
                            <img src="<%= item %>" width=80 height=80>
                          </li>
                          <% }) %>
                          <% } %>
                        </ul>
                      </div>
                    </div>
                    <div class="text-center mt-3">
                      <label for="image" class="addImgBtn btn px-3"><%= __('btn.파일등록') %></label>
                    </div>

                  </div>

                  <div class="text-center mt-4">
                    <button class="btn btn-lg px-5">
                      <% if(formula.id) { %>
                      <%= __('btn.수정') %>
                      <% }else{ %>
                      <%= __('btn.추가') %>
                      <% } %>
                    </button>
                  </div>
                </form>
              </div>
            </div>


          </div>
        </div>
      </div>

    </div>
  </div>
  </div>
  <!--  END CONTENT AREA  -->


  </div>
  <!-- END MAIN CONTAINER -->

  <%- include ("../../partials/commonScrpits.ejs") %>

  <!-- <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script> -->

  <!-- <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> -->

  <script>
    $(function() {
      //드래그 앤 드롭
      $(".sortable").sortable();

      //이미지 등록
      $("#image").change(function(e) {
        //div 내용 비워주기
        $('#Preview').empty();

        var files = e.target.files;
        var arr = Array.prototype.slice.call(files);

        if (files.length > 5) {
          alert('이미지 개수가 초과되었습니다.');
          image.value = '';
          return false;
        }
        //업로드 가능 파일인지 체크
        for (var i = 0; i < files.length; i++) {
          if (!checkExtension(files[i].name, files[i].size)) {
            return false;
          }
        }
        preview(arr);

        function checkExtension(fileName, fileSize) {
          var regex = new RegExp("(.*?)\.(exe|sh|zip|alz)$");
          var maxSize = 5 * 1024 * 1024; // 5 MB

          if (fileSize >= maxSize) {
            alert('이미지 크기가 초과되었습니다.');
            image.value = '';
            $("#image").val(""); //파일 초기화
            return false;
          }

          if (regex.test(fileName)) {
            alert('확장자명을 확인해주세요.');
            image.value = '';
            $("#image").val(""); //파일 초기화
            return false;
          }
          return true;
        }

        function preview(arr) {
          arr.forEach(function(f) {
            //파일명이 길면 파일명...으로 처리
            /*
            var fileName = f.name;
            if(fileName.length > 10){
                fileName = fileName.substring(0,7)+"...";
            }
            */

            //div에 이미지 추가
            var str = '<li class="ui-state-default mx-1 position-relative">';
            //str += '<span>'+fileName+'</span><br>';

            //이미지 파일 미리보기
            if (f.type.match('image.*')) {
              //파일을 읽기 위한 FileReader객체 생성
              var reader = new FileReader();
              reader.onload = function(e) {
                //파일 읽어들이기를 성공했을때 호출되는 이벤트 핸들러
                str += '<img src="' + e.target.result + '" title="' + f.name + '" width=80 height=80>';
                // str += '<div class="imgDelBtn" onclick="delImg(this)">x</div>';
                str += '</li>';
                document.getElementById("Preview").innerHTML += str;
              }
              reader.readAsDataURL(f);
            } else {
              //이미지 파일 아닐 경우 대체 이미지
              /*
              str += '<img src="/resources/img/fileImg.png" title="'+f.name+'" width=60 height=60 />';
              $(str).appendTo('#Preview');
              */
            }
          })
        }
      })
    })

    //이미지 삭제
    /*
    function delImg(_this) {
      $(_this).parent('li').remove()
    }
    */
  </script>
  <div>
    <% let category1_name_list=[]; %>
    <% let category2_name_list={} %>
    <% for (let i=0; i < codezip.numberOfProduct.category1; i++) { %>
    <% category1_name_list.push(__('product'+i)); %>
    <% category2_name_list[i]={}; %>
    <% for (let j=0; j < codezip.numberOfProduct.category2[i]; j++) { %>
    <% category2_name_list[i][j]=__('product'+i+'.'+j); %>
    <% } } %>
  </div>
  <script>
    const numberOfProduct = JSON.parse('<%- JSON.stringify(codezip.numberOfProduct) %>');
    const category1_name_list = JSON.parse('<%- JSON.stringify(category1_name_list) %>');
    const category2_name_list = JSON.parse('<%- JSON.stringify(category2_name_list) %>');
  </script>
  <script>
    function load_category2_menu(value) {
      let temp_html = "";
      let category2_n = numberOfProduct.category2[value];
      for (let i = 0; i < category2_n; i++) {
        temp_html += `<option value="${i}">
                          ${category2_name_list[value][i]}
        </option>`
      }
      category2.innerHTML = temp_html;
    }

    formula.category1.addEventListener('change', e => {
      let value = +category1.value;
      load_category2_menu(value);
    })

    window.addEventListener('load', e => {
      load_category2_menu('<%= formula.category1 %>' || 0);
      category2.value = '<%= formula.category2 %>' || 0;
    })
  </script>
</body>

</html>